In [ ]:
%matplotlib inline
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from google.colab import drive
drive.mount('/content/drive')
train_df = pd.read_csv('./drive/MyDrive/open/train.csv')
test_df = pd.read_csv('./drive/MyDrive/open/test.csv')
import warnings
warnings.filterwarnings(action='ignore')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
train_df

,PRODUCT_ID,Y_Class,Y_Quality,TIMESTAMP,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
0,TRAIN_000,1,0.533433,2022-06-13 5:14,T050304,A_31,NaN,NaN,NaN,NaN,...,39.34,40.89,32.56,34.09,77.77,NaN,NaN,NaN,NaN,NaN
1,TRAIN_001,2,0.541819,2022-06-13 5:22,T050307,A_31,NaN,NaN,NaN,NaN,...,38.89,42.82,43.92,35.34,72.55,NaN,NaN,NaN,NaN,NaN
2,TRAIN_002,1,0.531267,2022-06-13 5:30,T050304,A_31,NaN,NaN,NaN,NaN,...,39.19,36.65,42.47,36.53,78.35,NaN,NaN,NaN,NaN,NaN
3,TRAIN_003,2,0.537325,2022-06-13 5:39,T050307,A_31,NaN,NaN,NaN,NaN,...,37.74,39.17,52.17,30.58,71.78,NaN,NaN,NaN,NaN,NaN
4,TRAIN_004,1,0.531590,2022-06-13 5:47,T050304,A_31,NaN,NaN,NaN,NaN,...,38.70,41.89,46.93,33.09,76.97,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593,TRAIN_593,1,0.526546,2022-09-08 14:30,T100306,T_31,2.0,95.0,0.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
594,TRAIN_594,0,0.524022,2022-09-08 22:38,T050304,A_31,NaN,NaN,NaN,NaN,...,49.47,53.07,50.89,55.10,66.49,1.0,NaN,NaN,NaN,NaN
595,TRAIN_595,0,0.521289,2022-09-08 22:47,T050304,A_31,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
596,TRAIN_596,1,0.531375,2022-09-08 14:38,T100304,O_31,40.0,94.0,0.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
597,TRAIN_597,1,0.533702,2022-09-08 14:46,T100306,O_31,21.0,87.0,0.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
train_dfs = train_df[['PRODUCT_ID','Y_Class','Y_Quality']]
train_dfs

    PRODUCT_ID  Y_Class  Y_Quality
0    TRAIN_000        1   0.533433
1    TRAIN_001        2   0.541819
2    TRAIN_002        1   0.531267
3    TRAIN_003        2   0.537325
4    TRAIN_004        1   0.531590
..         ...      ...        ...
593  TRAIN_593        1   0.526546
594  TRAIN_594        0   0.524022
595  TRAIN_595        0   0.521289
596  TRAIN_596        1   0.531375
597  TRAIN_597        1   0.533702

[598 rows x 3 columns]

In [ ]:
test_df

,PRODUCT_ID,TIMESTAMP,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
0,TEST_000,2022-09-09 2:01,T100306,T_31,2.0,94.0,0.0,45.0,10.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TEST_001,2022-09-09 2:09,T100304,T_31,2.0,93.0,0.0,45.0,11.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TEST_002,2022-09-09 8:42,T100304,T_31,2.0,95.0,0.0,45.0,11.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TEST_003,2022-09-09 10:56,T010305,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TEST_004,2022-09-09 11:04,T010306,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,TEST_305,2022-11-05 11:18,T100306,T_31,2.0,91.0,0.0,45.0,10.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
306,TEST_306,2022-11-05 16:39,T100304,T_31,2.0,96.0,0.0,45.0,11.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307,TEST_307,2022-11-05 16:47,T100306,T_31,2.0,91.0,0.0,45.0,10.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308,TEST_308,2022-11-05 20:53,T100306,T_31,2.0,95.0,0.0,45.0,10.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309,TEST_309,2022-11-05 21:01,T100306,T_31,2.0,87.0,0.0,45.0,10.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
import pandas as pd

df=train_df

# Compute the correlation matrix
corr_matrix = df.corr().abs()

# Set a threshold for identifying highly correlated columns
threshold = 0.8

# Find index of feature columns with correlation greater than threshold
# Exclude diagonal elements by using mask and np.ones_like function
mask = np.ones_like(corr_matrix, dtype=bool)
mask[np.triu_indices_from(mask)] = False
high_corr_cols = np.where(corr_matrix > threshold, mask, False)
high_corr_cols = np.column_stack(np.where(high_corr_cols))

# Identify the column(s) to keep from each pair of highly correlated columns
cols_to_drop = set()
for i, j in high_corr_cols:
    if i not in cols_to_drop and j not in cols_to_drop:
        corr_i = corr_matrix.iloc[i, i+1:]
        corr_j = corr_matrix.iloc[j, j+1:]
        if corr_i.mean() > corr_j.mean():
            cols_to_drop.add(j)
        else:
            cols_to_drop.add(i)

# Drop the highly correlated columns from the DataFrame
df.drop(df.columns[list(cols_to_drop)], axis=1, inplace=True)
train_df=df

In [ ]:
train_df

,PRODUCT_ID,Y_Class,Y_Quality,TIMESTAMP,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
0,TRAIN_000,1,0.533433,2022-06-13 5:14,T050304,A_31,NaN,NaN,NaN,NaN,...,39.34,40.89,32.56,34.09,77.77,NaN,NaN,NaN,NaN,NaN
1,TRAIN_001,2,0.541819,2022-06-13 5:22,T050307,A_31,NaN,NaN,NaN,NaN,...,38.89,42.82,43.92,35.34,72.55,NaN,NaN,NaN,NaN,NaN
2,TRAIN_002,1,0.531267,2022-06-13 5:30,T050304,A_31,NaN,NaN,NaN,NaN,...,39.19,36.65,42.47,36.53,78.35,NaN,NaN,NaN,NaN,NaN
3,TRAIN_003,2,0.537325,2022-06-13 5:39,T050307,A_31,NaN,NaN,NaN,NaN,...,37.74,39.17,52.17,30.58,71.78,NaN,NaN,NaN,NaN,NaN
4,TRAIN_004,1,0.531590,2022-06-13 5:47,T050304,A_31,NaN,NaN,NaN,NaN,...,38.70,41.89,46.93,33.09,76.97,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593,TRAIN_593,1,0.526546,2022-09-08 14:30,T100306,T_31,2.0,95.0,0.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
594,TRAIN_594,0,0.524022,2022-09-08 22:38,T050304,A_31,NaN,NaN,NaN,NaN,...,49.47,53.07,50.89,55.10,66.49,1.0,NaN,NaN,NaN,NaN
595,TRAIN_595,0,0.521289,2022-09-08 22:47,T050304,A_31,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
596,TRAIN_596,1,0.531375,2022-09-08 14:38,T100304,O_31,40.0,94.0,0.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
597,TRAIN_597,1,0.533702,2022-09-08 14:46,T100306,O_31,21.0,87.0,0.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
cols_to_drop

{0,
 1,
 2,
 6,
 8,
 10,
 12,
 13,
 14,
 21,
 22,
 23,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 87,
 88,
 89,
 98,
 99,
 100,
 102,
 104,
 111,
 118,
 120,
 121,
 122,
 124,
 125,
 126,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 137,
 138,
 139,
 140,
 141,
 142,
 149,
 150,
 151,
 166,
 170,
 182,
 184,
 190,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 239,
 241,
 243,
 244,
 246,
 247,
 248,
 249,
 251,
 252,
 254,
 255,
 257,
 258,
 259,
 262,
 263,
 266,
 267,
 268,
 269,
 270,
 271,
 274,
 278,
 282,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 319,
 321,
 322,
 332,
 333,
 334,
 336,
 345,
 346,
 347,
 349,
 350,
 351,
 353,
 354,
 355,
 359,
 363,
 365,
 366,
 367,
 368,
 369,
 371,
 373,
 375,
 381,
 385,
 386,
 387,
 390,
 399,
 400,
 401,
 403,
 405,
 408,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 429,
 437,
 441,
 443,
 444,
 446,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 469,
 470,
 471,
 473,
 476,
 479,
 482,
 483,
 484,
 485,
 486,
 487,
 489,
 491,
 492,
 493,
 494,
 495,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 505,
 507,
 508,
 511,
 514,
 515,
 516,
 517,
 518,
 519,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 535,
 536,
 541,
 542,
 547,
 548,
 550,
 551,
 563,
 565,
 566,
 567,
 569,
 576,
 578,
 579,
 580,
 586,
 591,
 594,
 597,
 598,
 599,
 615,
 622,
 626,
 627,
 628,
 629,
 630,
 631,
 633,
 636,
 638,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 662,
 664,
 666,
 676,
 678,
 680,
 686,
 690,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 713,
 714,
 715,
 719,
 725,
 728,
 731,
 732,
 734,
 735,
 738,
 742,
 743,
 746,
 747,
 748,
 751,
 752,
 753,
 754,
 759,
 764,
 767,
 772,
 775,
 776,
 781,
 782,
 785,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 818,
 819,
 820,
 821,
 832,
 833,
 834,
 841,
 843,
 848,
 854,
 855,
 856,
 857,
 859,
 861,
 862,
 867,
 871,
 872,
 876,
 877,
 878,
 879,
 884,
 892,
 893,
 894,
 896,
 897,
 898,
 906,
 909,
 917,
 918,
 919,
 920,
 922,
 924,
 925,
 927,
 928,
 930,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 949,
 956,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 974,
 975,
 977,
 978,
 979,
 980,
 982,
 983,
 984,
 986,
 987,
 992,
 994,
 995,
 996,
 998,
 999,
 1000,
 1001,
 1002,
 1003,
 1011,
 1012,
 1013,
 1015,
 1019,
 1020,
 1027,
 1028,
 1029,
 1030,
 1031,
 1032,
 1033,
 1034,
 1035,
 1036,
 1037,
 1038,
 1039,
 1040,
 1041,
 1042,
 1043,
 1044,
 1045,
 1046,
 1047,
 1048,
 1049,
 1050,
 1051,
 1052,
 1053,
 1054,
 1055,
 1056,
 1057,
 1058,
 1059,
 1060,
 1061,
 1062,
 1063,
 1064,
 1066,
 1067,
 1068,
 1069,
 1070,
 1072,
 1073,
 1074,
 1075,
 1078,
 1080,
 1081,
 1082,
 1083,
 1084,
 1085,
 1086,
 1087,
 1088,
 1090,
 1091,
 1092,
 1094,
 1095,
 1096,
 1097,
 1098,
 1099,
 1100,
 1101,
 1102,
 1103,
 1105,
 1106,
 1107,
 1108,
 1109,
 1110,
 1111,
 1112,
 1113,
 1114,
 1115,
 1116,
 1117,
 1118,
 1119,
 1121,
 1122,
 1123,
 1124,
 1125,
 1126,
 1127,
 1128,
 1129,
 1130,
 1132,
 1133,
 1134,
 1135,
 1136,
 1137,
 1139,
 1140,
 1141,
 1142,
 1143,
 1144,
 1145,
 1146,
 1148,
 1149,
 1150,
 1151,
 1152,
 1153,
 1154,
 1155,
 1156,
 1157,
 1159,
 1160,
 1161,
 1162,
 1163,
 1164,
 1165,
 1166,
 1167,
 1173,
 1174,
 1175,
 1176,
 1177,
 1178,
 1179,
 1180,
 1181,
 1182,
 1185,
 1186,
 1187,
 1188,
 1190,
 1191,
 1192,
 1193,
 1194,
 1195,
 1196,
 1197,
 1198,
 1199,
 1203,
 1204,
 1208,
 1209,
 1213,
 1215,
 1218,
 1219,
 1222,
 1225,
 1227,
 1228,
 1229,
 1230,
 1231,
 1233,
 1237,
 1239,
 1241,
 1242,
 1246,
 1248,
 1260,
 1262,
 1263,
 1265,
 1277,
 1279,
 1282,
 1286,
 1287,
 1288,
 1289,
 1290,
 1291,
 1293,
 1298,
 1300,
 1301,
 1303,
 1304,
 1305,
 1306,
 1307,
 1308,
 1309,
 1311,
 1314,
 1316,
 1322,
 1323,
 1324,
 1325,
 1326,
 1327,
 1328,
 1330,
 1331,
 1332,
 1333,
 1334,
 1335,
 1336,
 1337,
 1339,
 1340,
 1341,
 1342,
 1344,
 1345,
 1346,
 1347,
 1349,
 1350,
 1351,
 1352,
 1353,
 1354,
 1355,
 1356,
 1357,
 1359,
 1360,
 1361,
 1366,
 1367,
 1370,
 1386,
 1401,
 1402,
 1403,
 1404,
 1405,
 1406,
 1407,
 1408,
 1409,
 1410,
 1411,
 1412,
 1413,
 1414,
 1415,
 1416,
 1417,
 1418,
 1419,
 1420,
 1421,
 1422,
 1423,
 1424,
 1425,
 1426,
 1429,
 1430,
 1431,
 1432,
 1433,
 1434,
 1435,
 1436,
 1437,
 1438,
 1439,
 1440,
 1441,
 1442,
 1443,
 1444,
 1445,
 1446,
 1447,
 1448,
 1449,
 1450,
 1451,
 1452,
 1453,
 1454,
 1455,
 1456,
 1457,
 1459,
 1460,
 1461,
 1462,
 1463,
 1464,
 1465,
 1466,
 1467,
 1468,
 1469,
 1471,
 1472,
 1473,
 1474,
 1475,
 1476,
 1477,
 1478,
 1479,
 1480,
 1481,
 1482,
 1483,
 1484,
 1485,
 1486,
 1487,
 1489,
 1490,
 1491,
 1493,
 1494,
 1495,
 1496,
 1497,
 1498,
 1499,
 1500,
 1501,
 1502,
 1506,
 1507,
 1508,
 1509,
 1510,
 1511,
 1512,
 1513,
 1514,
 1515,
 1516,
 1517,
 1518,
 1521,
 1524,
 1525,
 1526,
 1527,
 1528,
 1529,
 1530,
 1531,
 1534,
 1535,
 1537,
 1539,
 1540,
 1542,
 1543,
 1544,
 1545,
 1546,
 1547,
 1548,
 1549,
 1550,
 1551,
 1552,
 1553,
 1555,
 1557,
 1558,
 1560,
 1561,
 1562,
 1563,
 1564,
 1567,
 1568,
 1569,
 1570,
 1571,
 1584,
 1585,
 1586,
 1587,
 1588,
 1589,
 1590,
 1591,
 1592,
 1593,
 1594,
 1595,
 1596,
 1597,
 1598,
 1599,
 1600,
 1601,
 1602,
 1603,
 1604,
 1605,
 1606,
 1607,
 1609,
 1610,
 1611,
 1612,
 1613,
 1614,
 1615,
 1616,
 1617,
 1618,
 1619,
 1620,
 1621,
 1622,
 1623,
 1624,
 1625,
 1626,
 1627,
 1628,
 1629,
 1630,
 1631,
 1632,
 1633,
 1634,
 1635,
 1636,
 1637,
 1638,
 1639,
 1640,
 1641,
 1642,
 1643,
 1644,
 1647,
 1649,
 1650,
 1651,
 1652,
 1653,
 1654,
 1655,
 1656,
 1657,
 1658,
 1659,
 1660,
 1661,
 1662,
 1663,
 1664,
 1665,
 1666,
 1669,
 1672,
 1673,
 1674,
 1675,
 1679,
 1680,
 1683,
 1687,
 1691,
 1695,
 1704,
 1705,
 1706,
 1707,
 1709,
 1711,
 1713,
 1715,
 1716,
 1717,
 1718,
 1719,
 1721,
 1726,
 1727,
 1728,
 1729,
 1731,
 1733,
 1735,
 1736,
 1738,
 1739,
 1740,
 1741,
 1742,
 1743,
 1744,
 1745,
 1746,
 1747,
 1748,
 1749,
 1751,
 1753,
 1757,
 ...}

In [ ]:
test_df.drop(test_df.columns[list(cols_to_drop)], axis=1, inplace=True)
test_df

,PRODUCT_CODE,X_1,X_2,X_4,X_6,X_8,X_12,X_13,X_14,X_15,...,X_2858,X_2866,X_2867,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
0,T_31,2.0,94.0,45.0,0.0,10.0,474.4,461.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,T_31,2.0,93.0,45.0,0.0,10.0,511.1,500.1,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,T_31,2.0,95.0,45.0,0.0,10.0,511.4,500.6,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,179.739286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,190.664286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,T_31,2.0,91.0,45.0,0.0,10.0,511.9,488.3,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
306,T_31,2.0,96.0,45.0,0.0,10.0,518.9,505.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307,T_31,2.0,91.0,45.0,0.0,10.0,511.6,489.8,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308,T_31,2.0,95.0,45.0,0.0,10.0,512.6,489.8,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309,T_31,2.0,87.0,45.0,0.0,10.0,512.1,489.5,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
cols_to_drop

In [ ]:
test_df.drop(test_df.columns[list(cols_to_drop)],axis=1,inplace=True)

In [ ]:
train_df = pd.concat([train_dfs, train_df], axis=1)
train_df

,PRODUCT_ID,Y_Class,Y_Quality,TIMESTAMP,LINE,PRODUCT_CODE,X_2,X_4,X_6,X_10,...,X_2865,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
0,TRAIN_000,1,0.533433,2022-06-13 5:14,T050304,A_31,NaN,NaN,NaN,NaN,...,353.0,40.89,32.56,34.09,77.77,NaN,NaN,NaN,NaN,NaN
1,TRAIN_001,2,0.541819,2022-06-13 5:22,T050307,A_31,NaN,NaN,NaN,NaN,...,353.0,42.82,43.92,35.34,72.55,NaN,NaN,NaN,NaN,NaN
2,TRAIN_002,1,0.531267,2022-06-13 5:30,T050304,A_31,NaN,NaN,NaN,NaN,...,353.0,36.65,42.47,36.53,78.35,NaN,NaN,NaN,NaN,NaN
3,TRAIN_003,2,0.537325,2022-06-13 5:39,T050307,A_31,NaN,NaN,NaN,NaN,...,353.0,39.17,52.17,30.58,71.78,NaN,NaN,NaN,NaN,NaN
4,TRAIN_004,1,0.531590,2022-06-13 5:47,T050304,A_31,NaN,NaN,NaN,NaN,...,352.0,41.89,46.93,33.09,76.97,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593,TRAIN_593,1,0.526546,2022-09-08 14:30,T100306,T_31,95.0,45.0,0.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
594,TRAIN_594,0,0.524022,2022-09-08 22:38,T050304,A_31,NaN,NaN,NaN,NaN,...,353.0,53.07,50.89,55.10,66.49,1.0,NaN,NaN,NaN,NaN
595,TRAIN_595,0,0.521289,2022-09-08 22:47,T050304,A_31,NaN,NaN,NaN,NaN,...,352.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
596,TRAIN_596,1,0.531375,2022-09-08 14:38,T100304,O_31,94.0,45.0,0.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
597,TRAIN_597,1,0.533702,2022-09-08 14:46,T100306,O_31,87.0,45.0,0.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

T100304, T100306 의 경우에는 오직 T,0만이 생성이 된다.
그렇다면, 각 라인을 지나갈 때 변수 그룹들을 보자

In [ ]:
test_df

,X_1,X_2,X_3,X_5,X_7,X_9,X_13,X_14,X_15,X_16,...,X_2859,X_2867,X_2868,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875,month
0,2.0,94.0,0.0,10.0,51.0,52.0,461.0,0.0,0.0,247.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
1,2.0,93.0,0.0,11.0,45.0,31.0,500.1,0.0,0.0,247.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
2,2.0,95.0,0.0,11.0,45.0,31.0,500.6,0.0,0.0,247.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,149.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,162.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,2.0,91.0,0.0,10.0,51.0,52.0,488.3,0.0,0.0,247.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
306,2.0,96.0,0.0,11.0,45.0,31.0,505.0,0.0,0.0,247.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
307,2.0,91.0,0.0,10.0,50.0,52.0,489.8,0.0,0.0,247.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
308,2.0,95.0,0.0,10.0,51.0,52.0,489.8,0.0,0.0,247.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
309,2.0,87.0,0.0,10.0,51.0,52.0,489.5,0.0,0.0,247.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11

In [ ]:
train_df['month'] = pd.to_datetime(train_df['TIMESTAMP']).dt.strftime('%m')
train_df=train_df.drop(columns=['TIMESTAMP'])
train_df

,PRODUCT_ID,Y_Class,Y_Quality,LINE,PRODUCT_CODE,X_2,X_4,X_6,X_10,X_11,...,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875,month
0,TRAIN_000,1,0.533433,T050304,A_31,NaN,NaN,NaN,NaN,NaN,...,40.89,32.56,34.09,77.77,NaN,NaN,NaN,NaN,NaN,06
1,TRAIN_001,2,0.541819,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,42.82,43.92,35.34,72.55,NaN,NaN,NaN,NaN,NaN,06
2,TRAIN_002,1,0.531267,T050304,A_31,NaN,NaN,NaN,NaN,NaN,...,36.65,42.47,36.53,78.35,NaN,NaN,NaN,NaN,NaN,06
3,TRAIN_003,2,0.537325,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,39.17,52.17,30.58,71.78,NaN,NaN,NaN,NaN,NaN,06
4,TRAIN_004,1,0.531590,T050304,A_31,NaN,NaN,NaN,NaN,NaN,...,41.89,46.93,33.09,76.97,NaN,NaN,NaN,NaN,NaN,06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593,TRAIN_593,1,0.526546,T100306,T_31,95.0,45.0,0.0,2.0,468.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09
594,TRAIN_594,0,0.524022,T050304,A_31,NaN,NaN,NaN,NaN,NaN,...,53.07,50.89,55.10,66.49,1.0,NaN,NaN,NaN,NaN,09
595,TRAIN_595,0,0.521289,T050304,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,09
596,TRAIN_596,1,0.531375,T100304,O_31,94.0,45.0,0.0,2.0,505.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09
597,TRAIN_597,1,0.533702,T100306,O_31,87.0,45.0,0.0,2.0,470.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09

In [ ]:
test_df['month'] = pd.to_datetime(test_df['TIMESTAMP']).dt.strftime('%m')
test_df=test_df.drop(columns=['TIMESTAMP'])
test_df

,PRODUCT_ID,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,...,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875,month
0,TEST_000,T100306,T_31,2.0,94.0,0.0,45.0,10.0,0.0,51.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09
1,TEST_001,T100304,T_31,2.0,93.0,0.0,45.0,11.0,0.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09
2,TEST_002,T100304,T_31,2.0,95.0,0.0,45.0,11.0,0.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09
3,TEST_003,T010305,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09
4,TEST_004,T010306,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,TEST_305,T100306,T_31,2.0,91.0,0.0,45.0,10.0,0.0,51.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
306,TEST_306,T100304,T_31,2.0,96.0,0.0,45.0,11.0,0.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
307,TEST_307,T100306,T_31,2.0,91.0,0.0,45.0,10.0,0.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
308,TEST_308,T100306,T_31,2.0,95.0,0.0,45.0,10.0,0.0,51.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
309,TEST_309,T100306,T_31,2.0,87.0,0.0,45.0,10.0,0.0,51.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11

In [ ]:
train_df['month']=train_df['month'].astype(int)
test_df['month']=test_df['month'].astype(int)

In [ ]:
groups_lines=train_df.groupby('LINE')
line=0
for name, group in groups_lines:
    line+=1
    globals()['group_line{}_df'.format(line)] = groups_lines.get_group(name)

In [ ]:
group_line2_df['PRODUCT_CODE'].value_counts()

A_31    70
Name: PRODUCT_CODE, dtype: int64

In [ ]:
group_line2_df

,PRODUCT_ID,Y_Class,Y_Quality,LINE,PRODUCT_CODE,X_2,X_4,X_6,X_10,X_11,...,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875,month
27,TRAIN_027,2,0.540002,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
31,TRAIN_031,2,0.536206,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
32,TRAIN_032,2,0.548592,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
38,TRAIN_038,2,0.536616,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
47,TRAIN_047,1,0.533230,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
479,TRAIN_479,1,0.534716,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
501,TRAIN_501,1,0.533079,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
523,TRAIN_523,1,0.534640,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
531,TRAIN_531,2,0.560317,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
585,TRAIN_585,0,0.515214,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9

1번라인: T010305, 59개. A_31

2번라인: T010306, 70개, A_31

3번라인: T050304, 78개, A_31

4번라인: T050307, 42개, A_31

5번라인: T100304, 175개, T&O

6번라인: T100306, 174개, T&O

In [ ]:
train_df

,PRODUCT_ID,Y_Class,Y_Quality,LINE,PRODUCT_CODE,X_2,X_4,X_6,X_10,X_11,...,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875,month
0,TRAIN_000,1,0.533433,T050304,A_31,NaN,NaN,NaN,NaN,NaN,...,40.89,32.56,34.09,77.77,NaN,NaN,NaN,NaN,NaN,6
1,TRAIN_001,2,0.541819,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,42.82,43.92,35.34,72.55,NaN,NaN,NaN,NaN,NaN,6
2,TRAIN_002,1,0.531267,T050304,A_31,NaN,NaN,NaN,NaN,NaN,...,36.65,42.47,36.53,78.35,NaN,NaN,NaN,NaN,NaN,6
3,TRAIN_003,2,0.537325,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,39.17,52.17,30.58,71.78,NaN,NaN,NaN,NaN,NaN,6
4,TRAIN_004,1,0.531590,T050304,A_31,NaN,NaN,NaN,NaN,NaN,...,41.89,46.93,33.09,76.97,NaN,NaN,NaN,NaN,NaN,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593,TRAIN_593,1,0.526546,T100306,T_31,95.0,45.0,0.0,2.0,468.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
594,TRAIN_594,0,0.524022,T050304,A_31,NaN,NaN,NaN,NaN,NaN,...,53.07,50.89,55.10,66.49,1.0,NaN,NaN,NaN,NaN,9
595,TRAIN_595,0,0.521289,T050304,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,9
596,TRAIN_596,1,0.531375,T100304,O_31,94.0,45.0,0.0,2.0,505.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
597,TRAIN_597,1,0.533702,T100306,O_31,87.0,45.0,0.0,2.0,470.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9

#1번라인: T010305, 59개. A_31

In [ ]:
group_line1_df

,PRODUCT_ID,Y_Class,Y_Quality,LINE,PRODUCT_CODE,X_2,X_4,X_6,X_10,X_11,...,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875,month
28,TRAIN_028,0,0.521249,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
33,TRAIN_033,1,0.526656,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
39,TRAIN_039,1,0.531583,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
40,TRAIN_040,1,0.530829,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
41,TRAIN_041,1,0.528270,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
48,TRAIN_048,1,0.533273,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
52,TRAIN_052,2,0.555514,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
57,TRAIN_057,2,0.535741,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
58,TRAIN_058,2,0.537122,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
59,TRAIN_059,2,0.536859,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
64,TRAIN_064,1,0.533179,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
65,TRAIN_065,1,0.527910,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
66,TRAIN_066,0,0.524408,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
69,TRAIN_069,1,0.531522,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
71,TRAIN_071,1,0.534486,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
75,TRAIN_075,1,0.534376,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
77,TRAIN_077,1,0.534448,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
84,TRAIN_084,1,0.529740,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
90,TRAIN_090,1,0.534403,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
94,TRAIN_094,2,0.536433,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
95,TRAIN_095,2,0.536041,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
116,TRAIN_116,0,0.523714,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
118,TRAIN_118,0,0.521083,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
123,TRAIN_123,0,0.518024,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
129,TRAIN_129,1,0.528856,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
179,TRAIN_179,1,0.526741,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
190,TRAIN_190,1,0.528190,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
208,TRAIN_208,1,0.530048,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
220,TRAIN_220,1,0.529254,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
230,TRAIN_230,1,0.530497,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
235,TRAIN_235,1,0.530514,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
239,TRAIN_239,0,0.523694,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
244,TRAIN_244,1,0.527486,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
281,TRAIN_281,1,0.533960,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
283,TRAIN_283,2,0.538614,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
287,TRAIN_287,1,0.531037,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
291,TRAIN_291,2,0.558568,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
292,TRAIN_292,2,0.558770,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
295,TRAIN_295,1,0.532890,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
299,TRAIN_299,2,0.536951,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
300,TRAIN_300,2,0.537116,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
312,TRAIN_312,0,0.523830,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
332,TRAIN_332,1,0.534065,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
334,TRAIN_334,1,0.529070,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
404,TRAIN_404,0,0.500856,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
410,TRAIN_410,0,0.520625,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
436,TRAIN_436,1,0.526241,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
449,TRAIN_449,1,0.529624,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
455,TRAIN_455,1,0.530303,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
456,TRAIN_456,1,0.527278,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
480,TRAIN_480,1,0.530625,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
490,TRAIN_490,0,0.523173,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
491,TRAIN_491,0,0.524808,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
500,TRAIN_500,1,0.532032,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
521,TRAIN_521,1,0.529171,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
530,TRAIN_530,1,0.532754,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
553,TRAIN_553,0,0.524686,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
554,TRAIN_554,1,0.531106,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
584,TRAIN_584,0,0.519519,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9

In [ ]:
group_line1_df

,PRODUCT_ID,Y_Class,Y_Quality,LINE,PRODUCT_CODE,X_2,X_4,X_6,X_10,X_11,...,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875,month
28,TRAIN_028,0,0.521249,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
33,TRAIN_033,1,0.526656,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
39,TRAIN_039,1,0.531583,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
40,TRAIN_040,1,0.530829,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
41,TRAIN_041,1,0.528270,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
48,TRAIN_048,1,0.533273,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
52,TRAIN_052,2,0.555514,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
57,TRAIN_057,2,0.535741,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
58,TRAIN_058,2,0.537122,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
59,TRAIN_059,2,0.536859,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
64,TRAIN_064,1,0.533179,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
65,TRAIN_065,1,0.527910,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
66,TRAIN_066,0,0.524408,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
69,TRAIN_069,1,0.531522,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
71,TRAIN_071,1,0.534486,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
75,TRAIN_075,1,0.534376,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
77,TRAIN_077,1,0.534448,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
84,TRAIN_084,1,0.529740,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
90,TRAIN_090,1,0.534403,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
94,TRAIN_094,2,0.536433,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
95,TRAIN_095,2,0.536041,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
116,TRAIN_116,0,0.523714,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
118,TRAIN_118,0,0.521083,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
123,TRAIN_123,0,0.518024,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
129,TRAIN_129,1,0.528856,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
179,TRAIN_179,1,0.526741,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
190,TRAIN_190,1,0.528190,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
208,TRAIN_208,1,0.530048,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
220,TRAIN_220,1,0.529254,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
230,TRAIN_230,1,0.530497,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
235,TRAIN_235,1,0.530514,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
239,TRAIN_239,0,0.523694,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
244,TRAIN_244,1,0.527486,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
281,TRAIN_281,1,0.533960,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
283,TRAIN_283,2,0.538614,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
287,TRAIN_287,1,0.531037,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
291,TRAIN_291,2,0.558568,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
292,TRAIN_292,2,0.558770,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
295,TRAIN_295,1,0.532890,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
299,TRAIN_299,2,0.536951,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
300,TRAIN_300,2,0.537116,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
312,TRAIN_312,0,0.523830,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
332,TRAIN_332,1,0.534065,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
334,TRAIN_334,1,0.529070,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
404,TRAIN_404,0,0.500856,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
410,TRAIN_410,0,0.520625,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
436,TRAIN_436,1,0.526241,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
449,TRAIN_449,1,0.529624,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
455,TRAIN_455,1,0.530303,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
456,TRAIN_456,1,0.527278,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
480,TRAIN_480,1,0.530625,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
490,TRAIN_490,0,0.523173,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
491,TRAIN_491,0,0.524808,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
500,TRAIN_500,1,0.532032,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
521,TRAIN_521,1,0.529171,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
530,TRAIN_530,1,0.532754,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
553,TRAIN_553,0,0.524686,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
554,TRAIN_554,1,0.531106,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
584,TRAIN_584,0,0.519519,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9

In [ ]:
non_null_counts_1 = group_line1_df.notnull().sum()

# select only those columns with non-null values
non_null_cols_1 = non_null_counts_1[non_null_counts_1 > 0].index.tolist()

# print the resulting list of non-null columns
print(non_null_cols_1)

['PRODUCT_ID', 'Y_Class', 'Y_Quality', 'LINE', 'PRODUCT_CODE', 'X_248', 'X_251', 'X_255', 'X_256', 'X_259', 'X_260', 'X_267', 'X_268', 'X_270', 'X_271', 'X_272', 'X_274', 'X_275', 'X_276', 'X_278', 'X_279', 'X_280', 'X_308', 'X_309', 'X_310', 'X_311', 'X_312', 'X_313', 'X_315', 'X_318', 'X_319', 'X_320', 'X_321', 'X_322', 'X_323', 'X_324', 'X_325', 'X_326', 'X_330', 'X_332', 'X_333', 'X_334', 'X_335', 'X_336', 'X_337', 'X_338', 'X_339', 'X_343', 'X_347', 'X_351', 'X_352', 'X_353', 'X_355', 'X_359', 'X_365', 'X_367', 'X_369', 'X_371', 'X_372', 'X_943', 'X_945', 'X_946', 'X_947', 'X_948', 'X_949', 'X_950', 'X_952', 'X_965', 'X_966', 'X_967', 'X_968', 'X_971', 'X_976', 'X_980', 'X_983', 'X_984', 'X_985', 'X_986', 'X_988', 'X_992', 'X_999', 'X_1000', 'X_1001', 'X_1002', 'X_1003', 'X_1004', 'X_1005', 'X_1013', 'X_1016', 'X_1017', 'X_1018', 'X_1019', 'X_1020', 'X_1021', 'X_1060', 'X_1066', 'X_1071', 'X_1072', 'X_1074', 'X_1084', 'X_1088', 'X_1099', 'X_1115', 'X_1126', 'X_1133', 'X_1142', 'X_1153', 'X_1163', 'X_1164', 'X_1165', 'X_1166', 'X_1167', 'X_1178', 'X_1179', 'X_1184', 'X_1195', 'X_1196', 'X_1197', 'X_1200', 'X_1201', 'X_1202', 'X_1205', 'X_1206', 'X_1207', 'X_1209', 'X_1211', 'X_1212', 'X_1215', 'X_1216', 'X_1218', 'X_1219', 'X_1221', 'X_1227', 'X_1229', 'X_1230', 'X_1231', 'X_1233', 'X_1235', 'X_1238', 'X_1239', 'X_1240', 'X_1242', 'X_1244', 'X_1245', 'X_1246', 'X_1247', 'X_1248', 'X_1249', 'X_1250', 'X_1251', 'X_1252', 'X_1253', 'X_1254', 'X_1256', 'X_1259', 'X_1261', 'X_1262', 'X_1263', 'X_1264', 'X_1265', 'X_1266', 'X_1267', 'X_1268', 'X_1269', 'X_1270', 'X_1271', 'X_1273', 'X_1275', 'X_1276', 'X_1278', 'X_1279', 'X_1280', 'X_1287', 'X_1289', 'X_1290', 'X_1291', 'X_1292', 'X_1294', 'X_1297', 'X_1305', 'X_1307', 'X_1308', 'X_1310', 'X_1312', 'X_1313', 'X_1314', 'X_1315', 'X_1316', 'X_1324', 'X_1333', 'X_1338', 'X_1343', 'X_1353', 'X_1357', 'X_1358', 'X_1359', 'X_1360', 'X_1363', 'X_1364', 'X_1366', 'X_1367', 'X_1368', 'X_1369', 'X_1370', 'X_1371', 'X_1372', 'X_1373', 'X_1374', 'X_1375', 'X_1376', 'X_1377', 'X_1378', 'X_1379', 'X_1380', 'X_1382', 'X_1383', 'X_1384', 'X_1385', 'X_1386', 'X_1387', 'X_1388', 'X_1389', 'X_1390', 'X_1391', 'X_1392', 'X_1393', 'X_1394', 'X_1395', 'X_1422', 'X_1423', 'X_1453', 'X_1465', 'X_1483', 'X_1487', 'X_1498', 'X_1499', 'X_1500', 'X_1514', 'X_1515', 'X_1517', 'X_1527', 'X_1528', 'X_1531', 'X_1536', 'X_1549', 'X_1551', 'X_1554', 'X_1560', 'X_1561', 'X_1567', 'X_1568', 'X_1569', 'X_1570', 'X_1571', 'X_1572', 'X_1573', 'X_1574', 'X_1575', 'X_1576', 'X_1577', 'X_1578', 'X_1603', 'X_1640', 'X_1641', 'X_1643', 'X_1662', 'X_1663', 'X_1665', 'X_1666', 'X_1671', 'X_1672', 'X_1673', 'X_1676', 'X_1677', 'X_1679', 'X_1696', 'X_1697', 'X_1698', 'X_2048', 'X_2049', 'X_2050', 'X_2051', 'X_2053', 'X_2055', 'X_2846', 'X_2848', 'X_2851', 'X_2853', 'X_2856', 'X_2864', 'X_2865', 'month']

In [ ]:
len(non_null_cols_1)

292

In [ ]:
group_line1_df['PRODUCT_CODE'].value_counts()

A_31    59
Name: PRODUCT_CODE, dtype: int64

In [ ]:
group_line1_df.loc[:,non_null_cols_1]

,PRODUCT_ID,Y_Class,Y_Quality,LINE,PRODUCT_CODE,X_248,X_251,X_255,X_256,X_259,...,X_2053,X_2055,X_2846,X_2848,X_2851,X_2853,X_2856,X_2864,X_2865,month
28,TRAIN_028,0,0.521249,T010305,A_31,0.0,90.0,2.0,481.1,0.0,...,0.0,0.0,2.650943,43.0,163.4,146.1,170.5,429.716981,413.0,6
33,TRAIN_033,1,0.526656,T010305,A_31,0.0,98.0,2.0,481.4,0.0,...,0.0,0.0,2.677358,40.0,171.6,137.9,173.2,429.301887,413.0,6
39,TRAIN_039,1,0.531583,T010305,A_31,0.0,102.0,2.0,482.7,0.0,...,0.0,0.0,2.645283,41.0,151.5,142.6,175.7,427.867925,407.0,6
40,TRAIN_040,1,0.530829,T010305,A_31,0.0,105.0,2.0,485.0,0.0,...,0.0,0.0,2.659615,40.0,161.1,124.1,173.0,428.403846,413.0,6
41,TRAIN_041,1,0.528270,T010305,A_31,0.0,105.0,2.0,484.9,0.0,...,0.0,0.0,2.649057,41.0,158.3,141.4,172.0,429.094340,406.0,6
48,TRAIN_048,1,0.533273,T010305,A_31,0.0,111.0,2.0,484.3,0.0,...,0.0,0.0,2.664151,40.0,163.6,148.8,175.8,428.000000,413.0,6
52,TRAIN_052,2,0.555514,T010305,A_31,0.0,114.0,2.0,485.2,0.0,...,0.0,0.0,2.626415,41.0,164.0,143.3,170.6,428.679245,413.0,6
57,TRAIN_057,2,0.535741,T010305,A_31,0.0,119.0,2.0,486.5,0.0,...,0.0,0.0,2.633962,39.0,187.0,162.1,176.2,418.660377,396.0,6
58,TRAIN_058,2,0.537122,T010305,A_31,0.0,119.0,2.0,487.2,0.0,...,0.0,0.0,2.655769,40.0,193.3,165.3,177.8,418.807692,394.0,6
59,TRAIN_059,2,0.536859,T010305,A_31,0.0,120.0,2.0,486.6,0.0,...,0.0,0.0,2.669231,40.0,193.4,169.8,181.1,419.134615,403.0,6
64,TRAIN_064,1,0.533179,T010305,A_31,0.0,125.0,2.0,488.7,0.0,...,0.0,0.0,2.667925,39.0,177.0,170.0,188.2,441.396226,423.0,6
65,TRAIN_065,1,0.527910,T010305,A_31,0.0,126.0,2.0,488.2,0.0,...,0.0,0.0,2.688679,40.0,187.8,161.4,177.1,440.867925,423.0,6
66,TRAIN_066,0,0.524408,T010305,A_31,0.0,127.0,2.0,490.2,0.0,...,0.0,0.0,2.669811,40.0,181.3,168.1,178.7,449.962264,434.0,6
69,TRAIN_069,1,0.531522,T010305,A_31,0.0,129.0,2.0,490.3,0.0,...,0.0,0.0,2.647170,40.0,160.0,149.4,180.0,439.075472,423.0,6
71,TRAIN_071,1,0.534486,T010305,A_31,0.0,129.0,2.0,490.1,0.0,...,0.0,0.0,2.686538,39.0,160.0,145.1,176.7,447.961539,432.0,6
75,TRAIN_075,1,0.534376,T010305,A_31,0.0,135.0,2.0,494.1,0.0,...,0.0,0.0,2.661538,43.0,179.9,173.2,165.6,450.000000,432.0,6
77,TRAIN_077,1,0.534448,T010305,A_31,0.0,148.0,2.0,497.6,0.0,...,0.0,0.0,2.690566,40.0,183.0,166.1,152.6,439.415094,422.0,6
84,TRAIN_084,1,0.529740,T010305,A_31,0.0,155.0,2.0,500.8,0.0,...,0.0,0.0,2.711538,40.0,176.0,167.7,161.0,444.500000,423.0,7
90,TRAIN_090,1,0.534403,T010305,A_31,0.0,163.0,2.0,498.8,0.0,...,0.0,0.0,2.673585,41.0,174.1,164.0,160.1,444.509434,423.0,7
94,TRAIN_094,2,0.536433,T010305,A_31,0.0,167.0,2.0,500.0,0.0,...,0.0,0.0,2.661538,40.0,178.1,171.1,157.4,449.326923,432.0,7
95,TRAIN_095,2,0.536041,T010305,A_31,0.0,168.0,2.0,499.9,0.0,...,0.0,0.0,2.667308,41.0,176.0,160.6,159.2,449.423077,423.0,7
116,TRAIN_116,0,0.523714,T010305,A_31,0.0,2.0,2.0,438.6,0.0,...,0.0,0.0,2.705769,39.0,169.0,155.6,159.0,450.115385,432.0,7
118,TRAIN_118,0,0.521083,T010305,A_31,0.0,2.0,2.0,438.3,0.0,...,0.0,0.0,2.680769,40.0,174.0,167.1,153.1,449.423077,432.0,7
123,TRAIN_123,0,0.518024,T010305,A_31,0.0,8.0,2.0,457.5,0.0,...,0.0,0.0,2.688462,39.0,173.9,162.6,161.1,447.750000,432.0,7
129,TRAIN_129,1,0.528856,T010305,A_31,0.0,13.0,2.0,463.2,0.0,...,0.0,0.0,2.667308,40.0,175.0,161.0,157.6,449.192308,432.0,7
179,TRAIN_179,1,0.526741,T010305,A_31,0.0,11.0,2.0,474.5,0.0,...,0.0,0.0,2.700000,38.0,181.1,164.1,189.1,447.923077,433.0,7
190,TRAIN_190,1,0.528190,T010305,A_31,0.0,22.0,2.0,475.6,0.0,...,0.0,0.0,2.650000,43.0,182.1,165.9,181.9,448.442308,433.0,7
208,TRAIN_208,1,0.530048,T010305,A_31,0.0,28.0,2.0,478.4,0.0,...,0.0,0.0,2.592308,41.0,191.8,171.1,190.7,438.615385,422.0,7
220,TRAIN_220,1,0.529254,T010305,A_31,0.0,34.0,2.0,477.1,0.0,...,0.0,0.0,2.707547,41.0,191.7,172.3,195.1,446.433962,423.0,7
230,TRAIN_230,1,0.530497,T010305,A_31,0.0,38.0,2.0,478.1,0.0,...,0.0,0.0,2.688679,41.0,185.1,167.1,177.1,439.566038,423.0,7
235,TRAIN_235,1,0.530514,T010305,A_31,0.0,42.0,2.0,479.5,0.0,...,0.0,0.0,2.678846,42.0,186.1,162.0,194.1,440.288461,424.0,7
239,TRAIN_239,0,0.523694,T010305,A_31,0.0,44.0,2.0,480.0,0.0,...,0.0,0.0,2.694231,41.0,183.0,167.2,185.1,445.980769,423.0,7
244,TRAIN_244,1,0.527486,T010305,A_31,0.0,46.0,2.0,480.3,0.0,...,0.0,0.0,2.673585,40.0,184.2,172.9,195.3,445.735849,423.0,7
281,TRAIN_281,1,0.533960,T010305,A_31,0.0,85.0,2.0,494.2,0.0,...,0.0,0.0,2.696226,41.0,197.2,180.8,192.0,439.735849,422.0,7
283,TRAIN_283,2,0.538614,T010305,A_31,0.0,85.0,2.0,494.1,0.0,...,0.0,0.0,2.677358,40.0,189.3,175.3,187.9,442.150943,423.0,7
287,TRAIN_287,1,0.531037,T010305,A_31,0.0,87.0,2.0,494.2,0.0,...,0.0,0.0,2.677358,40.0,196.5,181.1,195.1,445.075472,422.0,7
291,TRAIN_291,2,0.558568,T010305,A_31,0.0,89.0,2.0,495.9,0.0,...,0.0,0.0,2.692308,39.0,191.6,175.1,203.2,445.634615,423.0,7
292,TRAIN_292,2,0.558770,T010305,A_31,0.0,89.0,2.0,496.5,0.0,...,0.0,0.0,2.707692,41.0,199.5,174.4,206.1,449.403846,432.0,7
295,TRAIN_295,1,0.532890,T010305,A_31,0.0,91.0,2.0,496.1,0.0,...,0.0,0.0,2.686792,40.0,186.6,173.0,185.3,439.000000,422.0,7
299,TRAIN_299,2,0.536951,T010305,A_31,0.0,93.0,2.0,498.1,0.0,...,0.0,0.0,2.690385,38.0,194.4,179.0,194.2,443.846154,427.0,7
300,TRAIN_300,2,0.537116,T010305,A_31,0.0,93.0,2.0,497.0,0.0,...,0.0,0.0,2.707692,41.0,194.0,176.1,197.0,439.480769,422.0,7
312,TRAIN_312,0,0.523830,T010305,A_31,0.0,96.0,2.0,499.1,0.0,...,0.0,0.0,2.692453,39.0,193.0,174.0,195.8,447.245283,423.0,7
332,TRAIN_332,1,0.534065,T010305,A_31,0.0,111.0,2.0,503.8,0.0,...,0.0,0.0,2.726923,40.0,198.1,182.1,196.5,445.211539,423.0,8
334,TRAIN_334,1,0.529070,T010305,A_31,0.0,111.0,2.0,503.8,0.0,...,0.0,0.0,2.688462,38.0,194.0,171.0,196.5,439.269231,423.0,8
404,TRAIN_404,0,0.500856,T010305,A_31,0.0,14.0,2.0,462.0,0.0,...,0.0,0.0,2.688462,39.0,194.3,173.1,199.1,439.288461,422.0,8
410,TRAIN_410,0,0.520625,T010305,A_31,0.0,19.0,2.0,462.4,0.0,...,0.0,0.0,2.683019,37.0,183.1,171.1,191.7,436.754717,413.0,8
436,TRAIN_436,1,0.526241,T010305,A_31,0.0,35.0,2.0,467.5,0.0,...,0.0,0.0,2.686538,40.0,197.1,172.3,193.0,443.923077,423.0,8
449,TRAIN_449,1,0.529624,T010305,A_31,0.0,43.0,2.0,471.2,0.0,...,0.0,0.0,2.703774,39.0,211.4,201.1,222.7,439.792453,422.0,8
455,TRAIN_455,1,0.530303,T010305,A_31,0.0,45.0,2.0,470.0,0.0,...,0.0,0.0,2.684615,39.0,193.8,180.0,203.1,438.596154,422.0,8
456,TRAIN_456,1,0.527278,T010305,A_31,0.0,45.0,2.0,469.4,0.0,...,0.0,0.0,2.725000,40.0,197.2,179.0,201.6,437.403846,414.0,8
480,TRAIN_480,1,0.530625,T010305,A_31,0.0,61.0,2.0,473.1,0.0,...,0.0,0.0,2.692453,40.0,196.8,180.7,200.0,440.075472,422.0,8
490,TRAIN_490,0,0.523173,T010305,A_31,0.0,67.0,2.0,479.2,0.0,...,0.0,0.0,2.686538,38.0,197.7,178.9,201.1,447.942308,423.0,8
491,TRAIN_491,0,0.524808,T010305,A_31,0.0,67.0,2.0,478.4,0.0,...,0.0,0.0,2.701923,38.0,185.4,169.8,195.1,450.673077,432.0,8
500,TRAIN_500,1,0.532032,T010305,A_31,0.0,78.0,2.0,476.9,0.0,...,0.0,0.0,2.694340,38.0,187.1,179.2,203.6,448.075472,423.0,8
521,TRAIN_521,1,0.529171,T010305,A_31,0.0,90.0,2.0,480.2,0.0,...,0.0,0.0,2.677358,38.0,192.0,183.1,212.8,439.301887,422.0,8
530,TRAIN_530,1,0.532754,T010305,A_31,0.0,96.0,2.0,482.3,0.0,...,0.0,0.0,2.686792,39.0,195.1,179.8,207.2,439.924528,423.0,8
553,TRAIN_553,0,0.524686,T010305,A_31,0.0,122.0,2.0,488.6,0.0,...,0.0,0.0,2.709434,38.0,202.1,193.1,215.1,444.924528,424.0,8
554,TRAIN_554,1,0.531106,T010305,A_31,0.0,122.0,2.0,488.2,0.0,...,0.0,0.0,2.698077,39.0,200.1,187.9,214.1,441.903846,423.0,8
584,TRAIN_584,0,0.519519,T010305,A_31,0.0,11.0,2.0,465.0,0.0,...,0.0,0.0,2.698077,40.0,184.0,174.1,203.1,448.634615,432.0,9

In [ ]:
grouped = group_line1_df.groupby(group_line1_df.isnull().apply(tuple, axis=1))
cnt=0
for name, group in grouped:
    cnt+=1
    globals()['line1_{}_df'.format(cnt)] = grouped.get_group(name)

In [ ]:
cnt

3

In [ ]:
line1_1_df.notnull().columns

Index(['PRODUCT_ID', 'Y_Class', 'Y_Quality', 'LINE', 'PRODUCT_CODE', 'X_2',
       'X_4', 'X_6', 'X_10', 'X_11',
       ...
       'X_2867', 'X_2868', 'X_2869', 'X_2870', 'X_2871', 'X_2872', 'X_2873',
       'X_2874', 'X_2875', 'month'],
      dtype='object', length=1018)

In [ ]:
line1_1_df

,PRODUCT_ID,Y_Class,Y_Quality,LINE,PRODUCT_CODE,X_2,X_4,X_6,X_10,X_11,...,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875,month
28,TRAIN_028,0,0.521249,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
33,TRAIN_033,1,0.526656,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
39,TRAIN_039,1,0.531583,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
40,TRAIN_040,1,0.530829,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
41,TRAIN_041,1,0.528270,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
48,TRAIN_048,1,0.533273,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
52,TRAIN_052,2,0.555514,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
57,TRAIN_057,2,0.535741,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
58,TRAIN_058,2,0.537122,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
59,TRAIN_059,2,0.536859,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
64,TRAIN_064,1,0.533179,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
65,TRAIN_065,1,0.527910,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
66,TRAIN_066,0,0.524408,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
69,TRAIN_069,1,0.531522,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
71,TRAIN_071,1,0.534486,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
75,TRAIN_075,1,0.534376,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
77,TRAIN_077,1,0.534448,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
84,TRAIN_084,1,0.529740,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
90,TRAIN_090,1,0.534403,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
94,TRAIN_094,2,0.536433,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
95,TRAIN_095,2,0.536041,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
116,TRAIN_116,0,0.523714,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
118,TRAIN_118,0,0.521083,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
123,TRAIN_123,0,0.518024,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
129,TRAIN_129,1,0.528856,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
179,TRAIN_179,1,0.526741,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7

In [ ]:
non_null_cols1_1 = line1_1_df.columns[line1_1_df.notnull().any()].tolist()

# print the resulting list of non-null columns
print(non_null_cols1_1)

['PRODUCT_ID', 'Y_Class', 'Y_Quality', 'LINE', 'PRODUCT_CODE', 'X_248', 'X_251', 'X_255', 'X_256', 'X_259', 'X_260', 'X_267', 'X_268', 'X_270', 'X_271', 'X_272', 'X_274', 'X_275', 'X_276', 'X_278', 'X_279', 'X_280', 'X_308', 'X_309', 'X_310', 'X_311', 'X_312', 'X_313', 'X_315', 'X_318', 'X_319', 'X_320', 'X_321', 'X_322', 'X_323', 'X_324', 'X_325', 'X_326', 'X_330', 'X_332', 'X_333', 'X_334', 'X_335', 'X_336', 'X_337', 'X_338', 'X_339', 'X_343', 'X_347', 'X_351', 'X_352', 'X_353', 'X_355', 'X_359', 'X_365', 'X_367', 'X_369', 'X_371', 'X_372', 'X_943', 'X_945', 'X_946', 'X_947', 'X_948', 'X_949', 'X_950', 'X_952', 'X_965', 'X_966', 'X_967', 'X_968', 'X_971', 'X_976', 'X_980', 'X_983', 'X_984', 'X_985', 'X_986', 'X_988', 'X_992', 'X_999', 'X_1000', 'X_1001', 'X_1002', 'X_1003', 'X_1004', 'X_1005', 'X_1013', 'X_1016', 'X_1017', 'X_1018', 'X_1019', 'X_1020', 'X_1021', 'X_1060', 'X_1066', 'X_1071', 'X_1072', 'X_1074', 'X_1084', 'X_1088', 'X_1099', 'X_1115', 'X_1126', 'X_1133', 'X_1142', 'X_1153', 'X_1163', 'X_1164', 'X_1165', 'X_1166', 'X_1167', 'X_1178', 'X_1179', 'X_1184', 'X_1195', 'X_1196', 'X_1197', 'X_1200', 'X_1201', 'X_1202', 'X_1205', 'X_1206', 'X_1207', 'X_1209', 'X_1211', 'X_1212', 'X_1215', 'X_1216', 'X_1218', 'X_1221', 'X_1227', 'X_1229', 'X_1230', 'X_1231', 'X_1233', 'X_1235', 'X_1238', 'X_1239', 'X_1240', 'X_1242', 'X_1244', 'X_1245', 'X_1246', 'X_1247', 'X_1248', 'X_1249', 'X_1250', 'X_1251', 'X_1252', 'X_1253', 'X_1254', 'X_1256', 'X_1259', 'X_1261', 'X_1262', 'X_1263', 'X_1264', 'X_1265', 'X_1266', 'X_1267', 'X_1268', 'X_1269', 'X_1270', 'X_1271', 'X_1273', 'X_1275', 'X_1276', 'X_1278', 'X_1279', 'X_1280', 'X_1287', 'X_1289', 'X_1290', 'X_1291', 'X_1292', 'X_1294', 'X_1297', 'X_1305', 'X_1307', 'X_1308', 'X_1310', 'X_1312', 'X_1313', 'X_1314', 'X_1315', 'X_1316', 'X_1324', 'X_1333', 'X_1338', 'X_1343', 'X_1353', 'X_1357', 'X_1358', 'X_1359', 'X_1360', 'X_1363', 'X_1364', 'X_1366', 'X_1367', 'X_1368', 'X_1369', 'X_1370', 'X_1371', 'X_1372', 'X_1373', 'X_1374', 'X_1375', 'X_1376', 'X_1377', 'X_1378', 'X_1379', 'X_1380', 'X_1382', 'X_1383', 'X_1384', 'X_1385', 'X_1386', 'X_1387', 'X_1388', 'X_1389', 'X_1390', 'X_1391', 'X_1392', 'X_1393', 'X_1394', 'X_1395', 'X_1422', 'X_1423', 'X_1453', 'X_1465', 'X_1483', 'X_1487', 'X_1498', 'X_1499', 'X_1500', 'X_1514', 'X_1515', 'X_1517', 'X_1527', 'X_1528', 'X_1531', 'X_1536', 'X_1549', 'X_1551', 'X_1554', 'X_1560', 'X_1561', 'X_1567', 'X_1568', 'X_1569', 'X_1570', 'X_1571', 'X_1572', 'X_1573', 'X_1574', 'X_1575', 'X_1576', 'X_1577', 'X_1578', 'X_1603', 'X_1640', 'X_1641', 'X_1643', 'X_1662', 'X_1663', 'X_1665', 'X_1666', 'X_1671', 'X_1672', 'X_1673', 'X_1676', 'X_1677', 'X_1679', 'X_1696', 'X_1697', 'X_1698', 'X_2048', 'X_2049', 'X_2050', 'X_2051', 'X_2053', 'X_2055', 'X_2846', 'X_2848', 'X_2851', 'X_2853', 'X_2856', 'X_2864', 'X_2865', 'month']

In [ ]:
len(non_null_cols1_1) #이 그룹의 경우 거의 대다수의 non-null col들을 가진다. 1번 라인을 지나가는 제품들의 경우 총 892개의 non-null column 들을 가지는데, 이 경우 887개의 non-null columns들을 가진다

291

In [ ]:
line1_2_df

,PRODUCT_ID,Y_Class,Y_Quality,LINE,PRODUCT_CODE,X_2,X_4,X_6,X_10,X_11,...,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875,month
449,TRAIN_449,1,0.529624,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8

In [ ]:
non_null_cols1_2 = line1_2_df.columns[line1_2_df.notnull().any()].tolist()

# print the resulting list of non-null columns
print(non_null_cols1_2)

['PRODUCT_ID', 'Y_Class', 'Y_Quality', 'LINE', 'PRODUCT_CODE', 'X_248', 'X_251', 'X_255', 'X_256', 'X_259', 'X_260', 'X_267', 'X_268', 'X_270', 'X_271', 'X_272', 'X_274', 'X_275', 'X_276', 'X_278', 'X_279', 'X_280', 'X_308', 'X_309', 'X_310', 'X_311', 'X_312', 'X_313', 'X_315', 'X_318', 'X_319', 'X_320', 'X_321', 'X_322', 'X_323', 'X_324', 'X_325', 'X_326', 'X_330', 'X_332', 'X_333', 'X_334', 'X_335', 'X_336', 'X_337', 'X_338', 'X_339', 'X_343', 'X_347', 'X_351', 'X_352', 'X_353', 'X_355', 'X_359', 'X_365', 'X_367', 'X_369', 'X_371', 'X_372', 'X_943', 'X_945', 'X_946', 'X_947', 'X_948', 'X_949', 'X_950', 'X_952', 'X_965', 'X_966', 'X_967', 'X_968', 'X_971', 'X_976', 'X_980', 'X_983', 'X_984', 'X_985', 'X_986', 'X_988', 'X_992', 'X_999', 'X_1000', 'X_1001', 'X_1002', 'X_1003', 'X_1004', 'X_1005', 'X_1013', 'X_1016', 'X_1017', 'X_1018', 'X_1019', 'X_1020', 'X_1021', 'X_1060', 'X_1066', 'X_1071', 'X_1072', 'X_1074', 'X_1084', 'X_1088', 'X_1099', 'X_1115', 'X_1126', 'X_1133', 'X_1142', 'X_1153', 'X_1163', 'X_1164', 'X_1165', 'X_1166', 'X_1178', 'X_1179', 'X_1184', 'X_1195', 'X_1196', 'X_1197', 'X_1200', 'X_1201', 'X_1202', 'X_1205', 'X_1206', 'X_1207', 'X_1209', 'X_1211', 'X_1212', 'X_1215', 'X_1216', 'X_1218', 'X_1219', 'X_1221', 'X_1227', 'X_1229', 'X_1230', 'X_1231', 'X_1233', 'X_1235', 'X_1238', 'X_1239', 'X_1240', 'X_1242', 'X_1244', 'X_1245', 'X_1246', 'X_1247', 'X_1248', 'X_1249', 'X_1250', 'X_1251', 'X_1252', 'X_1253', 'X_1254', 'X_1256', 'X_1259', 'X_1261', 'X_1262', 'X_1263', 'X_1264', 'X_1265', 'X_1266', 'X_1267', 'X_1268', 'X_1269', 'X_1270', 'X_1271', 'X_1273', 'X_1279', 'X_1280', 'X_1287', 'X_1289', 'X_1290', 'X_1291', 'X_1292', 'X_1294', 'X_1297', 'X_1305', 'X_1307', 'X_1308', 'X_1310', 'X_1312', 'X_1313', 'X_1314', 'X_1315', 'X_1316', 'X_1324', 'X_1333', 'X_1338', 'X_1343', 'X_1353', 'X_1357', 'X_1358', 'X_1359', 'X_1360', 'X_1363', 'X_1364', 'X_1366', 'X_1367', 'X_1368', 'X_1369', 'X_1370', 'X_1371', 'X_1372', 'X_1373', 'X_1374', 'X_1375', 'X_1376', 'X_1377', 'X_1378', 'X_1379', 'X_1380', 'X_1382', 'X_1383', 'X_1384', 'X_1385', 'X_1386', 'X_1387', 'X_1388', 'X_1389', 'X_1390', 'X_1391', 'X_1392', 'X_1393', 'X_1394', 'X_1395', 'X_1422', 'X_1423', 'X_1453', 'X_1465', 'X_1483', 'X_1487', 'X_1498', 'X_1499', 'X_1500', 'X_1514', 'X_1515', 'X_1517', 'X_1527', 'X_1528', 'X_1531', 'X_1536', 'X_1549', 'X_1551', 'X_1554', 'X_1560', 'X_1561', 'X_1567', 'X_1568', 'X_1569', 'X_1570', 'X_1571', 'X_1572', 'X_1573', 'X_1574', 'X_1575', 'X_1576', 'X_1577', 'X_1578', 'X_1603', 'X_1640', 'X_1641', 'X_1643', 'X_1662', 'X_1663', 'X_1665', 'X_1666', 'X_1671', 'X_1672', 'X_1673', 'X_1676', 'X_1677', 'X_1679', 'X_1696', 'X_1697', 'X_1698', 'X_2048', 'X_2049', 'X_2050', 'X_2051', 'X_2053', 'X_2055', 'X_2846', 'X_2848', 'X_2851', 'X_2853', 'X_2856', 'X_2864', 'X_2865', 'month']

In [ ]:
len(non_null_cols1_2)

288

In [ ]:
line1_3_df

,PRODUCT_ID,Y_Class,Y_Quality,LINE,PRODUCT_CODE,X_2,X_4,X_6,X_10,X_11,...,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875,month
190,TRAIN_190,1,0.528190,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
208,TRAIN_208,1,0.530048,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
220,TRAIN_220,1,0.529254,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
230,TRAIN_230,1,0.530497,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
235,TRAIN_235,1,0.530514,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
239,TRAIN_239,0,0.523694,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
244,TRAIN_244,1,0.527486,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
281,TRAIN_281,1,0.533960,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
283,TRAIN_283,2,0.538614,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
287,TRAIN_287,1,0.531037,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
291,TRAIN_291,2,0.558568,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
292,TRAIN_292,2,0.558770,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
295,TRAIN_295,1,0.532890,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
299,TRAIN_299,2,0.536951,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
300,TRAIN_300,2,0.537116,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
312,TRAIN_312,0,0.523830,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
332,TRAIN_332,1,0.534065,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
334,TRAIN_334,1,0.529070,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
404,TRAIN_404,0,0.500856,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
410,TRAIN_410,0,0.520625,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
436,TRAIN_436,1,0.526241,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
455,TRAIN_455,1,0.530303,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
456,TRAIN_456,1,0.527278,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
480,TRAIN_480,1,0.530625,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
490,TRAIN_490,0,0.523173,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
491,TRAIN_491,0,0.524808,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
500,TRAIN_500,1,0.532032,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
521,TRAIN_521,1,0.529171,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
530,TRAIN_530,1,0.532754,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
553,TRAIN_553,0,0.524686,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
554,TRAIN_554,1,0.531106,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
584,TRAIN_584,0,0.519519,T010305,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9

In [ ]:
non_null_cols1_3 = line1_3_df.columns[line1_3_df.notnull().any()].tolist()

# print the resulting list of non-null columns
len(non_null_cols1_3)

287

1번 라인의 경우
1번 그룹은 총 59개의 제품들로 이루어져 있음.
1번 그룹은, 값을 가지는 설명변수들이 같은 친구들끼리 총 세 그룹으로 묶일 수 있음. line1_1_df, line_1_2_df, line_1_3_df가 그것들임.
line1_1_df의 경우 총 26개의 제품, line_1_2_df는 총 1개의 제품, line_1_3_df의 경우 총 32개의 제품으로 이루어져 있음. 이 때 각 설명변수들의 집합이 어느정도 차이나는 지를 보자

In [ ]:
print('1번그룹에서의 설명변수 개수는 총', len(non_null_cols1_1))
print('2번그룹에서의 설명변수 개수는 총', len(non_null_cols1_2))
print('3번그룹에서의 설명변수 개수는 총', len(non_null_cols1_3))

1번그룹에서의 설명변수 개수는 총 291
2번그룹에서의 설명변수 개수는 총 288
3번그룹에서의 설명변수 개수는 총 287

In [ ]:
print('1번과 2번이 공유하는 변수들 개수(교집합)',len(list(set(non_null_cols1_1).intersection(non_null_cols1_2))))
print('1번과 2번이 공유하는 변수 합집합',len(list(set(non_null_cols1_1).union(non_null_cols1_2))))
print()
print('1번과 3번이 공유하는 변수들 개수(교집합)',len(list(set(non_null_cols1_1).intersection(non_null_cols1_3))))
print('1번과 3번이 공유하는 변수 합집합',len(list(set(non_null_cols1_1).union(non_null_cols1_3))))
print()
print('2번과 3번이 공유하는 변수들 개수(교집합)',len(list(set(non_null_cols1_2).intersection(non_null_cols1_3))))
print('2번과 3번이 공유하는 변수 합집합',len(list(set(non_null_cols1_2).union(non_null_cols1_3))))

1번과 2번이 공유하는 변수들 개수(교집합) 287
1번과 2번이 공유하는 변수 합집합 292

1번과 3번이 공유하는 변수들 개수(교집합) 287
1번과 3번이 공유하는 변수 합집합 291

2번과 3번이 공유하는 변수들 개수(교집합) 287
2번과 3번이 공유하는 변수 합집합 288

2번 그룹은 사실 그렇게 의미가 없음.
현재 파악을 해보면, 3번 그룹은 standard 변수 877개를 가지고

1번 그룹은 standard 변수에 그룹 고유의 10개의 변수를 가짐

2번 그룹(데이터 하나) 얘만 가지는 고유의 5개의 변수를 가짐

해봤을 때 최빈값이 imputation 되었을 경우 가장 좋았음. 따라서 3번 그룹의 변수들로 예측을 진행을 하되, 2,3번 그룹이 가지는 '고유의 10개 변수'들에 대해서는 최빈값으로 imputation 진행(최빈값 imputation이 가장 결과가 좋았으므로)

#2번라인: T010306, 70개. A_31

In [ ]:
group_line2_df

,PRODUCT_ID,Y_Class,Y_Quality,LINE,PRODUCT_CODE,X_2,X_4,X_6,X_10,X_11,...,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875,month
27,TRAIN_027,2,0.540002,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
31,TRAIN_031,2,0.536206,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
32,TRAIN_032,2,0.548592,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
38,TRAIN_038,2,0.536616,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
47,TRAIN_047,1,0.533230,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
479,TRAIN_479,1,0.534716,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
501,TRAIN_501,1,0.533079,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
523,TRAIN_523,1,0.534640,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
531,TRAIN_531,2,0.560317,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
585,TRAIN_585,0,0.515214,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9

In [ ]:
non_null_counts_2 = group_line2_df.notnull().sum()

# select only those columns with non-null values
non_null_cols_2 = non_null_counts_2[non_null_counts_2 > 0].index.tolist()

# print the resulting list of non-null columns
print(non_null_cols_2)

['PRODUCT_ID', 'Y_Class', 'Y_Quality', 'LINE', 'PRODUCT_CODE', 'X_248', 'X_251', 'X_255', 'X_256', 'X_259', 'X_260', 'X_267', 'X_268', 'X_270', 'X_271', 'X_272', 'X_274', 'X_275', 'X_276', 'X_278', 'X_279', 'X_280', 'X_308', 'X_309', 'X_310', 'X_311', 'X_312', 'X_313', 'X_315', 'X_318', 'X_319', 'X_320', 'X_321', 'X_322', 'X_323', 'X_324', 'X_325', 'X_326', 'X_330', 'X_332', 'X_333', 'X_334', 'X_335', 'X_336', 'X_343', 'X_347', 'X_351', 'X_352', 'X_353', 'X_355', 'X_356', 'X_357', 'X_359', 'X_365', 'X_367', 'X_369', 'X_373', 'X_374', 'X_943', 'X_945', 'X_946', 'X_947', 'X_948', 'X_949', 'X_950', 'X_952', 'X_965', 'X_966', 'X_967', 'X_968', 'X_971', 'X_976', 'X_980', 'X_983', 'X_984', 'X_985', 'X_986', 'X_988', 'X_992', 'X_999', 'X_1000', 'X_1001', 'X_1002', 'X_1003', 'X_1004', 'X_1005', 'X_1013', 'X_1016', 'X_1017', 'X_1018', 'X_1019', 'X_1020', 'X_1021', 'X_1060', 'X_1066', 'X_1071', 'X_1072', 'X_1074', 'X_1084', 'X_1088', 'X_1099', 'X_1115', 'X_1126', 'X_1133', 'X_1142', 'X_1153', 'X_1163', 'X_1164', 'X_1165', 'X_1166', 'X_1167', 'X_1178', 'X_1179', 'X_1184', 'X_1195', 'X_1196', 'X_1197', 'X_1200', 'X_1201', 'X_1202', 'X_1205', 'X_1206', 'X_1207', 'X_1209', 'X_1211', 'X_1212', 'X_1215', 'X_1216', 'X_1218', 'X_1219', 'X_1221', 'X_1227', 'X_1229', 'X_1230', 'X_1231', 'X_1233', 'X_1235', 'X_1238', 'X_1239', 'X_1240', 'X_1242', 'X_1244', 'X_1245', 'X_1246', 'X_1247', 'X_1248', 'X_1249', 'X_1250', 'X_1251', 'X_1252', 'X_1253', 'X_1254', 'X_1256', 'X_1259', 'X_1261', 'X_1262', 'X_1263', 'X_1264', 'X_1265', 'X_1266', 'X_1267', 'X_1268', 'X_1269', 'X_1270', 'X_1271', 'X_1273', 'X_1275', 'X_1276', 'X_1278', 'X_1279', 'X_1280', 'X_1287', 'X_1289', 'X_1290', 'X_1291', 'X_1292', 'X_1294', 'X_1297', 'X_1305', 'X_1307', 'X_1308', 'X_1310', 'X_1312', 'X_1313', 'X_1314', 'X_1315', 'X_1316', 'X_1324', 'X_1333', 'X_1338', 'X_1343', 'X_1353', 'X_1357', 'X_1358', 'X_1359', 'X_1360', 'X_1363', 'X_1364', 'X_1366', 'X_1367', 'X_1368', 'X_1369', 'X_1370', 'X_1371', 'X_1372', 'X_1373', 'X_1374', 'X_1375', 'X_1376', 'X_1377', 'X_1378', 'X_1379', 'X_1380', 'X_1382', 'X_1383', 'X_1384', 'X_1385', 'X_1386', 'X_1387', 'X_1388', 'X_1389', 'X_1390', 'X_1391', 'X_1392', 'X_1393', 'X_1394', 'X_1395', 'X_1422', 'X_1423', 'X_1453', 'X_1465', 'X_1483', 'X_1487', 'X_1498', 'X_1499', 'X_1500', 'X_1514', 'X_1515', 'X_1517', 'X_1527', 'X_1528', 'X_1531', 'X_1536', 'X_1549', 'X_1551', 'X_1554', 'X_1560', 'X_1561', 'X_1567', 'X_1568', 'X_1569', 'X_1570', 'X_1571', 'X_1572', 'X_1573', 'X_1574', 'X_1575', 'X_1576', 'X_1577', 'X_1578', 'X_1603', 'X_1640', 'X_1641', 'X_1643', 'X_1662', 'X_1663', 'X_1665', 'X_1666', 'X_1671', 'X_1672', 'X_1673', 'X_1676', 'X_1677', 'X_1679', 'X_1696', 'X_1697', 'X_1698', 'X_2048', 'X_2049', 'X_2050', 'X_2051', 'X_2053', 'X_2055', 'X_2846', 'X_2848', 'X_2851', 'X_2853', 'X_2856', 'X_2864', 'X_2865', 'month']

In [ ]:
len(non_null_cols_2)

291

In [ ]:
group_line2_df['PRODUCT_CODE'].value_counts()

A_31    70
Name: PRODUCT_CODE, dtype: int64

In [ ]:
group_line2_df.loc[:,non_null_cols_2]

,PRODUCT_ID,Y_Class,Y_Quality,LINE,PRODUCT_CODE,X_248,X_251,X_255,X_256,X_259,...,X_2053,X_2055,X_2846,X_2848,X_2851,X_2853,X_2856,X_2864,X_2865,month
27,TRAIN_027,2,0.540002,T010306,A_31,144.0,0.0,2.0,500.8,0.0,...,0.0,0.0,2.661538,41.0,177.1,144.7,177.1,430.442308,413.0,6
31,TRAIN_031,2,0.536206,T010306,A_31,150.0,0.0,2.0,498.7,0.0,...,0.0,0.0,2.643396,40.0,171.2,155.5,170.8,429.245283,413.0,6
32,TRAIN_032,2,0.548592,T010306,A_31,152.0,0.0,2.0,497.7,0.0,...,0.0,0.0,2.684906,41.0,172.7,150.6,174.5,429.981132,415.0,6
38,TRAIN_038,2,0.536616,T010306,A_31,158.0,0.0,2.0,500.7,0.0,...,0.0,0.0,2.673077,40.0,154.8,130.7,167.9,426.250000,404.0,6
47,TRAIN_047,1,0.533230,T010306,A_31,166.0,0.0,2.0,501.2,0.0,...,0.0,0.0,2.656604,40.0,166.0,148.0,173.1,429.905660,413.0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
479,TRAIN_479,1,0.534716,T010306,A_31,107.0,0.0,2.0,485.8,0.0,...,0.0,0.0,2.722642,39.0,195.0,177.4,199.7,438.132075,413.0,8
501,TRAIN_501,1,0.533079,T010306,A_31,124.0,0.0,2.0,490.8,0.0,...,0.0,0.0,2.700000,38.0,190.1,179.1,196.1,445.307692,425.0,8
523,TRAIN_523,1,0.534640,T010306,A_31,136.0,0.0,2.0,494.4,0.0,...,0.0,0.0,2.717308,38.0,190.0,184.3,203.2,444.615385,423.0,8
531,TRAIN_531,2,0.560317,T010306,A_31,142.0,0.0,2.0,496.8,0.0,...,0.0,0.0,2.698077,37.0,185.1,171.2,189.0,446.038461,427.0,8
585,TRAIN_585,0,0.515214,T010306,A_31,63.0,0.0,2.0,480.5,0.0,...,0.0,0.0,2.726415,40.0,190.4,173.6,204.1,450.339623,432.0,9

In [ ]:
grouped2 = group_line2_df.groupby(group_line2_df.isnull().apply(tuple, axis=1))
cnt=0
for name, group in grouped2:
    cnt+=1
    globals()['line2_{}_df'.format(cnt)] = grouped2.get_group(name)

In [ ]:
cnt

3

In [ ]:
line2_1_df.notnull().columns

Index(['PRODUCT_ID', 'Y_Class', 'Y_Quality', 'LINE', 'PRODUCT_CODE', 'X_2',
       'X_4', 'X_6', 'X_10', 'X_11',
       ...
       'X_2867', 'X_2868', 'X_2869', 'X_2870', 'X_2871', 'X_2872', 'X_2873',
       'X_2874', 'X_2875', 'month'],
      dtype='object', length=1018)

In [ ]:
#2_1번은 1개, 2_2번은 29개, 2_3번은 40개

In [ ]:
non_null_cols2_1 = line2_1_df.columns[line2_1_df.notnull().any()].tolist()

# print the resulting list of non-null columns
print(non_null_cols2_1)

['PRODUCT_ID', 'Y_Class', 'Y_Quality', 'LINE', 'PRODUCT_CODE', 'X_248', 'X_251', 'X_255', 'X_256', 'X_259', 'X_260', 'X_267', 'X_268', 'X_270', 'X_271', 'X_272', 'X_274', 'X_275', 'X_276', 'X_278', 'X_279', 'X_280', 'X_308', 'X_309', 'X_310', 'X_311', 'X_312', 'X_313', 'X_315', 'X_318', 'X_319', 'X_320', 'X_321', 'X_322', 'X_323', 'X_324', 'X_325', 'X_326', 'X_330', 'X_332', 'X_333', 'X_334', 'X_335', 'X_336', 'X_343', 'X_347', 'X_351', 'X_352', 'X_353', 'X_355', 'X_356', 'X_357', 'X_359', 'X_365', 'X_367', 'X_369', 'X_373', 'X_374', 'X_943', 'X_945', 'X_946', 'X_947', 'X_948', 'X_949', 'X_950', 'X_952', 'X_965', 'X_966', 'X_967', 'X_968', 'X_971', 'X_976', 'X_980', 'X_983', 'X_984', 'X_985', 'X_986', 'X_988', 'X_992', 'X_999', 'X_1000', 'X_1001', 'X_1002', 'X_1003', 'X_1004', 'X_1005', 'X_1013', 'X_1016', 'X_1017', 'X_1018', 'X_1019', 'X_1020', 'X_1021', 'X_1060', 'X_1066', 'X_1071', 'X_1072', 'X_1074', 'X_1084', 'X_1088', 'X_1099', 'X_1115', 'X_1126', 'X_1133', 'X_1142', 'X_1153', 'X_1163', 'X_1164', 'X_1165', 'X_1166', 'X_1167', 'X_1178', 'X_1179', 'X_1184', 'X_1195', 'X_1196', 'X_1197', 'X_1200', 'X_1201', 'X_1202', 'X_1205', 'X_1206', 'X_1207', 'X_1209', 'X_1211', 'X_1212', 'X_1215', 'X_1216', 'X_1218', 'X_1219', 'X_1221', 'X_1227', 'X_1229', 'X_1230', 'X_1231', 'X_1233', 'X_1235', 'X_1238', 'X_1239', 'X_1240', 'X_1242', 'X_1244', 'X_1245', 'X_1246', 'X_1247', 'X_1248', 'X_1249', 'X_1250', 'X_1251', 'X_1252', 'X_1253', 'X_1254', 'X_1256', 'X_1259', 'X_1261', 'X_1262', 'X_1263', 'X_1264', 'X_1265', 'X_1266', 'X_1267', 'X_1268', 'X_1269', 'X_1270', 'X_1271', 'X_1273', 'X_1275', 'X_1276', 'X_1278', 'X_1279', 'X_1280', 'X_1287', 'X_1289', 'X_1290', 'X_1291', 'X_1292', 'X_1294', 'X_1297', 'X_1305', 'X_1307', 'X_1308', 'X_1310', 'X_1312', 'X_1313', 'X_1314', 'X_1315', 'X_1316', 'X_1324', 'X_1333', 'X_1338', 'X_1343', 'X_1353', 'X_1357', 'X_1358', 'X_1359', 'X_1360', 'X_1363', 'X_1364', 'X_1366', 'X_1367', 'X_1368', 'X_1369', 'X_1370', 'X_1371', 'X_1372', 'X_1373', 'X_1374', 'X_1375', 'X_1376', 'X_1377', 'X_1378', 'X_1379', 'X_1380', 'X_1382', 'X_1383', 'X_1384', 'X_1385', 'X_1386', 'X_1387', 'X_1388', 'X_1389', 'X_1390', 'X_1391', 'X_1392', 'X_1393', 'X_1394', 'X_1395', 'X_1422', 'X_1423', 'X_1453', 'X_1465', 'X_1483', 'X_1487', 'X_1498', 'X_1499', 'X_1500', 'X_1514', 'X_1515', 'X_1517', 'X_1527', 'X_1528', 'X_1531', 'X_1536', 'X_1549', 'X_1551', 'X_1554', 'X_1560', 'X_1561', 'X_1567', 'X_1568', 'X_1569', 'X_1570', 'X_1571', 'X_1572', 'X_1573', 'X_1574', 'X_1575', 'X_1576', 'X_1577', 'X_1578', 'X_1603', 'X_1640', 'X_1641', 'X_1643', 'X_1662', 'X_1663', 'X_1665', 'X_1666', 'X_1671', 'X_1672', 'X_1673', 'X_1676', 'X_1677', 'X_1679', 'X_1696', 'X_1697', 'X_1698', 'X_2048', 'X_2049', 'X_2050', 'X_2051', 'X_2053', 'X_2055', 'X_2846', 'X_2848', 'X_2851', 'X_2853', 'X_2856', 'X_2864', 'X_2865', 'month']

In [ ]:
len(non_null_cols2_1) #이 그룹의 경우 거의 대다수의 non-null col들을 가진다. 1번 라인을 지나가는 제품들의 경우 총 892개의 non-null column 들을 가지는데, 이 경우 887개의 non-null columns들을 가진다

291

In [ ]:
line2_2_df

,PRODUCT_ID,Y_Class,Y_Quality,LINE,PRODUCT_CODE,X_2,X_4,X_6,X_10,X_11,...,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875,month
27,TRAIN_027,2,0.540002,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
32,TRAIN_032,2,0.548592,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
38,TRAIN_038,2,0.536616,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
47,TRAIN_047,1,0.533230,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
51,TRAIN_051,2,0.547184,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
53,TRAIN_053,2,0.554498,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
54,TRAIN_054,2,0.545925,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
67,TRAIN_067,0,0.513135,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
68,TRAIN_068,0,0.517938,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
70,TRAIN_070,1,0.526997,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
72,TRAIN_072,2,0.538095,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
76,TRAIN_076,1,0.527735,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
78,TRAIN_078,0,0.524183,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
83,TRAIN_083,1,0.525221,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
91,TRAIN_091,1,0.529202,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
101,TRAIN_101,1,0.530022,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
102,TRAIN_102,1,0.531062,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
115,TRAIN_115,1,0.526460,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
117,TRAIN_117,1,0.531043,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
124,TRAIN_124,1,0.533489,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
139,TRAIN_139,1,0.533122,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
140,TRAIN_140,1,0.531997,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
145,TRAIN_145,1,0.525859,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
146,TRAIN_146,1,0.527689,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
147,TRAIN_147,2,0.535500,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
148,TRAIN_148,2,0.536657,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
159,TRAIN_159,2,0.547497,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
160,TRAIN_160,2,0.549381,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
178,TRAIN_178,2,0.538502,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7

In [ ]:
non_null_cols2_2 = line2_2_df.columns[line2_2_df.notnull().any()].tolist()

# print the resulting list of non-null columns
print(non_null_cols2_2)

['PRODUCT_ID', 'Y_Class', 'Y_Quality', 'LINE', 'PRODUCT_CODE', 'X_248', 'X_251', 'X_255', 'X_256', 'X_259', 'X_260', 'X_267', 'X_268', 'X_270', 'X_271', 'X_272', 'X_274', 'X_275', 'X_276', 'X_278', 'X_279', 'X_280', 'X_308', 'X_309', 'X_310', 'X_311', 'X_312', 'X_313', 'X_315', 'X_318', 'X_319', 'X_320', 'X_321', 'X_322', 'X_323', 'X_324', 'X_325', 'X_326', 'X_330', 'X_332', 'X_333', 'X_334', 'X_335', 'X_336', 'X_343', 'X_347', 'X_351', 'X_352', 'X_353', 'X_355', 'X_356', 'X_357', 'X_359', 'X_365', 'X_367', 'X_369', 'X_373', 'X_374', 'X_943', 'X_945', 'X_946', 'X_947', 'X_948', 'X_949', 'X_950', 'X_952', 'X_965', 'X_966', 'X_967', 'X_968', 'X_971', 'X_976', 'X_980', 'X_983', 'X_984', 'X_985', 'X_986', 'X_988', 'X_992', 'X_999', 'X_1000', 'X_1001', 'X_1002', 'X_1003', 'X_1004', 'X_1005', 'X_1013', 'X_1016', 'X_1017', 'X_1018', 'X_1019', 'X_1020', 'X_1021', 'X_1060', 'X_1066', 'X_1071', 'X_1072', 'X_1074', 'X_1084', 'X_1088', 'X_1099', 'X_1115', 'X_1126', 'X_1133', 'X_1142', 'X_1153', 'X_1163', 'X_1164', 'X_1165', 'X_1166', 'X_1167', 'X_1178', 'X_1179', 'X_1184', 'X_1195', 'X_1196', 'X_1197', 'X_1200', 'X_1201', 'X_1202', 'X_1205', 'X_1206', 'X_1207', 'X_1209', 'X_1211', 'X_1212', 'X_1215', 'X_1216', 'X_1218', 'X_1221', 'X_1227', 'X_1229', 'X_1230', 'X_1231', 'X_1233', 'X_1235', 'X_1238', 'X_1239', 'X_1240', 'X_1242', 'X_1244', 'X_1245', 'X_1246', 'X_1247', 'X_1248', 'X_1249', 'X_1250', 'X_1251', 'X_1252', 'X_1253', 'X_1254', 'X_1256', 'X_1259', 'X_1261', 'X_1262', 'X_1263', 'X_1264', 'X_1265', 'X_1266', 'X_1267', 'X_1268', 'X_1269', 'X_1270', 'X_1271', 'X_1273', 'X_1275', 'X_1276', 'X_1278', 'X_1279', 'X_1280', 'X_1287', 'X_1289', 'X_1290', 'X_1291', 'X_1292', 'X_1294', 'X_1297', 'X_1305', 'X_1307', 'X_1308', 'X_1310', 'X_1312', 'X_1313', 'X_1314', 'X_1315', 'X_1316', 'X_1324', 'X_1333', 'X_1338', 'X_1343', 'X_1353', 'X_1357', 'X_1358', 'X_1359', 'X_1360', 'X_1363', 'X_1364', 'X_1366', 'X_1367', 'X_1368', 'X_1369', 'X_1370', 'X_1371', 'X_1372', 'X_1373', 'X_1374', 'X_1375', 'X_1376', 'X_1377', 'X_1378', 'X_1379', 'X_1380', 'X_1382', 'X_1383', 'X_1384', 'X_1385', 'X_1386', 'X_1387', 'X_1388', 'X_1389', 'X_1390', 'X_1391', 'X_1392', 'X_1393', 'X_1394', 'X_1395', 'X_1422', 'X_1423', 'X_1453', 'X_1465', 'X_1483', 'X_1487', 'X_1498', 'X_1499', 'X_1500', 'X_1514', 'X_1515', 'X_1517', 'X_1527', 'X_1528', 'X_1531', 'X_1536', 'X_1549', 'X_1551', 'X_1554', 'X_1560', 'X_1561', 'X_1567', 'X_1568', 'X_1569', 'X_1570', 'X_1571', 'X_1572', 'X_1573', 'X_1574', 'X_1575', 'X_1576', 'X_1577', 'X_1578', 'X_1603', 'X_1640', 'X_1641', 'X_1643', 'X_1662', 'X_1663', 'X_1665', 'X_1666', 'X_1671', 'X_1672', 'X_1673', 'X_1676', 'X_1677', 'X_1679', 'X_1696', 'X_1697', 'X_1698', 'X_2048', 'X_2049', 'X_2050', 'X_2051', 'X_2053', 'X_2055', 'X_2846', 'X_2848', 'X_2851', 'X_2853', 'X_2856', 'X_2864', 'X_2865', 'month']

In [ ]:
len(non_null_cols2_2)

290

In [ ]:
line2_3_df

,PRODUCT_ID,Y_Class,Y_Quality,LINE,PRODUCT_CODE,X_2,X_4,X_6,X_10,X_11,...,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875,month
189,TRAIN_189,2,0.537335,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
207,TRAIN_207,2,0.538357,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
211,TRAIN_211,2,0.547492,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
212,TRAIN_212,2,0.547516,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
213,TRAIN_213,2,0.544089,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
218,TRAIN_218,2,0.539078,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
219,TRAIN_219,2,0.535394,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
221,TRAIN_221,1,0.529189,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
222,TRAIN_222,1,0.533051,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
223,TRAIN_223,1,0.529808,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
224,TRAIN_224,1,0.528687,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
229,TRAIN_229,1,0.534737,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
236,TRAIN_236,1,0.525997,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
240,TRAIN_240,2,0.538806,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
243,TRAIN_243,2,0.538030,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
286,TRAIN_286,1,0.534195,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
290,TRAIN_290,1,0.530403,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
293,TRAIN_293,2,0.535279,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
294,TRAIN_294,0,0.522121,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
311,TRAIN_311,1,0.530606,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
333,TRAIN_333,0,0.524487,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
339,TRAIN_339,1,0.530457,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
341,TRAIN_341,1,0.531670,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
390,TRAIN_390,1,0.530940,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
391,TRAIN_391,1,0.533944,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
405,TRAIN_405,1,0.533471,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
411,TRAIN_411,1,0.527114,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
418,TRAIN_418,1,0.530568,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
419,TRAIN_419,2,0.535589,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
424,TRAIN_424,1,0.531970,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
425,TRAIN_425,1,0.526835,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
437,TRAIN_437,1,0.526906,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
450,TRAIN_450,1,0.528087,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
471,TRAIN_471,2,0.553733,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
472,TRAIN_472,2,0.554562,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
479,TRAIN_479,1,0.534716,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
501,TRAIN_501,1,0.533079,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
523,TRAIN_523,1,0.534640,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
531,TRAIN_531,2,0.560317,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
585,TRAIN_585,0,0.515214,T010306,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9

In [ ]:
non_null_cols2_3 = line2_3_df.columns[line2_3_df.notnull().any()].tolist()

# print the resulting list of non-null columns
len(non_null_cols2_3)

286

1번 라인의 경우
1번 그룹은 총 59개의 제품들로 이루어져 있음.
1번 그룹은, 값을 가지는 설명변수들이 같은 친구들끼리 총 세 그룹으로 묶일 수 있음. line1_1_df, line_1_2_df, line_1_3_df가 그것들임.
line1_1_df의 경우 총 26개의 제품, line_1_2_df는 총 1개의 제품, line_1_3_df의 경우 총 32개의 제품으로 이루어져 있음. 이 때 각 설명변수들의 집합이 어느정도 차이나는 지를 보자

In [ ]:
print(len(line2_1_df))
print(len(line2_2_df))
print(len(line2_3_df))

1
29
40

In [ ]:
print('1번그룹에서의 설명변수 개수는 총', len(non_null_cols2_1))
print('2번그룹에서의 설명변수 개수는 총', len(non_null_cols2_2))
print('3번그룹에서의 설명변수 개수는 총', len(non_null_cols2_3))

1번그룹에서의 설명변수 개수는 총 291
2번그룹에서의 설명변수 개수는 총 290
3번그룹에서의 설명변수 개수는 총 286

In [ ]:
print('1번과 2번이 공유하는 변수들 개수(교집합)',len(list(set(non_null_cols2_1).intersection(non_null_cols2_2))))
print('1번과 2번이 공유하는 변수 합집합',len(list(set(non_null_cols2_1).union(non_null_cols2_2))))
print()
print('1번과 3번이 공유하는 변수들 개수(교집합)',len(list(set(non_null_cols2_1).intersection(non_null_cols2_3))))
print('1번과 3번이 공유하는 변수 합집합',len(list(set(non_null_cols2_1).union(non_null_cols2_3))))
print()
print('2번과 3번이 공유하는 변수들 개수(교집합)',len(list(set(non_null_cols2_2).intersection(non_null_cols2_3))))
print('2번과 3번이 공유하는 변수 합집합',len(list(set(non_null_cols2_2).union(non_null_cols2_3))))

1번과 2번이 공유하는 변수들 개수(교집합) 290
1번과 2번이 공유하는 변수 합집합 291

1번과 3번이 공유하는 변수들 개수(교집합) 286
1번과 3번이 공유하는 변수 합집합 291

2번과 3번이 공유하는 변수들 개수(교집합) 286
2번과 3번이 공유하는 변수 합집합 290

2번 그룹은 사실 그렇게 의미가 없음.
현재 파악을 해보면, 3번 그룹은 standard 변수 877개를 가지고

1번 그룹은 standard 변수에 그룹 고유의 10개의 변수를 가짐

2번 그룹(데이터 하나) 얘만 가지는 고유의 5개의 변수를 가짐

해봤을 때 최빈값이 imputation 되었을 경우 가장 좋았음. 따라서 3번 그룹의 변수들로 예측을 진행을 하되, 2,3번 그룹이 가지는 '고유의 10개 변수'들에 대해서는 최빈값으로 imputation 진행(최빈값 imputation이 가장 결과가 좋았으므로)

#3번라인: T050304, 78개. A_31

In [ ]:
group_line3_df

,PRODUCT_ID,Y_Class,Y_Quality,LINE,PRODUCT_CODE,X_2,X_4,X_6,X_10,X_11,...,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875,month
0,TRAIN_000,1,0.533433,T050304,A_31,NaN,NaN,NaN,NaN,NaN,...,40.89,32.56,34.09,77.77,NaN,NaN,NaN,NaN,NaN,6
2,TRAIN_002,1,0.531267,T050304,A_31,NaN,NaN,NaN,NaN,NaN,...,36.65,42.47,36.53,78.35,NaN,NaN,NaN,NaN,NaN,6
4,TRAIN_004,1,0.531590,T050304,A_31,NaN,NaN,NaN,NaN,NaN,...,41.89,46.93,33.09,76.97,NaN,NaN,NaN,NaN,NaN,6
6,TRAIN_006,1,0.533665,T050304,A_31,NaN,NaN,NaN,NaN,NaN,...,41.42,38.36,30.83,76.93,NaN,NaN,NaN,NaN,NaN,6
8,TRAIN_008,1,0.531821,T050304,A_31,NaN,NaN,NaN,NaN,NaN,...,43.17,55.60,33.26,78.50,NaN,NaN,NaN,NaN,NaN,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581,TRAIN_581,0,0.523465,T050304,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,9
582,TRAIN_582,0,0.522233,T050304,A_31,NaN,NaN,NaN,NaN,NaN,...,53.23,52.44,56.28,66.83,1.0,NaN,NaN,NaN,NaN,9
583,TRAIN_583,0,0.522340,T050304,A_31,NaN,NaN,NaN,NaN,NaN,...,59.64,54.61,57.05,63.18,1.0,NaN,NaN,NaN,NaN,9
594,TRAIN_594,0,0.524022,T050304,A_31,NaN,NaN,NaN,NaN,NaN,...,53.07,50.89,55.10,66.49,1.0,NaN,NaN,NaN,NaN,9
595,TRAIN_595,0,0.521289,T050304,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,9

In [ ]:
non_null_counts_3 = group_line3_df.notnull().sum()

# select only those columns with non-null values
non_null_cols_3 = non_null_counts_3[non_null_counts_3 > 0].index.tolist()

# print the resulting list of non-null columns
print(non_null_cols_3)

['PRODUCT_ID', 'Y_Class', 'Y_Quality', 'LINE', 'PRODUCT_CODE', 'X_138', 'X_139', 'X_140', 'X_141', 'X_142', 'X_143', 'X_147', 'X_148', 'X_149', 'X_150', 'X_151', 'X_152', 'X_153', 'X_154', 'X_155', 'X_156', 'X_157', 'X_158', 'X_159', 'X_160', 'X_162', 'X_163', 'X_164', 'X_166', 'X_167', 'X_168', 'X_169', 'X_170', 'X_171', 'X_172', 'X_173', 'X_174', 'X_175', 'X_176', 'X_178', 'X_180', 'X_181', 'X_182', 'X_183', 'X_184', 'X_186', 'X_187', 'X_188', 'X_189', 'X_190', 'X_191', 'X_228', 'X_229', 'X_230', 'X_231', 'X_232', 'X_233', 'X_235', 'X_237', 'X_240', 'X_245', 'X_375', 'X_377', 'X_378', 'X_379', 'X_943', 'X_945', 'X_946', 'X_947', 'X_948', 'X_949', 'X_950', 'X_952', 'X_965', 'X_966', 'X_967', 'X_968', 'X_971', 'X_976', 'X_980', 'X_983', 'X_984', 'X_985', 'X_986', 'X_988', 'X_992', 'X_999', 'X_1000', 'X_1001', 'X_1002', 'X_1003', 'X_1004', 'X_1005', 'X_1009', 'X_1011', 'X_1012', 'X_1013', 'X_1016', 'X_1017', 'X_1018', 'X_1019', 'X_1020', 'X_1021', 'X_1060', 'X_1066', 'X_1071', 'X_1072', 'X_1074', 'X_1084', 'X_1088', 'X_1099', 'X_1115', 'X_1126', 'X_1133', 'X_1142', 'X_1153', 'X_1163', 'X_1164', 'X_1165', 'X_1166', 'X_1167', 'X_1178', 'X_1179', 'X_1184', 'X_1195', 'X_1196', 'X_1197', 'X_1200', 'X_1201', 'X_1202', 'X_1205', 'X_1206', 'X_1207', 'X_1209', 'X_1211', 'X_1212', 'X_1215', 'X_1216', 'X_1218', 'X_1219', 'X_1221', 'X_1227', 'X_1229', 'X_1230', 'X_1231', 'X_1233', 'X_1235', 'X_1238', 'X_1239', 'X_1240', 'X_1242', 'X_1244', 'X_1245', 'X_1246', 'X_1247', 'X_1248', 'X_1249', 'X_1250', 'X_1251', 'X_1252', 'X_1253', 'X_1254', 'X_1256', 'X_1259', 'X_1261', 'X_1262', 'X_1263', 'X_1264', 'X_1265', 'X_1266', 'X_1267', 'X_1268', 'X_1269', 'X_1270', 'X_1271', 'X_1273', 'X_1275', 'X_1276', 'X_1278', 'X_1279', 'X_1280', 'X_1287', 'X_1289', 'X_1290', 'X_1291', 'X_1292', 'X_1294', 'X_1297', 'X_1305', 'X_1307', 'X_1308', 'X_1310', 'X_1312', 'X_1313', 'X_1314', 'X_1315', 'X_1316', 'X_1324', 'X_1333', 'X_1338', 'X_1343', 'X_1353', 'X_1357', 'X_1358', 'X_1359', 'X_1360', 'X_1363', 'X_1364', 'X_1367', 'X_1368', 'X_1369', 'X_1370', 'X_1371', 'X_1372', 'X_1373', 'X_1374', 'X_1375', 'X_1376', 'X_1377', 'X_1378', 'X_1379', 'X_1380', 'X_1382', 'X_1383', 'X_1384', 'X_1385', 'X_1386', 'X_1387', 'X_1388', 'X_1389', 'X_1390', 'X_1391', 'X_1392', 'X_1393', 'X_1394', 'X_1395', 'X_1422', 'X_1423', 'X_1453', 'X_1465', 'X_1483', 'X_1487', 'X_1498', 'X_1499', 'X_1500', 'X_1514', 'X_1515', 'X_1517', 'X_1518', 'X_1527', 'X_1528', 'X_1531', 'X_1533', 'X_1536', 'X_1549', 'X_1551', 'X_1554', 'X_1560', 'X_1561', 'X_1567', 'X_1568', 'X_1569', 'X_1570', 'X_1571', 'X_1572', 'X_1573', 'X_1574', 'X_1575', 'X_1576', 'X_1577', 'X_1578', 'X_1603', 'X_1640', 'X_1641', 'X_1643', 'X_1662', 'X_1663', 'X_1665', 'X_1666', 'X_1671', 'X_1672', 'X_1673', 'X_1676', 'X_1677', 'X_1679', 'X_1680', 'X_1681', 'X_1683', 'X_1684', 'X_1685', 'X_1687', 'X_1688', 'X_1689', 'X_1691', 'X_1692', 'X_1693', 'X_1694', 'X_1695', 'X_1696', 'X_1697', 'X_1698', 'X_1703', 'X_1705', 'X_1715', 'X_1717', 'X_1718', 'X_1719', 'X_1720', 'X_1725', 'X_1727', 'X_1729', 'X_1732', 'X_1745', 'X_1747', 'X_1749', 'X_1750', 'X_1751', 'X_1755', 'X_1756', 'X_1757', 'X_1761', 'X_1762', 'X_1763', 'X_1767', 'X_1768', 'X_1769', 'X_1770', 'X_1771', 'X_1772', 'X_1773', 'X_1774', 'X_1775', 'X_1779', 'X_1780', 'X_1781', 'X_1785', 'X_1786', 'X_1787', 'X_1791', 'X_1792', 'X_1793', 'X_1795', 'X_1797', 'X_1798', 'X_1799', 'X_1803', 'X_1804', 'X_1807', 'X_1809', 'X_1813', 'X_1817', 'X_1819', 'X_1823', 'X_1824', 'X_1827', 'X_1830', 'X_1831', 'X_1832', 'X_1833', 'X_1834', 'X_1835', 'X_1836', 'X_1837', 'X_1838', 'X_1839', 'X_1840', 'X_1841', 'X_1842', 'X_1843', 'X_1844', 'X_1847', 'X_1848', 'X_1850', 'X_1865', 'X_1866', 'X_1867', 'X_1868', 'X_1942', 'X_1967', 'X_1987', 'X_2038', 'X_2048', 'X_2049', 'X_2050', 'X_2051', 'X_2053', 'X_2055', 'X_2062', 'X_2063', 'X_2072', 'X_2090', 'X_2110', 'X_2180', 'X_2184', 'X_2185', 'X_2404', 'X_2413', 'X_2415', 'X_2416', 'X_2419', 'X_2421', 'X_2423', 'X_2429', 'X_2430', 'X_2431', 'X_2432', 'X_2433', 'X_2434', 'X_2435', 'X_2436', 'X_2437', 'X_2438', 'X_2439', 'X_2440', 'X_2441', 'X_2442', 'X_2443', 'X_2444', 'X_2445', 'X_2446', 'X_2447', 'X_2448', 'X_2449', 'X_2450', 'X_2452', 'X_2453', 'X_2454', 'X_2455', 'X_2456', 'X_2458', 'X_2459', 'X_2461', 'X_2462', 'X_2536', 'X_2546', 'X_2547', 'X_2624', 'X_2625', 'X_2626', 'X_2627', 'X_2708', 'X_2726', 'X_2728', 'X_2729', 'X_2734', 'X_2735', 'X_2736', 'X_2742', 'X_2743', 'X_2744', 'X_2745', 'X_2746', 'X_2747', 'X_2750', 'X_2751', 'X_2753', 'X_2754', 'X_2756', 'X_2757', 'X_2759', 'X_2760', 'X_2761', 'X_2762', 'X_2763', 'X_2764', 'X_2765', 'X_2766', 'X_2768', 'X_2769', 'X_2771', 'X_2776', 'X_2780', 'X_2784', 'X_2788', 'X_2790', 'X_2792', 'X_2793', 'X_2794', 'X_2795', 'X_2796', 'X_2797', 'X_2834', 'X_2835', 'X_2836', 'X_2840', 'X_2846', 'X_2848', 'X_2851', 'X_2853', 'X_2856', 'X_2864', 'X_2865', 'X_2867', 'X_2868', 'X_2869', 'X_2870', 'X_2871', 'month']

In [ ]:
len(non_null_cols_3)

498

In [ ]:
group_line3_df['PRODUCT_CODE'].value_counts()

A_31    78
Name: PRODUCT_CODE, dtype: int64

In [ ]:
group_line3_df.loc[:,non_null_cols_3]

,PRODUCT_ID,Y_Class,Y_Quality,LINE,PRODUCT_CODE,X_138,X_139,X_140,X_141,X_142,...,X_2853,X_2856,X_2864,X_2865,X_2867,X_2868,X_2869,X_2870,X_2871,month
0,TRAIN_000,1,0.533433,T050304,A_31,225.0,582.9,587.1,567.3,0.0,...,164.9,181.6,368.296296,353.0,40.89,32.56,34.09,77.77,NaN,6
2,TRAIN_002,1,0.531267,T050304,A_31,225.0,583.8,587.6,572.9,0.0,...,167.4,183.6,367.320755,353.0,36.65,42.47,36.53,78.35,NaN,6
4,TRAIN_004,1,0.531590,T050304,A_31,225.0,583.2,587.3,565.9,0.0,...,167.6,188.0,367.351852,352.0,41.89,46.93,33.09,76.97,NaN,6
6,TRAIN_006,1,0.533665,T050304,A_31,225.0,583.4,587.3,543.9,0.0,...,162.9,175.1,368.425926,353.0,41.42,38.36,30.83,76.93,NaN,6
8,TRAIN_008,1,0.531821,T050304,A_31,225.0,583.3,587.2,571.9,0.0,...,160.4,177.0,373.500000,353.0,43.17,55.60,33.26,78.50,NaN,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581,TRAIN_581,0,0.523465,T050304,A_31,230.0,584.0,588.7,558.2,0.0,...,181.9,182.6,367.333333,352.0,NaN,NaN,NaN,NaN,1.0,9
582,TRAIN_582,0,0.522233,T050304,A_31,230.0,583.3,588.4,570.1,0.0,...,180.6,179.2,367.037037,352.0,53.23,52.44,56.28,66.83,1.0,9
583,TRAIN_583,0,0.522340,T050304,A_31,230.0,583.5,588.3,555.9,0.0,...,169.7,172.9,371.943396,353.0,59.64,54.61,57.05,63.18,1.0,9
594,TRAIN_594,0,0.524022,T050304,A_31,304.0,588.9,594.6,574.8,0.0,...,179.5,168.2,369.811321,353.0,53.07,50.89,55.10,66.49,1.0,9
595,TRAIN_595,0,0.521289,T050304,A_31,304.0,588.8,594.6,570.8,0.0,...,182.5,153.4,367.018868,352.0,NaN,NaN,NaN,NaN,1.0,9

In [ ]:
grouped3 = group_line3_df.groupby(group_line3_df.isnull().apply(tuple, axis=1))
cnt=0
for name, group in grouped3:
    cnt+=1
    globals()['line3_{}_df'.format(cnt)] = grouped3.get_group(name)

In [ ]:
cnt

18

In [ ]:
for i in range(1,19):
  print('3_{}번째 그룹의 unique rows'.format(i),len(globals()['line3_{}_df'.format(i)]))

3_1번째 그룹의 unique rows 1
3_2번째 그룹의 unique rows 1
3_3번째 그룹의 unique rows 7
3_4번째 그룹의 unique rows 9
3_5번째 그룹의 unique rows 3
3_6번째 그룹의 unique rows 1
3_7번째 그룹의 unique rows 2
3_8번째 그룹의 unique rows 1
3_9번째 그룹의 unique rows 1
3_10번째 그룹의 unique rows 12
3_11번째 그룹의 unique rows 30
3_12번째 그룹의 unique rows 3
3_13번째 그룹의 unique rows 2
3_14번째 그룹의 unique rows 1
3_15번째 그룹의 unique rows 1
3_16번째 그룹의 unique rows 1
3_17번째 그룹의 unique rows 1
3_18번째 그룹의 unique rows 1

In [ ]:
for i in range(1,19):
  globals()['non_null_cols3_{}'.format(i)] = globals()['line3_{}_df'.format(i)].columns[globals()['line3_{}_df'.format(i)].notnull().any()].tolist()
for j in range(1,19):
  print('3_{}번째 그룹의 non-nan column들은'.format(j),len(globals()['non_null_cols3_{}'.format(j)]),'개이다.')

3_1번째 그룹의 non-nan column들은 497 개이다.
3_2번째 그룹의 non-nan column들은 493 개이다.
3_3번째 그룹의 non-nan column들은 497 개이다.
3_4번째 그룹의 non-nan column들은 496 개이다.
3_5번째 그룹의 non-nan column들은 495 개이다.
3_6번째 그룹의 non-nan column들은 491 개이다.
3_7번째 그룹의 non-nan column들은 490 개이다.
3_8번째 그룹의 non-nan column들은 478 개이다.
3_9번째 그룹의 non-nan column들은 473 개이다.
3_10번째 그룹의 non-nan column들은 491 개이다.
3_11번째 그룹의 non-nan column들은 477 개이다.
3_12번째 그룹의 non-nan column들은 486 개이다.
3_13번째 그룹의 non-nan column들은 472 개이다.
3_14번째 그룹의 non-nan column들은 475 개이다.
3_15번째 그룹의 non-nan column들은 455 개이다.
3_16번째 그룹의 non-nan column들은 449 개이다.
3_17번째 그룹의 non-nan column들은 326 개이다.
3_18번째 그룹의 non-nan column들은 321 개이다.

In [ ]:
for k in range(1,19):
  print('3_{}번째 그룹의 unique row는 총'.format(k), len(globals()['line3_{}_df'.format(k)]),'개이고','총 non-nan column 개수는',len(globals()['non_null_cols3_{}'.format(k)]))

3_1번째 그룹의 unique row는 총 1 개이고 총 non-nan column 개수는 497
3_2번째 그룹의 unique row는 총 1 개이고 총 non-nan column 개수는 493
3_3번째 그룹의 unique row는 총 7 개이고 총 non-nan column 개수는 497
3_4번째 그룹의 unique row는 총 9 개이고 총 non-nan column 개수는 496
3_5번째 그룹의 unique row는 총 3 개이고 총 non-nan column 개수는 495
3_6번째 그룹의 unique row는 총 1 개이고 총 non-nan column 개수는 491
3_7번째 그룹의 unique row는 총 2 개이고 총 non-nan column 개수는 490
3_8번째 그룹의 unique row는 총 1 개이고 총 non-nan column 개수는 478
3_9번째 그룹의 unique row는 총 1 개이고 총 non-nan column 개수는 473
3_10번째 그룹의 unique row는 총 12 개이고 총 non-nan column 개수는 491
3_11번째 그룹의 unique row는 총 30 개이고 총 non-nan column 개수는 477
3_12번째 그룹의 unique row는 총 3 개이고 총 non-nan column 개수는 486
3_13번째 그룹의 unique row는 총 2 개이고 총 non-nan column 개수는 472
3_14번째 그룹의 unique row는 총 1 개이고 총 non-nan column 개수는 475
3_15번째 그룹의 unique row는 총 1 개이고 총 non-nan column 개수는 455
3_16번째 그룹의 unique row는 총 1 개이고 총 non-nan column 개수는 449
3_17번째 그룹의 unique row는 총 1 개이고 총 non-nan column 개수는 326
3_18번째 그룹의 unique row는 총 1 개이고 총 non-nan column 개수는 321

In [ ]:
row_index = 0
row = line3_9_df.iloc[row_index]

# create a boolean mask indicating which values are NaN
nan_mask = row.notna()

# select only the NaN values in the row
nan_values = row[nan_mask]

# print the NaN values
print(nan_values)

PRODUCT_ID       TRAIN_595
Y_Class                  0
Y_Quality         0.521289
LINE               T050304
PRODUCT_CODE          A_31
                   ...
X_2856               153.4
X_2864          367.018868
X_2865               352.0
X_2871                 1.0
month                    9
Name: 595, Length: 473, dtype: object

#4번라인: T050307, 42개. A_31

In [ ]:
group_line4_df

,PRODUCT_ID,Y_Class,Y_Quality,LINE,PRODUCT_CODE,X_2,X_4,X_6,X_10,X_11,...,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875,month
1,TRAIN_001,2,0.541819,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,42.82,43.92,35.34,72.55,NaN,NaN,NaN,NaN,NaN,6
3,TRAIN_003,2,0.537325,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,39.17,52.17,30.58,71.78,NaN,NaN,NaN,NaN,NaN,6
5,TRAIN_005,2,0.537833,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,51.25,56.01,37.41,71.37,NaN,NaN,NaN,NaN,NaN,6
7,TRAIN_007,2,0.540003,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,35.95,59.51,30.49,72.77,NaN,NaN,NaN,NaN,NaN,6
9,TRAIN_009,2,0.538049,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,35.88,50.36,38.45,71.42,NaN,NaN,NaN,NaN,NaN,6
11,TRAIN_011,2,0.539149,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,35.49,52.27,31.45,72.46,NaN,NaN,NaN,NaN,NaN,6
13,TRAIN_013,2,0.538508,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,34.33,41.98,40.34,72.77,NaN,NaN,NaN,NaN,NaN,6
15,TRAIN_015,2,0.539254,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,44.53,41.54,37.20,72.46,NaN,NaN,NaN,NaN,NaN,6
17,TRAIN_017,2,0.538854,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,33.26,55.97,35.17,71.40,NaN,NaN,NaN,NaN,NaN,6
19,TRAIN_019,2,0.539235,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
24,TRAIN_024,2,0.578841,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,68.66,59.20,59.42,70.16,1.0,NaN,NaN,NaN,NaN,6
35,TRAIN_035,1,0.527976,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,6
81,TRAIN_081,2,0.544584,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,57.13,50.15,57.17,64.01,1.0,NaN,NaN,NaN,NaN,7
82,TRAIN_082,2,0.547481,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,7
187,TRAIN_187,2,0.562770,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,53.57,41.30,56.11,65.79,1.0,NaN,NaN,NaN,NaN,7
195,TRAIN_195,2,0.547592,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,7
198,TRAIN_198,2,0.542848,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,56.01,59.47,58.89,65.27,1.0,NaN,NaN,NaN,NaN,7
256,TRAIN_256,2,0.555616,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,61.60,40.97,52.82,64.22,1.0,NaN,NaN,NaN,NaN,7
261,TRAIN_261,2,0.537560,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,60.24,59.64,57.34,65.86,1.0,NaN,NaN,NaN,NaN,7
296,TRAIN_296,0,0.522368,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,63.10,60.41,58.94,64.95,1.0,NaN,NaN,NaN,NaN,7
298,TRAIN_298,0,0.523383,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,61.50,56.62,57.87,67.22,1.0,NaN,NaN,NaN,NaN,7
307,TRAIN_307,0,0.524551,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,59.90,56.30,56.83,62.83,1.0,NaN,NaN,NaN,NaN,7
316,TRAIN_316,2,0.543957,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,7
336,TRAIN_336,1,0.534843,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,8
355,TRAIN_355,2,0.550340,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,57.77,41.88,53.93,63.40,1.0,NaN,NaN,NaN,NaN,8
356,TRAIN_356,2,0.551949,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,8
369,TRAIN_369,2,0.539611,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,8
432,TRAIN_432,1,0.532386,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,59.57,42.58,57.58,64.90,1.0,NaN,NaN,NaN,NaN,8
444,TRAIN_444,1,0.527944,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,53.54,47.58,53.70,61.95,1.0,NaN,NaN,NaN,NaN,8
454,TRAIN_454,1,0.525086,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,53.03,53.75,58.96,64.01,1.0,NaN,NaN,NaN,NaN,8
477,TRAIN_477,0,0.524781,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,56.81,42.61,57.01,65.67,1.0,NaN,NaN,NaN,NaN,8
541,TRAIN_541,0,0.515884,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,58.32,49.10,53.29,62.48,1.0,NaN,NaN,NaN,NaN,8
542,TRAIN_542,0,0.524090,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,52.73,56.14,50.80,62.95,1.0,NaN,NaN,NaN,NaN,8
543,TRAIN_543,0,0.520911,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,57.00,54.35,48.86,63.36,1.0,NaN,NaN,NaN,NaN,8
544,TRAIN_544,0,0.518835,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,55.42,59.61,56.72,62.94,1.0,NaN,NaN,NaN,NaN,8
545,TRAIN_545,0,0.521494,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,51.05,49.83,58.79,63.26,1.0,NaN,NaN,NaN,NaN,8
546,TRAIN_546,0,0.519406,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,53.22,50.07,57.13,64.27,1.0,NaN,NaN,NaN,NaN,8
549,TRAIN_549,1,0.533711,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,56.26,53.14,56.30,66.03,1.0,NaN,NaN,NaN,NaN,8
550,TRAIN_550,1,0.533695,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,53.10,57.30,56.59,66.83,1.0,NaN,NaN,NaN,NaN,8
551,TRAIN_551,1,0.525271,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,56.24,54.47,50.56,62.53,1.0,NaN,NaN,NaN,NaN,8
552,TRAIN_552,1,0.529806,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,58.90,49.85,57.66,63.14,1.0,NaN,NaN,NaN,NaN,8
555,TRAIN_555,0,0.521406,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,8

In [ ]:
non_null_counts_4 = group_line4_df.notnull().sum()

# select only those columns with non-null values
non_null_cols_4 = non_null_counts_4[non_null_counts_4 > 0].index.tolist()

# print the resulting list of non-null columns
print(non_null_cols_4)

['PRODUCT_ID', 'Y_Class', 'Y_Quality', 'LINE', 'PRODUCT_CODE', 'X_131', 'X_138', 'X_139', 'X_140', 'X_141', 'X_142', 'X_143', 'X_147', 'X_148', 'X_149', 'X_150', 'X_151', 'X_152', 'X_153', 'X_154', 'X_155', 'X_156', 'X_157', 'X_158', 'X_159', 'X_160', 'X_162', 'X_163', 'X_164', 'X_166', 'X_167', 'X_168', 'X_169', 'X_170', 'X_171', 'X_172', 'X_173', 'X_174', 'X_175', 'X_176', 'X_178', 'X_180', 'X_181', 'X_182', 'X_183', 'X_184', 'X_186', 'X_187', 'X_188', 'X_189', 'X_190', 'X_191', 'X_228', 'X_229', 'X_230', 'X_231', 'X_232', 'X_233', 'X_235', 'X_237', 'X_240', 'X_245', 'X_375', 'X_377', 'X_378', 'X_379', 'X_383', 'X_943', 'X_945', 'X_946', 'X_947', 'X_948', 'X_949', 'X_950', 'X_952', 'X_965', 'X_966', 'X_967', 'X_968', 'X_971', 'X_976', 'X_980', 'X_983', 'X_984', 'X_985', 'X_986', 'X_988', 'X_992', 'X_999', 'X_1000', 'X_1001', 'X_1002', 'X_1003', 'X_1004', 'X_1005', 'X_1009', 'X_1011', 'X_1012', 'X_1013', 'X_1016', 'X_1017', 'X_1018', 'X_1019', 'X_1020', 'X_1021', 'X_1060', 'X_1066', 'X_1071', 'X_1072', 'X_1074', 'X_1084', 'X_1088', 'X_1099', 'X_1115', 'X_1126', 'X_1133', 'X_1142', 'X_1153', 'X_1163', 'X_1164', 'X_1165', 'X_1166', 'X_1167', 'X_1178', 'X_1179', 'X_1184', 'X_1195', 'X_1196', 'X_1197', 'X_1200', 'X_1201', 'X_1202', 'X_1205', 'X_1206', 'X_1207', 'X_1209', 'X_1211', 'X_1212', 'X_1215', 'X_1216', 'X_1218', 'X_1221', 'X_1227', 'X_1229', 'X_1230', 'X_1231', 'X_1233', 'X_1235', 'X_1238', 'X_1239', 'X_1240', 'X_1242', 'X_1244', 'X_1245', 'X_1246', 'X_1247', 'X_1248', 'X_1249', 'X_1250', 'X_1251', 'X_1252', 'X_1253', 'X_1254', 'X_1256', 'X_1259', 'X_1261', 'X_1262', 'X_1263', 'X_1264', 'X_1265', 'X_1266', 'X_1267', 'X_1268', 'X_1269', 'X_1270', 'X_1271', 'X_1273', 'X_1275', 'X_1276', 'X_1278', 'X_1279', 'X_1280', 'X_1287', 'X_1289', 'X_1290', 'X_1291', 'X_1292', 'X_1294', 'X_1297', 'X_1305', 'X_1307', 'X_1308', 'X_1310', 'X_1312', 'X_1313', 'X_1314', 'X_1315', 'X_1316', 'X_1324', 'X_1333', 'X_1338', 'X_1343', 'X_1353', 'X_1357', 'X_1358', 'X_1359', 'X_1360', 'X_1363', 'X_1364', 'X_1367', 'X_1368', 'X_1369', 'X_1370', 'X_1371', 'X_1372', 'X_1373', 'X_1374', 'X_1375', 'X_1376', 'X_1377', 'X_1378', 'X_1379', 'X_1380', 'X_1382', 'X_1383', 'X_1384', 'X_1385', 'X_1386', 'X_1387', 'X_1388', 'X_1389', 'X_1390', 'X_1391', 'X_1392', 'X_1393', 'X_1394', 'X_1395', 'X_1422', 'X_1423', 'X_1453', 'X_1465', 'X_1483', 'X_1487', 'X_1498', 'X_1499', 'X_1500', 'X_1514', 'X_1515', 'X_1517', 'X_1518', 'X_1527', 'X_1528', 'X_1531', 'X_1533', 'X_1536', 'X_1549', 'X_1551', 'X_1554', 'X_1560', 'X_1561', 'X_1567', 'X_1568', 'X_1569', 'X_1570', 'X_1571', 'X_1572', 'X_1573', 'X_1574', 'X_1575', 'X_1576', 'X_1577', 'X_1578', 'X_1603', 'X_1640', 'X_1641', 'X_1643', 'X_1662', 'X_1663', 'X_1665', 'X_1666', 'X_1671', 'X_1672', 'X_1673', 'X_1676', 'X_1677', 'X_1679', 'X_1680', 'X_1681', 'X_1683', 'X_1684', 'X_1685', 'X_1687', 'X_1688', 'X_1689', 'X_1691', 'X_1692', 'X_1693', 'X_1694', 'X_1695', 'X_1696', 'X_1697', 'X_1698', 'X_1703', 'X_1705', 'X_1707', 'X_1709', 'X_1715', 'X_1717', 'X_1718', 'X_1719', 'X_1720', 'X_1725', 'X_1727', 'X_1729', 'X_1732', 'X_1745', 'X_1747', 'X_1749', 'X_1750', 'X_1751', 'X_1755', 'X_1756', 'X_1757', 'X_1761', 'X_1762', 'X_1763', 'X_1767', 'X_1768', 'X_1769', 'X_1770', 'X_1771', 'X_1772', 'X_1773', 'X_1774', 'X_1775', 'X_1779', 'X_1780', 'X_1781', 'X_1785', 'X_1786', 'X_1787', 'X_1791', 'X_1792', 'X_1793', 'X_1795', 'X_1797', 'X_1798', 'X_1799', 'X_1803', 'X_1804', 'X_1807', 'X_1809', 'X_1813', 'X_1817', 'X_1819', 'X_1823', 'X_1824', 'X_1827', 'X_1830', 'X_1831', 'X_1832', 'X_1833', 'X_1834', 'X_1835', 'X_1836', 'X_1837', 'X_1838', 'X_1839', 'X_1840', 'X_1841', 'X_1842', 'X_1843', 'X_1844', 'X_1847', 'X_1848', 'X_1850', 'X_1865', 'X_1866', 'X_1867', 'X_1868', 'X_1942', 'X_1967', 'X_1987', 'X_2038', 'X_2048', 'X_2049', 'X_2050', 'X_2051', 'X_2053', 'X_2055', 'X_2062', 'X_2063', 'X_2072', 'X_2090', 'X_2110', 'X_2180', 'X_2184', 'X_2185', 'X_2404', 'X_2413', 'X_2415', 'X_2416', 'X_2419', 'X_2421', 'X_2423', 'X_2429', 'X_2430', 'X_2431', 'X_2432', 'X_2433', 'X_2434', 'X_2435', 'X_2436', 'X_2437', 'X_2438', 'X_2439', 'X_2440', 'X_2441', 'X_2442', 'X_2443', 'X_2444', 'X_2445', 'X_2446', 'X_2447', 'X_2448', 'X_2449', 'X_2450', 'X_2452', 'X_2453', 'X_2454', 'X_2455', 'X_2456', 'X_2458', 'X_2459', 'X_2461', 'X_2462', 'X_2536', 'X_2541', 'X_2545', 'X_2546', 'X_2547', 'X_2624', 'X_2625', 'X_2626', 'X_2627', 'X_2708', 'X_2726', 'X_2728', 'X_2729', 'X_2734', 'X_2735', 'X_2736', 'X_2742', 'X_2743', 'X_2744', 'X_2745', 'X_2746', 'X_2747', 'X_2750', 'X_2751', 'X_2753', 'X_2754', 'X_2756', 'X_2757', 'X_2759', 'X_2760', 'X_2761', 'X_2762', 'X_2763', 'X_2764', 'X_2765', 'X_2766', 'X_2768', 'X_2769', 'X_2771', 'X_2776', 'X_2780', 'X_2784', 'X_2788', 'X_2790', 'X_2792', 'X_2793', 'X_2794', 'X_2795', 'X_2796', 'X_2797', 'X_2834', 'X_2835', 'X_2836', 'X_2840', 'X_2846', 'X_2848', 'X_2851', 'X_2853', 'X_2856', 'X_2864', 'X_2865', 'X_2867', 'X_2868', 'X_2869', 'X_2870', 'X_2871', 'month']

In [ ]:
len(non_null_cols_4)

503

In [ ]:
group_line4_df['PRODUCT_CODE'].value_counts()

A_31    42
Name: PRODUCT_CODE, dtype: int64

In [ ]:
group_line4_df.loc[:,non_null_cols_4]

,PRODUCT_ID,Y_Class,Y_Quality,LINE,PRODUCT_CODE,X_131,X_138,X_139,X_140,X_141,...,X_2853,X_2856,X_2864,X_2865,X_2867,X_2868,X_2869,X_2870,X_2871,month
1,TRAIN_001,2,0.541819,T050307,A_31,19854.0,414.0,589.3,595.8,575.9,...,151.2,177.1,367.735849,353.0,42.82,43.92,35.34,72.55,NaN,6
3,TRAIN_003,2,0.537325,T050307,A_31,19856.0,414.0,589.8,596.1,562.2,...,166.7,179.5,369.188679,353.0,39.17,52.17,30.58,71.78,NaN,6
5,TRAIN_005,2,0.537833,T050307,A_31,19859.0,414.0,589.8,596.1,568.6,...,164.6,179.3,368.622641,352.0,51.25,56.01,37.41,71.37,NaN,6
7,TRAIN_007,2,0.540003,T050307,A_31,19861.0,414.0,589.5,595.8,573.3,...,156.3,186.0,370.283019,353.0,35.95,59.51,30.49,72.77,NaN,6
9,TRAIN_009,2,0.538049,T050307,A_31,19864.0,414.0,589.5,595.8,573.8,...,140.8,170.3,372.870370,353.0,35.88,50.36,38.45,71.42,NaN,6
11,TRAIN_011,2,0.539149,T050307,A_31,19866.0,414.0,589.6,595.6,571.9,...,154.6,165.3,374.425926,352.0,35.49,52.27,31.45,72.46,NaN,6
13,TRAIN_013,2,0.538508,T050307,A_31,19869.0,414.0,589.3,595.5,573.2,...,153.4,169.6,374.075472,354.0,34.33,41.98,40.34,72.77,NaN,6
15,TRAIN_015,2,0.539254,T050307,A_31,19871.0,414.0,589.2,595.5,571.7,...,160.5,173.0,369.264151,353.0,44.53,41.54,37.20,72.46,NaN,6
17,TRAIN_017,2,0.538854,T050307,A_31,19874.0,414.0,589.1,595.4,573.8,...,157.7,171.9,369.169811,353.0,33.26,55.97,35.17,71.40,NaN,6
19,TRAIN_019,2,0.539235,T050307,A_31,19876.0,414.0,589.0,595.4,569.1,...,153.6,175.6,369.037736,353.0,NaN,NaN,NaN,NaN,NaN,6
24,TRAIN_024,2,0.578841,T050307,A_31,22589.0,504.0,590.1,600.4,553.6,...,172.9,190.9,368.074074,353.0,68.66,59.20,59.42,70.16,1.0,6
35,TRAIN_035,1,0.527976,T050307,A_31,26155.0,618.0,595.5,602.2,581.2,...,150.7,165.6,368.509434,353.0,NaN,NaN,NaN,NaN,1.0,6
81,TRAIN_081,2,0.544584,T050307,A_31,6473.0,171.0,572.5,576.1,559.2,...,142.0,167.4,369.358491,353.0,57.13,50.15,57.17,64.01,1.0,7
82,TRAIN_082,2,0.547481,T050307,A_31,6482.0,172.0,572.2,575.7,554.6,...,144.1,156.1,367.679245,352.0,NaN,NaN,NaN,NaN,1.0,7
187,TRAIN_187,2,0.562770,T050307,A_31,19631.0,609.0,582.2,588.3,568.3,...,143.7,159.8,367.622641,352.0,53.57,41.30,56.11,65.79,1.0,7
195,TRAIN_195,2,0.547592,T050307,A_31,20594.0,633.0,584.5,590.9,562.7,...,148.6,160.6,367.944444,353.0,NaN,NaN,NaN,NaN,1.0,7
198,TRAIN_198,2,0.542848,T050307,A_31,21289.0,646.0,581.9,588.8,543.3,...,149.8,161.9,369.092593,353.0,56.01,59.47,58.89,65.27,1.0,7
256,TRAIN_256,2,0.555616,T050307,A_31,25395.0,760.0,590.0,595.8,572.2,...,151.8,156.9,364.000000,343.0,61.60,40.97,52.82,64.22,1.0,7
261,TRAIN_261,2,0.537560,T050307,A_31,26126.0,779.0,591.3,597.4,572.0,...,147.8,162.2,367.566038,352.0,60.24,59.64,57.34,65.86,1.0,7
296,TRAIN_296,0,0.522368,T050307,A_31,1055.0,52.0,561.3,564.9,538.6,...,151.4,163.5,368.962264,352.0,63.10,60.41,58.94,64.95,1.0,7
298,TRAIN_298,0,0.523383,T050307,A_31,1102.0,52.0,560.2,563.8,534.5,...,147.5,153.1,368.425926,352.0,61.50,56.62,57.87,67.22,1.0,7
307,TRAIN_307,0,0.524551,T050307,A_31,1232.0,60.0,566.4,570.0,551.2,...,160.1,164.1,369.603774,352.0,59.90,56.30,56.83,62.83,1.0,7
316,TRAIN_316,2,0.543957,T050307,A_31,1561.0,69.0,565.1,568.5,554.2,...,146.1,160.8,368.358491,353.0,NaN,NaN,NaN,NaN,1.0,7
336,TRAIN_336,1,0.534843,T050307,A_31,2705.0,121.0,568.3,571.6,552.5,...,147.1,148.0,367.462963,353.0,NaN,NaN,NaN,NaN,1.0,8
355,TRAIN_355,2,0.550340,T050307,A_31,3699.0,159.0,570.3,574.5,560.1,...,147.6,158.4,369.094340,354.0,57.77,41.88,53.93,63.40,1.0,8
356,TRAIN_356,2,0.551949,T050307,A_31,3704.0,159.0,570.2,574.4,552.4,...,151.9,162.5,366.867925,352.0,NaN,NaN,NaN,NaN,1.0,8
369,TRAIN_369,2,0.539611,T050307,A_31,4446.0,180.0,567.5,571.8,553.4,...,152.8,158.5,364.245283,342.0,NaN,NaN,NaN,NaN,1.0,8
432,TRAIN_432,1,0.532386,T050307,A_31,10545.0,351.0,578.6,582.4,531.3,...,151.9,158.7,369.222222,352.0,59.57,42.58,57.58,64.90,1.0,8
444,TRAIN_444,1,0.527944,T050307,A_31,11538.0,378.0,578.7,582.8,565.6,...,145.0,153.5,368.358491,352.0,53.54,47.58,53.70,61.95,1.0,8
454,TRAIN_454,1,0.525086,T050307,A_31,11942.0,396.0,578.9,583.2,561.2,...,145.4,158.1,367.074074,352.0,53.03,53.75,58.96,64.01,1.0,8
477,TRAIN_477,0,0.524781,T050307,A_31,13975.0,451.0,580.0,584.7,564.9,...,154.1,160.8,367.283019,353.0,56.81,42.61,57.01,65.67,1.0,8
541,TRAIN_541,0,0.515884,T050307,A_31,806.0,58.0,552.3,557.2,537.4,...,145.7,143.1,368.490566,353.0,58.32,49.10,53.29,62.48,1.0,8
542,TRAIN_542,0,0.524090,T050307,A_31,829.0,58.0,552.6,557.6,535.0,...,163.3,138.0,367.905660,352.0,52.73,56.14,50.80,62.95,1.0,8
543,TRAIN_543,0,0.520911,T050307,A_31,851.0,59.0,552.7,557.6,534.3,...,147.0,122.5,367.849057,346.0,57.00,54.35,48.86,63.36,1.0,8
544,TRAIN_544,0,0.518835,T050307,A_31,874.0,59.0,553.3,558.1,527.3,...,137.7,140.7,364.092593,343.0,55.42,59.61,56.72,62.94,1.0,8
545,TRAIN_545,0,0.521494,T050307,A_31,896.0,59.0,553.4,558.3,532.9,...,150.1,133.9,368.905660,352.0,51.05,49.83,58.79,63.26,1.0,8
546,TRAIN_546,0,0.519406,T050307,A_31,919.0,59.0,553.8,558.7,517.6,...,139.5,135.4,367.870370,352.0,53.22,50.07,57.13,64.27,1.0,8
549,TRAIN_549,1,0.533711,T050307,A_31,2248.0,81.0,564.3,568.8,549.6,...,143.6,170.8,366.981132,344.0,56.26,53.14,56.30,66.03,1.0,8
550,TRAIN_550,1,0.533695,T050307,A_31,2278.0,82.0,564.3,568.6,549.0,...,177.8,166.4,363.037037,342.0,53.10,57.30,56.59,66.83,1.0,8
551,TRAIN_551,1,0.525271,T050307,A_31,2407.0,84.0,564.4,568.7,553.5,...,171.6,179.6,369.433962,352.0,56.24,54.47,50.56,62.53,1.0,8
552,TRAIN_552,1,0.529806,T050307,A_31,2446.0,84.0,564.6,568.9,549.2,...,165.6,173.0,369.396226,352.0,58.90,49.85,57.66,63.14,1.0,8
555,TRAIN_555,0,0.521406,T050307,A_31,2540.0,87.0,563.7,568.9,542.6,...,165.7,171.8,367.056604,353.0,NaN,NaN,NaN,NaN,1.0,8

In [ ]:
grouped4 = group_line4_df.groupby(group_line4_df.isnull().apply(tuple, axis=1))
cnt=0
for name, group in grouped4:
    cnt+=1
    globals()['line4_{}_df'.format(cnt)] = grouped4.get_group(name)

In [ ]:
cnt

8

In [ ]:
for i in range(1,9):
  print('4_{}번째 그룹의 unique rows'.format(i),len(globals()['line4_{}_df'.format(i)]))

4_1번째 그룹의 unique rows 2
4_2번째 그룹의 unique rows 9
4_3번째 그룹의 unique rows 2
4_4번째 그룹의 unique rows 1
4_5번째 그룹의 unique rows 7
4_6번째 그룹의 unique rows 15
4_7번째 그룹의 unique rows 2
4_8번째 그룹의 unique rows 4

In [ ]:
for i in range(1,9):
  globals()['non_null_cols4_{}'.format(i)] = globals()['line4_{}_df'.format(i)].columns[globals()['line4_{}_df'.format(i)].notnull().any()].tolist()
for j in range(1,9):
  print('4_{}번째 그룹의 non-nan column들은'.format(j),len(globals()['non_null_cols4_{}'.format(j)]),'개이다.')

4_1번째 그룹의 non-nan column들은 503 개이다.
4_2번째 그룹의 non-nan column들은 502 개이다.
4_3번째 그룹의 non-nan column들은 498 개이다.
4_4번째 그룹의 non-nan column들은 497 개이다.
4_5번째 그룹의 non-nan column들은 497 개이다.
4_6번째 그룹의 non-nan column들은 481 개이다.
4_7번째 그룹의 non-nan column들은 492 개이다.
4_8번째 그룹의 non-nan column들은 476 개이다.

In [ ]:
for k in range(1,9):
  print('4_{}번째 그룹의 unique row는 총'.format(k), len(globals()['line4_{}_df'.format(k)]),'개이고','총 non-nan column 개수는',len(globals()['non_null_cols4_{}'.format(k)]))

4_1번째 그룹의 unique row는 총 2 개이고 총 non-nan column 개수는 503
4_2번째 그룹의 unique row는 총 9 개이고 총 non-nan column 개수는 502
4_3번째 그룹의 unique row는 총 2 개이고 총 non-nan column 개수는 498
4_4번째 그룹의 unique row는 총 1 개이고 총 non-nan column 개수는 497
4_5번째 그룹의 unique row는 총 7 개이고 총 non-nan column 개수는 497
4_6번째 그룹의 unique row는 총 15 개이고 총 non-nan column 개수는 481
4_7번째 그룹의 unique row는 총 2 개이고 총 non-nan column 개수는 492
4_8번째 그룹의 unique row는 총 4 개이고 총 non-nan column 개수는 476

In [ ]:
row_index = 0
row = line4_8_df.iloc[row_index]

# create a boolean mask indicating which values are NaN
nan_mask = row.notna()

# select only the NaN values in the row
nan_values = row[nan_mask]

# print the NaN values
print(nan_values)

PRODUCT_ID       TRAIN_336
Y_Class                  1
Y_Quality         0.534843
LINE               T050307
PRODUCT_CODE          A_31
                   ...
X_2856               148.0
X_2864          367.462963
X_2865               353.0
X_2871                 1.0
month                    8
Name: 336, Length: 476, dtype: object

#5번라인: T100304, 175개. T/0_31

In [ ]:
group_line5_df

,PRODUCT_ID,Y_Class,Y_Quality,LINE,PRODUCT_CODE,X_2,X_4,X_6,X_10,X_11,...,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875,month
22,TRAIN_022,0,0.517719,T100304,T_31,102.0,45.0,0.0,2.0,514.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
23,TRAIN_023,0,0.519090,T100304,T_31,102.0,45.0,0.0,2.0,514.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
25,TRAIN_025,1,0.529362,T100304,T_31,97.0,45.0,0.0,2.0,517.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
29,TRAIN_029,1,0.532405,T100304,T_31,100.0,45.0,0.0,2.0,516.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
37,TRAIN_037,1,0.533110,T100304,T_31,100.0,45.0,0.0,2.0,517.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561,TRAIN_561,0,0.522148,T100304,T_31,98.0,45.0,0.0,2.0,500.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
569,TRAIN_569,1,0.530533,T100304,O_31,98.0,45.0,0.0,2.0,500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
571,TRAIN_571,1,0.525916,T100304,O_31,100.0,45.0,0.0,2.0,500.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
592,TRAIN_592,1,0.528349,T100304,T_31,98.0,45.0,0.0,2.0,505.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
596,TRAIN_596,1,0.531375,T100304,O_31,94.0,45.0,0.0,2.0,505.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9

In [ ]:
non_null_counts_5 = group_line5_df.notnull().sum()

# select only those columns with non-null values
non_null_cols_5 = non_null_counts_5[non_null_counts_5 > 0].index.tolist()

# print the resulting list of non-null columns
print(non_null_cols_5)

['PRODUCT_ID', 'Y_Class', 'Y_Quality', 'LINE', 'PRODUCT_CODE', 'X_2', 'X_4', 'X_6', 'X_10', 'X_11', 'X_12', 'X_13', 'X_14', 'X_15', 'X_19', 'X_20', 'X_21', 'X_22', 'X_23', 'X_24', 'X_25', 'X_26', 'X_27', 'X_28', 'X_29', 'X_30', 'X_31', 'X_32', 'X_33', 'X_63', 'X_64', 'X_65', 'X_66', 'X_67', 'X_68', 'X_69', 'X_70', 'X_71', 'X_72', 'X_73', 'X_74', 'X_75', 'X_76', 'X_77', 'X_78', 'X_79', 'X_80', 'X_81', 'X_85', 'X_86', 'X_87', 'X_88', 'X_89', 'X_90', 'X_91', 'X_92', 'X_96', 'X_98', 'X_100', 'X_101', 'X_102', 'X_103', 'X_105', 'X_107', 'X_108', 'X_109', 'X_110', 'X_111', 'X_112', 'X_114', 'X_118', 'X_122', 'X_384', 'X_386', 'X_387', 'X_388', 'X_389', 'X_390', 'X_391', 'X_392', 'X_393', 'X_397', 'X_399', 'X_401', 'X_402', 'X_404', 'X_405', 'X_406', 'X_407', 'X_420', 'X_421', 'X_422', 'X_423', 'X_425', 'X_426', 'X_427', 'X_428', 'X_429', 'X_430', 'X_431', 'X_433', 'X_434', 'X_435', 'X_437', 'X_440', 'X_442', 'X_443', 'X_444', 'X_462', 'X_463', 'X_467', 'X_469', 'X_470', 'X_472', 'X_473', 'X_475', 'X_476', 'X_483', 'X_485', 'X_491', 'X_499', 'X_501', 'X_504', 'X_505', 'X_507', 'X_508', 'X_515', 'X_525', 'X_526', 'X_527', 'X_528', 'X_529', 'X_532', 'X_533', 'X_534', 'X_535', 'X_538', 'X_539', 'X_540', 'X_541', 'X_544', 'X_547', 'X_548', 'X_549', 'X_550', 'X_551', 'X_552', 'X_553', 'X_554', 'X_555', 'X_556', 'X_557', 'X_559', 'X_563', 'X_565', 'X_566', 'X_567', 'X_568', 'X_569', 'X_570', 'X_572', 'X_576', 'X_577', 'X_578', 'X_579', 'X_580', 'X_582', 'X_583', 'X_584', 'X_585', 'X_587', 'X_588', 'X_590', 'X_591', 'X_595', 'X_596', 'X_597', 'X_598', 'X_599', 'X_600', 'X_601', 'X_602', 'X_603', 'X_604', 'X_605', 'X_606', 'X_607', 'X_608', 'X_609', 'X_611', 'X_612', 'X_613', 'X_614', 'X_615', 'X_616', 'X_618', 'X_619', 'X_620', 'X_627', 'X_629', 'X_630', 'X_632', 'X_634', 'X_635', 'X_636', 'X_637', 'X_638', 'X_646', 'X_654', 'X_655', 'X_656', 'X_658', 'X_660', 'X_662', 'X_663', 'X_664', 'X_665', 'X_666', 'X_667', 'X_668', 'X_669', 'X_670', 'X_672', 'X_674', 'X_676', 'X_677', 'X_678', 'X_679', 'X_680', 'X_682', 'X_683', 'X_684', 'X_686', 'X_687', 'X_688', 'X_689', 'X_690', 'X_691', 'X_692', 'X_693', 'X_694', 'X_695', 'X_696', 'X_707', 'X_711', 'X_712', 'X_713', 'X_715', 'X_716', 'X_717', 'X_718', 'X_719', 'X_721', 'X_722', 'X_724', 'X_725', 'X_728', 'X_731', 'X_732', 'X_734', 'X_735', 'X_736', 'X_739', 'X_740', 'X_744', 'X_745', 'X_750', 'X_751', 'X_752', 'X_753', 'X_755', 'X_756', 'X_757', 'X_758', 'X_760', 'X_761', 'X_763', 'X_764', 'X_765', 'X_766', 'X_768', 'X_769', 'X_772', 'X_773', 'X_774', 'X_775', 'X_778', 'X_779', 'X_781', 'X_782', 'X_783', 'X_784', 'X_785', 'X_786', 'X_787', 'X_788', 'X_789', 'X_790', 'X_791', 'X_792', 'X_793', 'X_794', 'X_809', 'X_810', 'X_811', 'X_812', 'X_817', 'X_818', 'X_819', 'X_820', 'X_821', 'X_822', 'X_823', 'X_824', 'X_825', 'X_826', 'X_830', 'X_831', 'X_832', 'X_833', 'X_834', 'X_835', 'X_837', 'X_839', 'X_840', 'X_841', 'X_842', 'X_844', 'X_845', 'X_846', 'X_847', 'X_848', 'X_853', 'X_855', 'X_858', 'X_859', 'X_860', 'X_861', 'X_863', 'X_864', 'X_865', 'X_868', 'X_869', 'X_870', 'X_875', 'X_876', 'X_877', 'X_878', 'X_880', 'X_881', 'X_882', 'X_883', 'X_884', 'X_885', 'X_886', 'X_890', 'X_894', 'X_895', 'X_896', 'X_897', 'X_898', 'X_899', 'X_900', 'X_902', 'X_903', 'X_905', 'X_906', 'X_907', 'X_908', 'X_909', 'X_910', 'X_911', 'X_916', 'X_918', 'X_921', 'X_924', 'X_926', 'X_927', 'X_928', 'X_929', 'X_930', 'X_931', 'X_932', 'X_933', 'month']

In [ ]:
len(non_null_cols_5)

385

In [ ]:
group_line5_df['PRODUCT_CODE'].value_counts()

T_31    172
O_31      3
Name: PRODUCT_CODE, dtype: int64

In [ ]:
group_line5_df.loc[:,non_null_cols_5]

,PRODUCT_ID,Y_Class,Y_Quality,LINE,PRODUCT_CODE,X_2,X_4,X_6,X_10,X_11,...,X_924,X_926,X_927,X_928,X_929,X_930,X_931,X_932,X_933,month
22,TRAIN_022,0,0.517719,T100304,T_31,102.0,45.0,0.0,2.0,514.4,...,172.5,157.235484,150.9,326.0,309.290909,290.0,13.7,13.443333,13.2,6
23,TRAIN_023,0,0.519090,T100304,T_31,102.0,45.0,0.0,2.0,514.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
25,TRAIN_025,1,0.529362,T100304,T_31,97.0,45.0,0.0,2.0,517.4,...,177.8,154.074194,150.9,327.0,310.854546,298.0,13.7,13.454839,13.2,6
29,TRAIN_029,1,0.532405,T100304,T_31,100.0,45.0,0.0,2.0,516.5,...,177.9,156.038710,149.1,327.0,312.109091,298.0,13.7,13.422581,13.2,6
37,TRAIN_037,1,0.533110,T100304,T_31,100.0,45.0,0.0,2.0,517.5,...,182.8,155.829032,148.4,327.0,312.254546,298.0,13.7,13.456667,13.3,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561,TRAIN_561,0,0.522148,T100304,T_31,98.0,45.0,0.0,2.0,500.2,...,164.1,156.932258,151.1,317.0,303.527273,289.0,13.7,13.470000,13.3,9
569,TRAIN_569,1,0.530533,T100304,O_31,98.0,45.0,0.0,2.0,500.0,...,181.7,155.541935,149.8,327.0,312.018182,298.0,13.6,13.458065,13.3,9
571,TRAIN_571,1,0.525916,T100304,O_31,100.0,45.0,0.0,2.0,500.4,...,175.4,159.864516,148.7,326.0,311.763636,298.0,13.7,13.425806,13.2,9
592,TRAIN_592,1,0.528349,T100304,T_31,98.0,45.0,0.0,2.0,505.5,...,171.5,152.535484,147.6,326.0,312.472727,298.0,13.6,13.361290,13.2,9
596,TRAIN_596,1,0.531375,T100304,O_31,94.0,45.0,0.0,2.0,505.8,...,189.2,173.190323,168.6,321.0,303.036364,289.0,13.6,13.406667,13.2,9

In [ ]:
grouped5 = group_line5_df.groupby(group_line5_df.isnull().apply(tuple, axis=1))
cnt=0
for name, group in grouped5:
    cnt+=1
    globals()['line5_{}_df'.format(cnt)] = grouped5.get_group(name)

In [ ]:
cnt

5

In [ ]:
for i in range(1,6):
  print('5_{}번째 그룹의 unique rows'.format(i),len(globals()['line5_{}_df'.format(i)]))

5_1번째 그룹의 unique rows 48
5_2번째 그룹의 unique rows 2
5_3번째 그룹의 unique rows 123
5_4번째 그룹의 unique rows 1
5_5번째 그룹의 unique rows 1

In [ ]:
for i in range(1,6):
  globals()['non_null_cols5_{}'.format(i)] = globals()['line5_{}_df'.format(i)].columns[globals()['line5_{}_df'.format(i)].notnull().any()].tolist()
for j in range(1,6):
  print('5_{}번째 그룹의 non-nan column들은'.format(j),len(globals()['non_null_cols5_{}'.format(j)]),'개이다.')

5_1번째 그룹의 non-nan column들은 383 개이다.
5_2번째 그룹의 non-nan column들은 377 개이다.
5_3번째 그룹의 non-nan column들은 375 개이다.
5_4번째 그룹의 non-nan column들은 371 개이다.
5_5번째 그룹의 non-nan column들은 145 개이다.

In [ ]:
for k in range(1,6):
  print('5_{}번째 그룹의 unique row는 총'.format(k), len(globals()['line5_{}_df'.format(k)]),'개이고','총 non-nan column 개수는',len(globals()['non_null_cols5_{}'.format(k)]))

5_1번째 그룹의 unique row는 총 48 개이고 총 non-nan column 개수는 383
5_2번째 그룹의 unique row는 총 2 개이고 총 non-nan column 개수는 377
5_3번째 그룹의 unique row는 총 123 개이고 총 non-nan column 개수는 375
5_4번째 그룹의 unique row는 총 1 개이고 총 non-nan column 개수는 371
5_5번째 그룹의 unique row는 총 1 개이고 총 non-nan column 개수는 145

In [ ]:
row_index = 0
row = line5_5_df.iloc[row_index]

# create a boolean mask indicating which values are NaN
nan_mask = row.notna()

# select only the NaN values in the row
nan_values = row[nan_mask]

# print the NaN values
print(nan_values)

PRODUCT_ID      TRAIN_023
Y_Class                 0
Y_Quality         0.51909
LINE              T100304
PRODUCT_CODE         T_31
                  ...
X_886                 0.0
X_898                10.0
X_899            5.714286
X_900                 2.0
month                   6
Name: 23, Length: 145, dtype: object

#6번라인: T100306, 174개. T/0_31

In [ ]:
group_line6_df

,PRODUCT_ID,Y_Class,Y_Quality,LINE,PRODUCT_CODE,X_2,X_4,X_6,X_10,X_11,...,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875,month
26,TRAIN_026,1,0.531992,T100306,T_31,95.0,45.0,0.0,2.0,477.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
30,TRAIN_030,1,0.528646,T100306,T_31,88.0,45.0,0.0,2.0,476.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
36,TRAIN_036,1,0.529633,T100306,T_31,91.0,45.0,0.0,2.0,478.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
42,TRAIN_042,1,0.530965,T100306,T_31,95.0,45.0,0.0,2.0,476.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
43,TRAIN_043,1,0.529498,T100306,T_31,95.0,45.0,0.0,2.0,477.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
589,TRAIN_589,1,0.529510,T100306,T_31,94.0,45.0,0.0,2.0,465.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
590,TRAIN_590,1,0.529948,T100306,T_31,89.0,45.0,0.0,2.0,466.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
591,TRAIN_591,1,0.529308,T100306,T_31,87.0,45.0,0.0,2.0,465.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
593,TRAIN_593,1,0.526546,T100306,T_31,95.0,45.0,0.0,2.0,468.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
597,TRAIN_597,1,0.533702,T100306,O_31,87.0,45.0,0.0,2.0,470.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9

In [ ]:
non_null_counts_6 = group_line6_df.notnull().sum()

# select only those columns with non-null values
non_null_cols_6 = non_null_counts_6[non_null_counts_6 > 0].index.tolist()

# print the resulting list of non-null columns
print(non_null_cols_6)

['PRODUCT_ID', 'Y_Class', 'Y_Quality', 'LINE', 'PRODUCT_CODE', 'X_2', 'X_4', 'X_6', 'X_10', 'X_11', 'X_12', 'X_13', 'X_14', 'X_15', 'X_19', 'X_20', 'X_21', 'X_22', 'X_23', 'X_24', 'X_25', 'X_26', 'X_27', 'X_28', 'X_29', 'X_30', 'X_31', 'X_32', 'X_33', 'X_63', 'X_64', 'X_65', 'X_66', 'X_67', 'X_68', 'X_69', 'X_70', 'X_71', 'X_72', 'X_73', 'X_74', 'X_75', 'X_76', 'X_77', 'X_78', 'X_79', 'X_80', 'X_81', 'X_85', 'X_86', 'X_87', 'X_88', 'X_89', 'X_90', 'X_91', 'X_96', 'X_98', 'X_100', 'X_101', 'X_102', 'X_103', 'X_104', 'X_105', 'X_107', 'X_108', 'X_109', 'X_110', 'X_111', 'X_112', 'X_118', 'X_122', 'X_384', 'X_386', 'X_387', 'X_388', 'X_389', 'X_390', 'X_391', 'X_392', 'X_393', 'X_397', 'X_399', 'X_401', 'X_402', 'X_404', 'X_405', 'X_406', 'X_407', 'X_420', 'X_421', 'X_422', 'X_423', 'X_425', 'X_426', 'X_427', 'X_428', 'X_429', 'X_430', 'X_431', 'X_433', 'X_434', 'X_435', 'X_437', 'X_440', 'X_442', 'X_443', 'X_444', 'X_462', 'X_463', 'X_467', 'X_469', 'X_470', 'X_472', 'X_473', 'X_475', 'X_476', 'X_483', 'X_485', 'X_491', 'X_499', 'X_501', 'X_504', 'X_505', 'X_507', 'X_508', 'X_515', 'X_525', 'X_526', 'X_527', 'X_528', 'X_529', 'X_532', 'X_533', 'X_534', 'X_535', 'X_538', 'X_539', 'X_540', 'X_541', 'X_544', 'X_547', 'X_548', 'X_549', 'X_550', 'X_551', 'X_552', 'X_553', 'X_554', 'X_555', 'X_556', 'X_557', 'X_559', 'X_563', 'X_565', 'X_566', 'X_567', 'X_568', 'X_569', 'X_570', 'X_572', 'X_576', 'X_577', 'X_578', 'X_579', 'X_580', 'X_582', 'X_583', 'X_584', 'X_585', 'X_587', 'X_588', 'X_590', 'X_591', 'X_595', 'X_596', 'X_597', 'X_598', 'X_599', 'X_600', 'X_601', 'X_602', 'X_603', 'X_604', 'X_605', 'X_606', 'X_607', 'X_608', 'X_609', 'X_611', 'X_612', 'X_613', 'X_614', 'X_615', 'X_616', 'X_618', 'X_619', 'X_620', 'X_627', 'X_629', 'X_630', 'X_632', 'X_634', 'X_635', 'X_636', 'X_637', 'X_638', 'X_646', 'X_654', 'X_655', 'X_656', 'X_658', 'X_660', 'X_662', 'X_663', 'X_664', 'X_665', 'X_666', 'X_667', 'X_668', 'X_669', 'X_670', 'X_672', 'X_674', 'X_676', 'X_677', 'X_678', 'X_679', 'X_680', 'X_682', 'X_683', 'X_684', 'X_686', 'X_687', 'X_688', 'X_689', 'X_690', 'X_691', 'X_692', 'X_693', 'X_694', 'X_695', 'X_696', 'X_707', 'X_711', 'X_712', 'X_713', 'X_715', 'X_716', 'X_717', 'X_718', 'X_719', 'X_721', 'X_722', 'X_724', 'X_725', 'X_728', 'X_731', 'X_732', 'X_734', 'X_735', 'X_736', 'X_739', 'X_740', 'X_744', 'X_745', 'X_750', 'X_751', 'X_752', 'X_753', 'X_755', 'X_756', 'X_757', 'X_758', 'X_760', 'X_761', 'X_763', 'X_764', 'X_765', 'X_766', 'X_768', 'X_769', 'X_772', 'X_773', 'X_774', 'X_775', 'X_778', 'X_779', 'X_781', 'X_782', 'X_783', 'X_784', 'X_785', 'X_786', 'X_787', 'X_788', 'X_789', 'X_790', 'X_791', 'X_792', 'X_793', 'X_794', 'X_809', 'X_810', 'X_811', 'X_812', 'X_817', 'X_818', 'X_819', 'X_820', 'X_821', 'X_822', 'X_823', 'X_824', 'X_825', 'X_826', 'X_830', 'X_831', 'X_832', 'X_833', 'X_834', 'X_835', 'X_837', 'X_839', 'X_840', 'X_841', 'X_842', 'X_844', 'X_845', 'X_846', 'X_847', 'X_848', 'X_853', 'X_855', 'X_858', 'X_859', 'X_860', 'X_861', 'X_863', 'X_864', 'X_865', 'X_868', 'X_869', 'X_870', 'X_875', 'X_876', 'X_877', 'X_878', 'X_880', 'X_881', 'X_882', 'X_883', 'X_884', 'X_885', 'X_886', 'X_890', 'X_894', 'X_895', 'X_896', 'X_897', 'X_898', 'X_899', 'X_900', 'X_902', 'X_903', 'X_905', 'X_906', 'X_907', 'X_908', 'X_909', 'X_910', 'X_911', 'X_916', 'X_918', 'X_921', 'X_924', 'X_926', 'X_927', 'X_928', 'X_929', 'X_930', 'X_931', 'X_932', 'X_933', 'month']

In [ ]:
len(non_null_cols_6)

384

In [ ]:
group_line6_df['PRODUCT_CODE'].value_counts()

T_31    171
O_31      3
Name: PRODUCT_CODE, dtype: int64

In [ ]:
group_line6_df.loc[:,non_null_cols_6]

,PRODUCT_ID,Y_Class,Y_Quality,LINE,PRODUCT_CODE,X_2,X_4,X_6,X_10,X_11,...,X_924,X_926,X_927,X_928,X_929,X_930,X_931,X_932,X_933,month
26,TRAIN_026,1,0.531992,T100306,T_31,95.0,45.0,0.0,2.0,477.4,...,166.9,151.096774,146.5,327.0,313.618182,299.0,13.7,13.461290,13.3,6
30,TRAIN_030,1,0.528646,T100306,T_31,88.0,45.0,0.0,2.0,476.4,...,174.5,153.574194,147.6,327.0,313.109091,297.0,13.7,13.376667,13.2,6
36,TRAIN_036,1,0.529633,T100306,T_31,91.0,45.0,0.0,2.0,478.4,...,179.3,151.890323,146.1,327.0,309.636364,292.0,13.7,13.454839,13.3,6
42,TRAIN_042,1,0.530965,T100306,T_31,95.0,45.0,0.0,2.0,476.4,...,176.0,155.129032,151.0,327.0,312.553571,298.0,13.7,13.503333,13.3,6
43,TRAIN_043,1,0.529498,T100306,T_31,95.0,45.0,0.0,2.0,477.3,...,183.1,159.100000,155.0,326.0,305.370370,288.0,13.7,13.446667,13.2,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
589,TRAIN_589,1,0.529510,T100306,T_31,94.0,45.0,0.0,2.0,465.5,...,170.1,154.309677,149.1,326.0,311.272727,298.0,13.7,13.483871,13.3,9
590,TRAIN_590,1,0.529948,T100306,T_31,89.0,45.0,0.0,2.0,466.0,...,176.2,154.812903,150.0,327.0,313.400000,299.0,13.6,13.393548,13.2,9
591,TRAIN_591,1,0.529308,T100306,T_31,87.0,45.0,0.0,2.0,465.9,...,177.0,154.777419,147.7,326.0,313.472727,298.0,13.6,13.400000,13.2,9
593,TRAIN_593,1,0.526546,T100306,T_31,95.0,45.0,0.0,2.0,468.9,...,172.8,155.438710,149.0,327.0,313.363636,298.0,13.6,13.351613,13.2,9
597,TRAIN_597,1,0.533702,T100306,O_31,87.0,45.0,0.0,2.0,470.6,...,188.2,167.087097,161.1,326.0,304.818182,289.0,13.6,13.380000,13.2,9

In [ ]:
grouped6 = group_line6_df.groupby(group_line6_df.isnull().apply(tuple, axis=1))
cnt=0
for name, group in grouped6:
    cnt+=1
    globals()['line6_{}_df'.format(cnt)] = grouped6.get_group(name)

In [ ]:
cnt

3

In [ ]:
non_null_cols6_1 = line6_1_df.columns[line6_1_df.notnull().any()].tolist()
non_null_cols6_2 = line6_2_df.columns[line6_2_df.notnull().any()].tolist()
non_null_cols6_3 = line6_3_df.columns[line6_3_df.notnull().any()].tolist()

# print the resulting list of non-null columns
print(non_null_cols6_1)
print(non_null_cols6_2)
print(non_null_cols6_3)

['PRODUCT_ID', 'Y_Class', 'Y_Quality', 'LINE', 'PRODUCT_CODE', 'X_2', 'X_4', 'X_6', 'X_10', 'X_11', 'X_12', 'X_13', 'X_14', 'X_15', 'X_19', 'X_20', 'X_21', 'X_22', 'X_23', 'X_24', 'X_25', 'X_26', 'X_27', 'X_28', 'X_29', 'X_30', 'X_31', 'X_32', 'X_33', 'X_63', 'X_64', 'X_65', 'X_66', 'X_67', 'X_68', 'X_69', 'X_70', 'X_71', 'X_72', 'X_73', 'X_74', 'X_75', 'X_76', 'X_77', 'X_78', 'X_79', 'X_80', 'X_81', 'X_85', 'X_86', 'X_87', 'X_88', 'X_89', 'X_90', 'X_91', 'X_96', 'X_98', 'X_100', 'X_101', 'X_102', 'X_103', 'X_104', 'X_105', 'X_107', 'X_108', 'X_109', 'X_110', 'X_111', 'X_112', 'X_118', 'X_122', 'X_384', 'X_386', 'X_387', 'X_388', 'X_389', 'X_390', 'X_391', 'X_392', 'X_393', 'X_397', 'X_399', 'X_401', 'X_402', 'X_404', 'X_405', 'X_406', 'X_407', 'X_420', 'X_421', 'X_422', 'X_423', 'X_425', 'X_426', 'X_427', 'X_428', 'X_429', 'X_430', 'X_431', 'X_433', 'X_434', 'X_435', 'X_437', 'X_440', 'X_442', 'X_443', 'X_444', 'X_462', 'X_463', 'X_467', 'X_469', 'X_470', 'X_472', 'X_473', 'X_475', 'X_476', 'X_483', 'X_485', 'X_491', 'X_499', 'X_501', 'X_504', 'X_505', 'X_507', 'X_508', 'X_515', 'X_525', 'X_526', 'X_527', 'X_528', 'X_529', 'X_532', 'X_533', 'X_534', 'X_535', 'X_538', 'X_539', 'X_540', 'X_541', 'X_544', 'X_547', 'X_548', 'X_549', 'X_550', 'X_551', 'X_552', 'X_553', 'X_554', 'X_555', 'X_556', 'X_557', 'X_559', 'X_563', 'X_565', 'X_566', 'X_567', 'X_568', 'X_569', 'X_570', 'X_572', 'X_576', 'X_577', 'X_578', 'X_579', 'X_580', 'X_582', 'X_583', 'X_584', 'X_585', 'X_587', 'X_588', 'X_590', 'X_591', 'X_595', 'X_596', 'X_597', 'X_598', 'X_599', 'X_600', 'X_601', 'X_602', 'X_603', 'X_604', 'X_605', 'X_606', 'X_607', 'X_608', 'X_609', 'X_611', 'X_612', 'X_613', 'X_614', 'X_615', 'X_616', 'X_618', 'X_619', 'X_620', 'X_627', 'X_629', 'X_630', 'X_632', 'X_634', 'X_635', 'X_636', 'X_637', 'X_638', 'X_646', 'X_654', 'X_655', 'X_656', 'X_658', 'X_660', 'X_662', 'X_663', 'X_664', 'X_665', 'X_666', 'X_667', 'X_668', 'X_669', 'X_670', 'X_672', 'X_674', 'X_676', 'X_677', 'X_678', 'X_679', 'X_680', 'X_682', 'X_683', 'X_684', 'X_686', 'X_687', 'X_688', 'X_689', 'X_690', 'X_691', 'X_692', 'X_693', 'X_694', 'X_695', 'X_696', 'X_707', 'X_711', 'X_712', 'X_713', 'X_715', 'X_716', 'X_717', 'X_718', 'X_719', 'X_721', 'X_722', 'X_724', 'X_725', 'X_728', 'X_731', 'X_732', 'X_734', 'X_735', 'X_736', 'X_739', 'X_740', 'X_744', 'X_745', 'X_750', 'X_751', 'X_752', 'X_753', 'X_755', 'X_756', 'X_757', 'X_758', 'X_763', 'X_764', 'X_765', 'X_766', 'X_768', 'X_769', 'X_772', 'X_773', 'X_774', 'X_775', 'X_778', 'X_779', 'X_781', 'X_782', 'X_783', 'X_784', 'X_785', 'X_786', 'X_787', 'X_788', 'X_789', 'X_790', 'X_791', 'X_792', 'X_793', 'X_794', 'X_809', 'X_810', 'X_811', 'X_812', 'X_817', 'X_818', 'X_819', 'X_820', 'X_821', 'X_822', 'X_823', 'X_824', 'X_825', 'X_826', 'X_830', 'X_831', 'X_832', 'X_833', 'X_834', 'X_835', 'X_837', 'X_839', 'X_840', 'X_841', 'X_842', 'X_844', 'X_845', 'X_846', 'X_847', 'X_848', 'X_853', 'X_855', 'X_858', 'X_859', 'X_860', 'X_861', 'X_863', 'X_864', 'X_865', 'X_868', 'X_869', 'X_870', 'X_875', 'X_876', 'X_877', 'X_878', 'X_880', 'X_881', 'X_882', 'X_883', 'X_884', 'X_885', 'X_886', 'X_890', 'X_894', 'X_895', 'X_896', 'X_897', 'X_898', 'X_899', 'X_900', 'X_902', 'X_903', 'X_905', 'X_906', 'X_907', 'X_908', 'X_909', 'X_910', 'X_911', 'X_916', 'X_918', 'X_921', 'X_924', 'X_926', 'X_927', 'X_928', 'X_929', 'X_930', 'X_931', 'X_932', 'X_933', 'month']
['PRODUCT_ID', 'Y_Class', 'Y_Quality', 'LINE', 'PRODUCT_CODE', 'X_2', 'X_4', 'X_6', 'X_10', 'X_11', 'X_12', 'X_13', 'X_14', 'X_15', 'X_19', 'X_20', 'X_21', 'X_22', 'X_23', 'X_24', 'X_25', 'X_26', 'X_27', 'X_28', 'X_29', 'X_30', 'X_31', 'X_32', 'X_33', 'X_63', 'X_64', 'X_65', 'X_66', 'X_67', 'X_68', 'X_69', 'X_70', 'X_71', 'X_72', 'X_73', 'X_74', 'X_75', 'X_76', 'X_77', 'X_78', 'X_79', 'X_80', 'X_81', 'X_85', 'X_86', 'X_87', 'X_88', 'X_89', 'X_90', 'X_91', 'X_96', 'X_98', 'X_100', 'X_101', 'X_102', 'X_103', 'X_104', 'X_105', 'X_107', 'X_108', 'X_109', 'X_110', 'X_111', 'X_112', 'X_118', 'X_122', 'X_384', 'X_386', 'X_387', 'X_388', 'X_389', 'X_390', 'X_391', 'X_392', 'X_393', 'X_397', 'X_399', 'X_401', 'X_402', 'X_404', 'X_405', 'X_406', 'X_407', 'X_420', 'X_421', 'X_422', 'X_423', 'X_425', 'X_426', 'X_427', 'X_428', 'X_429', 'X_430', 'X_431', 'X_433', 'X_434', 'X_435', 'X_437', 'X_440', 'X_442', 'X_443', 'X_444', 'X_462', 'X_463', 'X_467', 'X_469', 'X_470', 'X_472', 'X_473', 'X_475', 'X_476', 'X_483', 'X_485', 'X_491', 'X_499', 'X_501', 'X_504', 'X_505', 'X_507', 'X_508', 'X_515', 'X_525', 'X_526', 'X_527', 'X_528', 'X_534', 'X_535', 'X_538', 'X_539', 'X_540', 'X_541', 'X_544', 'X_547', 'X_548', 'X_549', 'X_550', 'X_551', 'X_552', 'X_553', 'X_554', 'X_555', 'X_556', 'X_557', 'X_559', 'X_563', 'X_565', 'X_566', 'X_567', 'X_568', 'X_569', 'X_570', 'X_572', 'X_576', 'X_577', 'X_578', 'X_579', 'X_580', 'X_582', 'X_583', 'X_584', 'X_585', 'X_587', 'X_588', 'X_590', 'X_591', 'X_595', 'X_596', 'X_597', 'X_598', 'X_599', 'X_605', 'X_606', 'X_607', 'X_608', 'X_609', 'X_611', 'X_612', 'X_613', 'X_614', 'X_615', 'X_616', 'X_618', 'X_619', 'X_620', 'X_627', 'X_629', 'X_630', 'X_632', 'X_634', 'X_635', 'X_636', 'X_637', 'X_638', 'X_646', 'X_654', 'X_655', 'X_656', 'X_658', 'X_660', 'X_662', 'X_663', 'X_664', 'X_665', 'X_666', 'X_667', 'X_668', 'X_669', 'X_670', 'X_672', 'X_674', 'X_676', 'X_677', 'X_678', 'X_679', 'X_680', 'X_682', 'X_683', 'X_684', 'X_686', 'X_687', 'X_688', 'X_689', 'X_690', 'X_691', 'X_692', 'X_693', 'X_694', 'X_695', 'X_696', 'X_707', 'X_711', 'X_712', 'X_713', 'X_715', 'X_716', 'X_717', 'X_718', 'X_719', 'X_721', 'X_722', 'X_724', 'X_725', 'X_728', 'X_731', 'X_732', 'X_734', 'X_735', 'X_736', 'X_739', 'X_740', 'X_744', 'X_745', 'X_750', 'X_751', 'X_752', 'X_753', 'X_755', 'X_756', 'X_757', 'X_758', 'X_760', 'X_761', 'X_763', 'X_764', 'X_765', 'X_766', 'X_768', 'X_769', 'X_772', 'X_773', 'X_774', 'X_775', 'X_778', 'X_779', 'X_781', 'X_782', 'X_783', 'X_784', 'X_785', 'X_786', 'X_787', 'X_788', 'X_789', 'X_790', 'X_791', 'X_792', 'X_793', 'X_794', 'X_809', 'X_810', 'X_811', 'X_812', 'X_817', 'X_818', 'X_819', 'X_820', 'X_821', 'X_822', 'X_823', 'X_824', 'X_825', 'X_826', 'X_830', 'X_831', 'X_832', 'X_833', 'X_834', 'X_835', 'X_837', 'X_839', 'X_840', 'X_841', 'X_842', 'X_844', 'X_845', 'X_846', 'X_847', 'X_848', 'X_853', 'X_855', 'X_858', 'X_859', 'X_860', 'X_861', 'X_863', 'X_864', 'X_865', 'X_868', 'X_869', 'X_870', 'X_875', 'X_876', 'X_877', 'X_878', 'X_880', 'X_881', 'X_882', 'X_883', 'X_884', 'X_885', 'X_886', 'X_890', 'X_894', 'X_895', 'X_896', 'X_897', 'X_898', 'X_899', 'X_900', 'X_902', 'X_903', 'X_905', 'X_906', 'X_907', 'X_908', 'X_909', 'X_910', 'X_911', 'X_916', 'X_918', 'X_921', 'X_924', 'X_926', 'X_927', 'X_928', 'X_929', 'X_930', 'X_931', 'X_932', 'X_933', 'month']
['PRODUCT_ID', 'Y_Class', 'Y_Quality', 'LINE', 'PRODUCT_CODE', 'X_2', 'X_4', 'X_6', 'X_10', 'X_11', 'X_12', 'X_13', 'X_14', 'X_15', 'X_19', 'X_20', 'X_21', 'X_22', 'X_23', 'X_24', 'X_25', 'X_26', 'X_27', 'X_28', 'X_29', 'X_30', 'X_31', 'X_32', 'X_33', 'X_63', 'X_64', 'X_65', 'X_66', 'X_67', 'X_68', 'X_69', 'X_70', 'X_71', 'X_72', 'X_73', 'X_74', 'X_75', 'X_76', 'X_77', 'X_78', 'X_79', 'X_80', 'X_81', 'X_85', 'X_86', 'X_87', 'X_88', 'X_89', 'X_90', 'X_91', 'X_96', 'X_98', 'X_100', 'X_101', 'X_102', 'X_103', 'X_104', 'X_105', 'X_107', 'X_108', 'X_109', 'X_110', 'X_111', 'X_112', 'X_118', 'X_122', 'X_384', 'X_386', 'X_387', 'X_388', 'X_389', 'X_390', 'X_391', 'X_392', 'X_393', 'X_397', 'X_399', 'X_401', 'X_402', 'X_404', 'X_405', 'X_406', 'X_407', 'X_420', 'X_421', 'X_422', 'X_423', 'X_425', 'X_426', 'X_427', 'X_428', 'X_429', 'X_430', 'X_431', 'X_433', 'X_434', 'X_435', 'X_437', 'X_440', 'X_442', 'X_443', 'X_444', 'X_462', 'X_463', 'X_467', 'X_469', 'X_470', 'X_472', 'X_473', 'X_475', 'X_476', 'X_483', 'X_485', 'X_491', 'X_499', 'X_501', 'X_504', 'X_505', 'X_507', 'X_508', 'X_515', 'X_525', 'X_526', 'X_527', 'X_528', 'X_534', 'X_535', 'X_538', 'X_539', 'X_540', 'X_541', 'X_544', 'X_547', 'X_548', 'X_549', 'X_550', 'X_551', 'X_552', 'X_553', 'X_554', 'X_555', 'X_556', 'X_557', 'X_559', 'X_563', 'X_565', 'X_566', 'X_567', 'X_568', 'X_569', 'X_570', 'X_572', 'X_576', 'X_577', 'X_578', 'X_579', 'X_580', 'X_582', 'X_583', 'X_584', 'X_585', 'X_587', 'X_588', 'X_590', 'X_591', 'X_595', 'X_596', 'X_597', 'X_598', 'X_599', 'X_605', 'X_606', 'X_607', 'X_608', 'X_609', 'X_611', 'X_612', 'X_613', 'X_614', 'X_615', 'X_616', 'X_618', 'X_619', 'X_620', 'X_627', 'X_629', 'X_630', 'X_632', 'X_634', 'X_635', 'X_636', 'X_637', 'X_638', 'X_646', 'X_654', 'X_655', 'X_656', 'X_658', 'X_660', 'X_662', 'X_663', 'X_664', 'X_665', 'X_666', 'X_667', 'X_668', 'X_669', 'X_670', 'X_672', 'X_674', 'X_676', 'X_677', 'X_678', 'X_679', 'X_680', 'X_682', 'X_683', 'X_684', 'X_686', 'X_687', 'X_688', 'X_689', 'X_690', 'X_691', 'X_692', 'X_693', 'X_694', 'X_695', 'X_696', 'X_707', 'X_711', 'X_712', 'X_713', 'X_715', 'X_716', 'X_717', 'X_718', 'X_719', 'X_721', 'X_722', 'X_724', 'X_725', 'X_728', 'X_731', 'X_732', 'X_734', 'X_735', 'X_736', 'X_739', 'X_740', 'X_744', 'X_745', 'X_750', 'X_751', 'X_752', 'X_753', 'X_755', 'X_756', 'X_757', 'X_758', 'X_763', 'X_764', 'X_765', 'X_766', 'X_768', 'X_769', 'X_772', 'X_773', 'X_774', 'X_775', 'X_778', 'X_779', 'X_781', 'X_782', 'X_783', 'X_784', 'X_785', 'X_786', 'X_787', 'X_788', 'X_789', 'X_790', 'X_791', 'X_792', 'X_793', 'X_794', 'X_809', 'X_810', 'X_811', 'X_812', 'X_817', 'X_818', 'X_819', 'X_820', 'X_821', 'X_822', 'X_823', 'X_824', 'X_825', 'X_826', 'X_830', 'X_831', 'X_832', 'X_833', 'X_834', 'X_835', 'X_837', 'X_839', 'X_840', 'X_841', 'X_842', 'X_844', 'X_845', 'X_846', 'X_847', 'X_848', 'X_853', 'X_855', 'X_858', 'X_859', 'X_860', 'X_861', 'X_863', 'X_864', 'X_865', 'X_868', 'X_869', 'X_870', 'X_875', 'X_876', 'X_877', 'X_878', 'X_880', 'X_881', 'X_882', 'X_883', 'X_884', 'X_885', 'X_886', 'X_890', 'X_894', 'X_895', 'X_896', 'X_897', 'X_898', 'X_899', 'X_900', 'X_902', 'X_903', 'X_905', 'X_906', 'X_907', 'X_908', 'X_909', 'X_910', 'X_911', 'X_916', 'X_918', 'X_921', 'X_924', 'X_926', 'X_927', 'X_928', 'X_929', 'X_930', 'X_931', 'X_932', 'X_933', 'month']

In [ ]:
print(len(line6_1_df))
print(len(line6_2_df))
print(len(line6_3_df))

38
8
128

In [ ]:
print('1번그룹에서의 설명변수 개수는 총', len(non_null_cols6_1))
print('2번그룹에서의 설명변수 개수는 총', len(non_null_cols6_2))
print('3번그룹에서의 설명변수 개수는 총', len(non_null_cols6_3))

1번그룹에서의 설명변수 개수는 총 382
2번그룹에서의 설명변수 개수는 총 376
3번그룹에서의 설명변수 개수는 총 374

In [ ]:
print('1번과 2번이 공유하는 변수들 개수(교집합)',len(list(set(non_null_cols6_1).intersection(non_null_cols6_2))))
print('1번과 2번이 공유하는 변수 합집합',len(list(set(non_null_cols6_1).union(non_null_cols6_2))))
print()
print('1번과 3번이 공유하는 변수들 개수(교집합)',len(list(set(non_null_cols6_1).intersection(non_null_cols6_3))))
print('1번과 3번이 공유하는 변수 합집합',len(list(set(non_null_cols6_1).union(non_null_cols6_3))))
print()
print('2번과 3번이 공유하는 변수들 개수(교집합)',len(list(set(non_null_cols6_2).intersection(non_null_cols6_3))))
print('2번과 3번이 공유하는 변수 합집합',len(list(set(non_null_cols6_2).union(non_null_cols6_3))))

1번과 2번이 공유하는 변수들 개수(교집합) 374
1번과 2번이 공유하는 변수 합집합 384

1번과 3번이 공유하는 변수들 개수(교집합) 374
1번과 3번이 공유하는 변수 합집합 382

2번과 3번이 공유하는 변수들 개수(교집합) 374
2번과 3번이 공유하는 변수 합집합 376

In [ ]:
for i in range(1,4):
  print('6_{}번째 그룹의 unique rows'.format(i),len(globals()['line6_{}_df'.format(i)]))

6_1번째 그룹의 unique rows 38
6_2번째 그룹의 unique rows 8
6_3번째 그룹의 unique rows 128

In [ ]:
for i in range(1,4):
  globals()['non_null_cols6_{}'.format(i)] = globals()['line6_{}_df'.format(i)].columns[globals()['line6_{}_df'.format(i)].notnull().any()].tolist()
for j in range(1,4):
  print('6_{}번째 그룹의 non-nan column들은'.format(j),len(globals()['non_null_cols6_{}'.format(j)]),'개이다.')

6_1번째 그룹의 non-nan column들은 382 개이다.
6_2번째 그룹의 non-nan column들은 376 개이다.
6_3번째 그룹의 non-nan column들은 374 개이다.

In [ ]:
for k in range(1,4):
  print('6_{}번째 그룹의 unique row는 총'.format(k), len(globals()['line6_{}_df'.format(k)]),'개이고','총 non-nan column 개수는',len(globals()['non_null_cols6_{}'.format(k)]))

6_1번째 그룹의 unique row는 총 38 개이고 총 non-nan column 개수는 382
6_2번째 그룹의 unique row는 총 8 개이고 총 non-nan column 개수는 376
6_3번째 그룹의 unique row는 총 128 개이고 총 non-nan column 개수는 374

# 상관계수 0.8 이상인 것 지우기

In [ ]:
import pandas as pd

# Load your dataset into a pandas DataFrame
df=train_df
# Compute the correlation matrix
corr_matrix = df.corr().abs()

# Set a threshold for identifying highly correlated columns
threshold = 0.8

# Find index of feature columns with correlation greater than threshold
# Exclude diagonal elements by using mask and np.ones_like function
mask = np.ones_like(corr_matrix, dtype=bool)
mask[np.triu_indices_from(mask)] = False
high_corr_cols = np.where(corr_matrix > threshold, mask, False)
high_corr_cols = np.column_stack(np.where(high_corr_cols))

# Identify the column(s) to keep from each pair of highly correlated columns
cols_to_drop = set()
for i, j in high_corr_cols:
    if i not in cols_to_drop and j not in cols_to_drop:
        corr_i = corr_matrix.iloc[i, i+1:]
        corr_j = corr_matrix.iloc[j, j+1:]
        if corr_i.mean() > corr_j.mean():
            cols_to_drop.add(j)
        else:
            cols_to_drop.add(i)

# Drop the highly correlated columns from the DataFrame
df.drop(df.columns[list(cols_to_drop)], axis=1, inplace=True)

#이어서

In [ ]:
!pip install catboost

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: catboost in /usr/local/lib/python3.8/dist-packages (1.1.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.8/dist-packages (from catboost) (1.22.4)
Requirement already satisfied: plotly in /usr/local/lib/python3.8/dist-packages (from catboost) (5.5.0)
Requirement already satisfied: graphviz in /usr/local/lib/python3.8/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from catboost) (1.7.3)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.8/dist-packages (from catboost) (1.3.5)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->catboost) (2022.7.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (3.0.9)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from plotly->catboost) (8.2.1)

In [ ]:
non_null_cols_1

['PRODUCT_ID',
 'Y_Class',
 'Y_Quality',
 'LINE',
 'PRODUCT_CODE',
 'X_248',
 'X_251',
 'X_255',
 'X_256',
 'X_259',
 'X_260',
 'X_267',
 'X_268',
 'X_270',
 'X_271',
 'X_272',
 'X_274',
 'X_275',
 'X_276',
 'X_278',
 'X_279',
 'X_280',
 'X_308',
 'X_309',
 'X_310',
 'X_311',
 'X_312',
 'X_313',
 'X_315',
 'X_318',
 'X_319',
 'X_320',
 'X_321',
 'X_322',
 'X_323',
 'X_324',
 'X_325',
 'X_326',
 'X_330',
 'X_332',
 'X_333',
 'X_334',
 'X_335',
 'X_336',
 'X_337',
 'X_338',
 'X_339',
 'X_343',
 'X_347',
 'X_351',
 'X_352',
 'X_353',
 'X_355',
 'X_359',
 'X_365',
 'X_367',
 'X_369',
 'X_371',
 'X_372',
 'X_943',
 'X_945',
 'X_946',
 'X_947',
 'X_948',
 'X_949',
 'X_950',
 'X_952',
 'X_965',
 'X_966',
 'X_967',
 'X_968',
 'X_971',
 'X_976',
 'X_980',
 'X_983',
 'X_984',
 'X_985',
 'X_986',
 'X_988',
 'X_992',
 'X_999',
 'X_1000',
 'X_1001',
 'X_1002',
 'X_1003',
 'X_1004',
 'X_1005',
 'X_1013',
 'X_1016',
 'X_1017',
 'X_1018',
 'X_1019',
 'X_1020',
 'X_1021',
 'X_1060',
 'X_1066',
 'X_1071',
 'X_1072',
 'X_1074',
 'X_1084',
 'X_1088',
 'X_1099',
 'X_1115',
 'X_1126',
 'X_1133',
 'X_1142',
 'X_1153',
 'X_1163',
 'X_1164',
 'X_1165',
 'X_1166',
 'X_1167',
 'X_1178',
 'X_1179',
 'X_1184',
 'X_1195',
 'X_1196',
 'X_1197',
 'X_1200',
 'X_1201',
 'X_1202',
 'X_1205',
 'X_1206',
 'X_1207',
 'X_1209',
 'X_1211',
 'X_1212',
 'X_1215',
 'X_1216',
 'X_1218',
 'X_1219',
 'X_1221',
 'X_1227',
 'X_1229',
 'X_1230',
 'X_1231',
 'X_1233',
 'X_1235',
 'X_1238',
 'X_1239',
 'X_1240',
 'X_1242',
 'X_1244',
 'X_1245',
 'X_1246',
 'X_1247',
 'X_1248',
 'X_1249',
 'X_1250',
 'X_1251',
 'X_1252',
 'X_1253',
 'X_1254',
 'X_1256',
 'X_1259',
 'X_1261',
 'X_1262',
 'X_1263',
 'X_1264',
 'X_1265',
 'X_1266',
 'X_1267',
 'X_1268',
 'X_1269',
 'X_1270',
 'X_1271',
 'X_1273',
 'X_1275',
 'X_1276',
 'X_1278',
 'X_1279',
 'X_1280',
 'X_1287',
 'X_1289',
 'X_1290',
 'X_1291',
 'X_1292',
 'X_1294',
 'X_1297',
 'X_1305',
 'X_1307',
 'X_1308',
 'X_1310',
 'X_1312',
 'X_1313',
 'X_1314',
 'X_1315',
 'X_1316',
 'X_1324',
 'X_1333',
 'X_1338',
 'X_1343',
 'X_1353',
 'X_1357',
 'X_1358',
 'X_1359',
 'X_1360',
 'X_1363',
 'X_1364',
 'X_1366',
 'X_1367',
 'X_1368',
 'X_1369',
 'X_1370',
 'X_1371',
 'X_1372',
 'X_1373',
 'X_1374',
 'X_1375',
 'X_1376',
 'X_1377',
 'X_1378',
 'X_1379',
 'X_1380',
 'X_1382',
 'X_1383',
 'X_1384',
 'X_1385',
 'X_1386',
 'X_1387',
 'X_1388',
 'X_1389',
 'X_1390',
 'X_1391',
 'X_1392',
 'X_1393',
 'X_1394',
 'X_1395',
 'X_1422',
 'X_1423',
 'X_1453',
 'X_1465',
 'X_1483',
 'X_1487',
 'X_1498',
 'X_1499',
 'X_1500',
 'X_1514',
 'X_1515',
 'X_1517',
 'X_1527',
 'X_1528',
 'X_1531',
 'X_1536',
 'X_1549',
 'X_1551',
 'X_1554',
 'X_1560',
 'X_1561',
 'X_1567',
 'X_1568',
 'X_1569',
 'X_1570',
 'X_1571',
 'X_1572',
 'X_1573',
 'X_1574',
 'X_1575',
 'X_1576',
 'X_1577',
 'X_1578',
 'X_1603',
 'X_1640',
 'X_1641',
 'X_1643',
 'X_1662',
 'X_1663',
 'X_1665',
 'X_1666',
 'X_1671',
 'X_1672',
 'X_1673',
 'X_1676',
 'X_1677',
 'X_1679',
 'X_1696',
 'X_1697',
 'X_1698',
 'X_2048',
 'X_2049',
 'X_2050',
 'X_2051',
 'X_2053',
 'X_2055',
 'X_2846',
 'X_2848',
 'X_2851',
 'X_2853',
 'X_2856',
 'X_2864',
 'X_2865',
 'month']

In [ ]:
non_null_cols_1

['Y_Class',
 'Y_Quality',
 'LINE',
 'PRODUCT_CODE',
 'X_248',
 'X_251',
 'X_255',
 'X_256',
 'X_259',
 'X_260',
 'X_267',
 'X_268',
 'X_270',
 'X_271',
 'X_272',
 'X_274',
 'X_275',
 'X_276',
 'X_278',
 'X_279',
 'X_280',
 'X_308',
 'X_309',
 'X_310',
 'X_311',
 'X_312',
 'X_313',
 'X_315',
 'X_318',
 'X_319',
 'X_320',
 'X_321',
 'X_322',
 'X_323',
 'X_324',
 'X_325',
 'X_326',
 'X_330',
 'X_332',
 'X_333',
 'X_334',
 'X_335',
 'X_336',
 'X_337',
 'X_338',
 'X_339',
 'X_343',
 'X_347',
 'X_351',
 'X_352',
 'X_353',
 'X_355',
 'X_359',
 'X_365',
 'X_367',
 'X_369',
 'X_371',
 'X_372',
 'X_943',
 'X_945',
 'X_946',
 'X_947',
 'X_948',
 'X_949',
 'X_950',
 'X_952',
 'X_965',
 'X_966',
 'X_967',
 'X_968',
 'X_971',
 'X_976',
 'X_980',
 'X_983',
 'X_984',
 'X_985',
 'X_986',
 'X_988',
 'X_992',
 'X_999',
 'X_1000',
 'X_1001',
 'X_1002',
 'X_1003',
 'X_1004',
 'X_1005',
 'X_1013',
 'X_1016',
 'X_1017',
 'X_1018',
 'X_1019',
 'X_1020',
 'X_1021',
 'X_1060',
 'X_1066',
 'X_1071',
 'X_1072',
 'X_1074',
 'X_1084',
 'X_1088',
 'X_1099',
 'X_1115',
 'X_1126',
 'X_1133',
 'X_1142',
 'X_1153',
 'X_1163',
 'X_1164',
 'X_1165',
 'X_1166',
 'X_1167',
 'X_1178',
 'X_1179',
 'X_1184',
 'X_1195',
 'X_1196',
 'X_1197',
 'X_1200',
 'X_1201',
 'X_1202',
 'X_1205',
 'X_1206',
 'X_1207',
 'X_1209',
 'X_1211',
 'X_1212',
 'X_1215',
 'X_1216',
 'X_1218',
 'X_1219',
 'X_1221',
 'X_1227',
 'X_1229',
 'X_1230',
 'X_1231',
 'X_1233',
 'X_1235',
 'X_1238',
 'X_1239',
 'X_1240',
 'X_1242',
 'X_1244',
 'X_1245',
 'X_1246',
 'X_1247',
 'X_1248',
 'X_1249',
 'X_1250',
 'X_1251',
 'X_1252',
 'X_1253',
 'X_1254',
 'X_1256',
 'X_1259',
 'X_1261',
 'X_1262',
 'X_1263',
 'X_1264',
 'X_1265',
 'X_1266',
 'X_1267',
 'X_1268',
 'X_1269',
 'X_1270',
 'X_1271',
 'X_1273',
 'X_1275',
 'X_1276',
 'X_1278',
 'X_1279',
 'X_1280',
 'X_1287',
 'X_1289',
 'X_1290',
 'X_1291',
 'X_1292',
 'X_1294',
 'X_1297',
 'X_1305',
 'X_1307',
 'X_1308',
 'X_1310',
 'X_1312',
 'X_1313',
 'X_1314',
 'X_1315',
 'X_1316',
 'X_1324',
 'X_1333',
 'X_1338',
 'X_1343',
 'X_1353',
 'X_1357',
 'X_1358',
 'X_1359',
 'X_1360',
 'X_1363',
 'X_1364',
 'X_1366',
 'X_1367',
 'X_1368',
 'X_1369',
 'X_1370',
 'X_1371',
 'X_1372',
 'X_1373',
 'X_1374',
 'X_1375',
 'X_1376',
 'X_1377',
 'X_1378',
 'X_1379',
 'X_1380',
 'X_1382',
 'X_1383',
 'X_1384',
 'X_1385',
 'X_1386',
 'X_1387',
 'X_1388',
 'X_1389',
 'X_1390',
 'X_1391',
 'X_1392',
 'X_1393',
 'X_1394',
 'X_1395',
 'X_1422',
 'X_1423',
 'X_1453',
 'X_1465',
 'X_1483',
 'X_1487',
 'X_1498',
 'X_1499',
 'X_1500',
 'X_1514',
 'X_1515',
 'X_1517',
 'X_1527',
 'X_1528',
 'X_1531',
 'X_1536',
 'X_1549',
 'X_1551',
 'X_1554',
 'X_1560',
 'X_1561',
 'X_1567',
 'X_1568',
 'X_1569',
 'X_1570',
 'X_1571',
 'X_1572',
 'X_1573',
 'X_1574',
 'X_1575',
 'X_1576',
 'X_1577',
 'X_1578',
 'X_1603',
 'X_1640',
 'X_1641',
 'X_1643',
 'X_1662',
 'X_1663',
 'X_1665',
 'X_1666',
 'X_1671',
 'X_1672',
 'X_1673',
 'X_1676',
 'X_1677',
 'X_1679',
 'X_1696',
 'X_1697',
 'X_1698',
 'X_2048',
 'X_2049',
 'X_2050',
 'X_2051',
 'X_2053',
 'X_2055',
 'X_2846',
 'X_2848',
 'X_2851',
 'X_2853',
 'X_2856',
 'X_2864',
 'X_2865',
 'month']

In [ ]:
#나중에 한꺼번에 해줄작업에서 충돌나는 것 방지 위해서 remove
non_null_cols_1.remove('PRODUCT_ID')
non_null_cols_2.remove('PRODUCT_ID')
non_null_cols_3.remove('PRODUCT_ID')
non_null_cols_4.remove('PRODUCT_ID')
non_null_cols_5.remove('PRODUCT_ID')
non_null_cols_6.remove('PRODUCT_ID')

In [ ]:
train_df

,PRODUCT_ID,Y_Class,Y_Quality,LINE,PRODUCT_CODE,X_2,X_4,X_6,X_10,X_11,...,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875,month
0,TRAIN_000,1,0.533433,T050304,A_31,NaN,NaN,NaN,NaN,NaN,...,40.89,32.56,34.09,77.77,NaN,NaN,NaN,NaN,NaN,6
1,TRAIN_001,2,0.541819,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,42.82,43.92,35.34,72.55,NaN,NaN,NaN,NaN,NaN,6
2,TRAIN_002,1,0.531267,T050304,A_31,NaN,NaN,NaN,NaN,NaN,...,36.65,42.47,36.53,78.35,NaN,NaN,NaN,NaN,NaN,6
3,TRAIN_003,2,0.537325,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,39.17,52.17,30.58,71.78,NaN,NaN,NaN,NaN,NaN,6
4,TRAIN_004,1,0.531590,T050304,A_31,NaN,NaN,NaN,NaN,NaN,...,41.89,46.93,33.09,76.97,NaN,NaN,NaN,NaN,NaN,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593,TRAIN_593,1,0.526546,T100306,T_31,95.0,45.0,0.0,2.0,468.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
594,TRAIN_594,0,0.524022,T050304,A_31,NaN,NaN,NaN,NaN,NaN,...,53.07,50.89,55.10,66.49,1.0,NaN,NaN,NaN,NaN,9
595,TRAIN_595,0,0.521289,T050304,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,9
596,TRAIN_596,1,0.531375,T100304,O_31,94.0,45.0,0.0,2.0,505.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
597,TRAIN_597,1,0.533702,T100306,O_31,87.0,45.0,0.0,2.0,470.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9

In [ ]:
import catboost

In [ ]:
train_df#timestamp to month

,PRODUCT_ID,Y_Class,Y_Quality,LINE,PRODUCT_CODE,X_2,X_4,X_6,X_10,X_11,...,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875,month
0,TRAIN_000,1,0.533433,T050304,A_31,NaN,NaN,NaN,NaN,NaN,...,40.89,32.56,34.09,77.77,NaN,NaN,NaN,NaN,NaN,6
1,TRAIN_001,2,0.541819,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,42.82,43.92,35.34,72.55,NaN,NaN,NaN,NaN,NaN,6
2,TRAIN_002,1,0.531267,T050304,A_31,NaN,NaN,NaN,NaN,NaN,...,36.65,42.47,36.53,78.35,NaN,NaN,NaN,NaN,NaN,6
3,TRAIN_003,2,0.537325,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,39.17,52.17,30.58,71.78,NaN,NaN,NaN,NaN,NaN,6
4,TRAIN_004,1,0.531590,T050304,A_31,NaN,NaN,NaN,NaN,NaN,...,41.89,46.93,33.09,76.97,NaN,NaN,NaN,NaN,NaN,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593,TRAIN_593,1,0.526546,T100306,T_31,95.0,45.0,0.0,2.0,468.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
594,TRAIN_594,0,0.524022,T050304,A_31,NaN,NaN,NaN,NaN,NaN,...,53.07,50.89,55.10,66.49,1.0,NaN,NaN,NaN,NaN,9
595,TRAIN_595,0,0.521289,T050304,A_31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,9
596,TRAIN_596,1,0.531375,T100304,O_31,94.0,45.0,0.0,2.0,505.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
597,TRAIN_597,1,0.533702,T100306,O_31,87.0,45.0,0.0,2.0,470.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9

In [ ]:
test_x

,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,...,X_2863,X_2864,X_2865,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,month
0,T100306,T_31,2.0,94.0,0.0,45.0,10.0,0.0,51.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
1,T100304,T_31,2.0,93.0,0.0,45.0,11.0,0.0,45.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
2,T100304,T_31,2.0,95.0,0.0,45.0,11.0,0.0,45.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
3,T010305,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,467.0,444.192308,423.0,NaN,NaN,NaN,NaN,NaN,NaN,9
4,T010306,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,465.0,443.211539,423.0,NaN,NaN,NaN,NaN,NaN,NaN,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,T100306,T_31,2.0,91.0,0.0,45.0,10.0,0.0,51.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
306,T100304,T_31,2.0,96.0,0.0,45.0,11.0,0.0,45.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
307,T100306,T_31,2.0,91.0,0.0,45.0,10.0,0.0,50.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
308,T100306,T_31,2.0,95.0,0.0,45.0,10.0,0.0,51.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
309,T100306,T_31,2.0,87.0,0.0,45.0,10.0,0.0,51.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11

In [ ]:
train_x=train_df.drop(columns=['PRODUCT_ID'])
test_x=test_df.drop(columns=['PRODUCT_ID'])

In [ ]:
test_x

,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,...,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875,month
0,T100306,T_31,2.0,94.0,0.0,45.0,10.0,0.0,51.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
1,T100304,T_31,2.0,93.0,0.0,45.0,11.0,0.0,45.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
2,T100304,T_31,2.0,95.0,0.0,45.0,11.0,0.0,45.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
3,T010305,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
4,T010306,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,T100306,T_31,2.0,91.0,0.0,45.0,10.0,0.0,51.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
306,T100304,T_31,2.0,96.0,0.0,45.0,11.0,0.0,45.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
307,T100306,T_31,2.0,91.0,0.0,45.0,10.0,0.0,50.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
308,T100306,T_31,2.0,95.0,0.0,45.0,10.0,0.0,51.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
309,T100306,T_31,2.0,87.0,0.0,45.0,10.0,0.0,51.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11

In [ ]:
train_x

,Y_Class,Y_Quality,LINE,PRODUCT_CODE,X_2,X_4,X_6,X_10,X_11,X_12,...,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875,month
0,1,0.533433,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,40.89,32.56,34.09,77.77,NaN,NaN,NaN,NaN,NaN,6
1,2,0.541819,T050307,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,42.82,43.92,35.34,72.55,NaN,NaN,NaN,NaN,NaN,6
2,1,0.531267,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,36.65,42.47,36.53,78.35,NaN,NaN,NaN,NaN,NaN,6
3,2,0.537325,T050307,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,39.17,52.17,30.58,71.78,NaN,NaN,NaN,NaN,NaN,6
4,1,0.531590,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,41.89,46.93,33.09,76.97,NaN,NaN,NaN,NaN,NaN,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593,1,0.526546,T100306,T_31,95.0,45.0,0.0,2.0,468.9,473.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
594,0,0.524022,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,53.07,50.89,55.10,66.49,1.0,NaN,NaN,NaN,NaN,9
595,0,0.521289,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,9
596,1,0.531375,T100304,O_31,94.0,45.0,0.0,2.0,505.8,510.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
597,1,0.533702,T100306,O_31,87.0,45.0,0.0,2.0,470.6,474.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9

In [ ]:
A = pd.DataFrame(train_x.isnull().sum(),columns=['sum'])

In [ ]:
a = list(A[A['sum']==train_x.shape[0]].index)
a

['X_2628',
 'X_2629',
 'X_2630',
 'X_2631',
 'X_2632',
 'X_2633',
 'X_2634',
 'X_2635',
 'X_2636',
 'X_2637',
 'X_2638',
 'X_2639',
 'X_2640',
 'X_2641',
 'X_2642',
 'X_2643',
 'X_2644',
 'X_2645',
 'X_2646',
 'X_2647',
 'X_2648',
 'X_2649',
 'X_2650',
 'X_2651',
 'X_2652',
 'X_2653',
 'X_2654',
 'X_2655',
 'X_2656',
 'X_2657',
 'X_2658',
 'X_2659',
 'X_2660',
 'X_2661',
 'X_2662',
 'X_2663',
 'X_2664',
 'X_2665',
 'X_2666',
 'X_2667',
 'X_2668',
 'X_2669',
 'X_2670',
 'X_2671',
 'X_2672',
 'X_2673',
 'X_2674',
 'X_2675',
 'X_2676',
 'X_2677',
 'X_2678',
 'X_2679',
 'X_2680',
 'X_2681',
 'X_2682',
 'X_2683',
 'X_2684',
 'X_2685',
 'X_2686',
 'X_2687',
 'X_2688',
 'X_2689',
 'X_2690',
 'X_2691',
 'X_2692',
 'X_2693',
 'X_2694',
 'X_2695',
 'X_2699',
 'X_2838',
 'X_2844',
 'X_2872',
 'X_2873',
 'X_2874',
 'X_2875']

In [ ]:
train_x.drop(columns=a,inplace=True)
test_x.drop(columns=a, inplace=True)

In [ ]:
train_x

,Y_Class,Y_Quality,LINE,PRODUCT_CODE,X_2,X_4,X_6,X_10,X_11,X_12,...,X_2853,X_2856,X_2864,X_2865,X_2867,X_2868,X_2869,X_2870,X_2871,month
0,1,0.533433,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,164.9,181.6,368.296296,353.0,40.89,32.56,34.09,77.77,NaN,6
1,2,0.541819,T050307,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,151.2,177.1,367.735849,353.0,42.82,43.92,35.34,72.55,NaN,6
2,1,0.531267,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,167.4,183.6,367.320755,353.0,36.65,42.47,36.53,78.35,NaN,6
3,2,0.537325,T050307,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,166.7,179.5,369.188679,353.0,39.17,52.17,30.58,71.78,NaN,6
4,1,0.531590,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,167.6,188.0,367.351852,352.0,41.89,46.93,33.09,76.97,NaN,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593,1,0.526546,T100306,T_31,95.0,45.0,0.0,2.0,468.9,473.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
594,0,0.524022,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,179.5,168.2,369.811321,353.0,53.07,50.89,55.10,66.49,1.0,9
595,0,0.521289,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,182.5,153.4,367.018868,352.0,NaN,NaN,NaN,NaN,1.0,9
596,1,0.531375,T100304,O_31,94.0,45.0,0.0,2.0,505.8,510.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
597,1,0.533702,T100306,O_31,87.0,45.0,0.0,2.0,470.6,474.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9

In [ ]:
train_x.fillna(0)
test_x.fillna(0)

,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,...,X_2865,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,month_09,month_10,month_11
0,T100306,T_31,2.0,94.0,0.0,45.0,10.0,0.0,51.0,10.0,...,406.0,0.0,55.925,51.46,56.175,65.14,1.0,1,0,0
1,T100304,T_31,2.0,93.0,0.0,45.0,11.0,0.0,45.0,10.0,...,406.0,0.0,55.925,51.46,56.175,65.14,1.0,1,0,0
2,T100304,T_31,2.0,95.0,0.0,45.0,11.0,0.0,45.0,10.0,...,406.0,0.0,55.925,51.46,56.175,65.14,1.0,1,0,0
3,T010305,A_31,0.0,95.0,0.0,45.0,0.0,0.0,0.0,0.0,...,423.0,0.0,55.925,51.46,56.175,65.14,1.0,1,0,0
4,T010306,A_31,0.0,95.0,0.0,45.0,0.0,0.0,0.0,0.0,...,423.0,0.0,55.925,51.46,56.175,65.14,1.0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,T100306,T_31,2.0,91.0,0.0,45.0,10.0,0.0,51.0,10.0,...,406.0,0.0,55.925,51.46,56.175,65.14,1.0,0,0,1
306,T100304,T_31,2.0,96.0,0.0,45.0,11.0,0.0,45.0,10.0,...,406.0,0.0,55.925,51.46,56.175,65.14,1.0,0,0,1
307,T100306,T_31,2.0,91.0,0.0,45.0,10.0,0.0,50.0,10.0,...,406.0,0.0,55.925,51.46,56.175,65.14,1.0,0,0,1
308,T100306,T_31,2.0,95.0,0.0,45.0,10.0,0.0,51.0,10.0,...,406.0,0.0,55.925,51.46,56.175,65.14,1.0,0,0,1
309,T100306,T_31,2.0,87.0,0.0,45.0,10.0,0.0,51.0,10.0,...,406.0,0.0,55.925,51.46,56.175,65.14,1.0,0,0,1

In [ ]:
#1번라인
train_x1=train_x[train_x['LINE']=='T010305']
train_y1 = train_x1['Y_Quality']
train_x1=train_x1[non_null_cols_1]
clf1 = catboost.CatBoostRegressor(learning_rate=0.05, iterations=500, verbose=0)
clf1.fit(train_x1, train_y1, early_stopping_rounds=100, cat_features=['PRODUCT_CODE', 'LINE'])

#2번라인

train_x2=train_x[train_x['LINE']=='T010306']
train_y2 = train_x2['Y_Quality']
train_x2=train_x2[non_null_cols_2]
clf2 = catboost.CatBoostRegressor(learning_rate=0.05, iterations=500, verbose=0)
clf2.fit(train_x2, train_y2, early_stopping_rounds=100, cat_features=['PRODUCT_CODE', 'LINE'])

#3번라인

train_x3=train_x[train_x['LINE']=='T050304']
train_y3 = train_x3['Y_Quality']
train_x3=train_x3[non_null_cols_3]
clf3 = catboost.CatBoostRegressor(learning_rate=0.05, iterations=500, verbose=0)
clf3.fit(train_x3, train_y3, early_stopping_rounds=100, cat_features=['PRODUCT_CODE', 'LINE'])

#4번라인

train_x4=train_x[train_x['LINE']=='T050307']
train_y4 = train_x4['Y_Quality']
train_x4=train_x4[non_null_cols_4]
clf4 = catboost.CatBoostRegressor(learning_rate=0.05, iterations=500, verbose=0)
clf4.fit(train_x1, train_y1, early_stopping_rounds=100, cat_features=['PRODUCT_CODE', 'LINE'])

#5번라인
train_x5=train_x[train_x['LINE']=='T100304']
train_y5 = train_x5['Y_Quality']
train_x5=train_x5[non_null_cols_5]
clf5 = catboost.CatBoostRegressor(learning_rate=0.05, iterations=500, verbose=0)
clf5.fit(train_x5, train_y5, early_stopping_rounds=100, cat_features=['PRODUCT_CODE', 'LINE'])

#6번라인
train_x6=train_x[train_x['LINE']=='T100306']
train_y6 = train_x6['Y_Quality']
train_x6=train_x6[non_null_cols_6]
clf6 = catboost.CatBoostRegressor(learning_rate=0.05, iterations=500, verbose=0)
clf6.fit(train_x6, train_y6, early_stopping_rounds=100, cat_features=['PRODUCT_CODE', 'LINE'])

In [ ]:
train_x

,Y_Class,Y_Quality,LINE,PRODUCT_CODE,X_2,X_4,X_6,X_10,X_11,X_12,...,X_2865,X_2867,X_2868,X_2869,X_2870,X_2871,month_06,month_07,month_08,month_09
0,1,0.533433,T050304,A_31,95.0,45.0,0.0,2.0,499.9,505.0,...,353.0,40.890,32.56,34.090,77.77,1.0,1,0,0,0
1,2,0.541819,T050307,A_31,95.0,45.0,0.0,2.0,499.9,505.0,...,353.0,42.820,43.92,35.340,72.55,1.0,1,0,0,0
2,1,0.531267,T050304,A_31,95.0,45.0,0.0,2.0,499.9,505.0,...,353.0,36.650,42.47,36.530,78.35,1.0,1,0,0,0
3,2,0.537325,T050307,A_31,95.0,45.0,0.0,2.0,499.9,505.0,...,353.0,39.170,52.17,30.580,71.78,1.0,1,0,0,0
4,1,0.531590,T050304,A_31,95.0,45.0,0.0,2.0,499.9,505.0,...,352.0,41.890,46.93,33.090,76.97,1.0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593,1,0.526546,T100306,T_31,95.0,45.0,0.0,2.0,468.9,473.9,...,406.0,55.925,51.46,56.175,65.14,1.0,0,0,0,1
594,0,0.524022,T050304,A_31,95.0,45.0,0.0,2.0,499.9,505.0,...,353.0,53.070,50.89,55.100,66.49,1.0,0,0,0,1
595,0,0.521289,T050304,A_31,95.0,45.0,0.0,2.0,499.9,505.0,...,352.0,55.925,51.46,56.175,65.14,1.0,0,0,0,1
596,1,0.531375,T100304,O_31,94.0,45.0,0.0,2.0,505.8,510.9,...,406.0,55.925,51.46,56.175,65.14,1.0,0,0,0,1
597,1,0.533702,T100306,O_31,87.0,45.0,0.0,2.0,470.6,474.9,...,406.0,55.925,51.46,56.175,65.14,1.0,0,0,0,1

In [ ]:
test_x['month_06'] = 0
test_x['month_07'] = 0
test_x['month_08'] = 0
test_x

,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,...,X_2868,X_2869,X_2870,X_2871,month_09,month_10,month_11,month_06,month_07,month_08
0,T100306,T_31,2.0,94.0,0.0,45.0,10.0,0.0,51.0,10.0,...,51.46,56.175,65.14,1.0,1,0,0,0,0,0
1,T100304,T_31,2.0,93.0,0.0,45.0,11.0,0.0,45.0,10.0,...,51.46,56.175,65.14,1.0,1,0,0,0,0,0
2,T100304,T_31,2.0,95.0,0.0,45.0,11.0,0.0,45.0,10.0,...,51.46,56.175,65.14,1.0,1,0,0,0,0,0
3,T010305,A_31,NaN,95.0,NaN,45.0,NaN,0.0,NaN,NaN,...,51.46,56.175,65.14,1.0,1,0,0,0,0,0
4,T010306,A_31,NaN,95.0,NaN,45.0,NaN,0.0,NaN,NaN,...,51.46,56.175,65.14,1.0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,T100306,T_31,2.0,91.0,0.0,45.0,10.0,0.0,51.0,10.0,...,51.46,56.175,65.14,1.0,0,0,1,0,0,0
306,T100304,T_31,2.0,96.0,0.0,45.0,11.0,0.0,45.0,10.0,...,51.46,56.175,65.14,1.0,0,0,1,0,0,0
307,T100306,T_31,2.0,91.0,0.0,45.0,10.0,0.0,50.0,10.0,...,51.46,56.175,65.14,1.0,0,0,1,0,0,0
308,T100306,T_31,2.0,95.0,0.0,45.0,10.0,0.0,51.0,10.0,...,51.46,56.175,65.14,1.0,0,0,1,0,0,0
309,T100306,T_31,2.0,87.0,0.0,45.0,10.0,0.0,51.0,10.0,...,51.46,56.175,65.14,1.0,0,0,1,0,0,0